section.about-us__hero {

  display: flex;
  justify-content: center;
  align-items: center;

  .headline {
    svg {
      width: 100%;
      height: auto;
      max-width: 348px;
    }
  }

  @media(max-width: $mobile_layout_breckpoint){
    max-height: initial;
    padding: 128px 0 64px;
    img {
      margin-bottom: 48px;
    }
  }
}