section.about-us__clients {
  margin: 64px 0;
  text-align: center;
  svg {
    margin: 24px auto;
  }
  a {
  	transition: opacity 400ms;
  	&:hover {
  		opacity: 0.6;
  	}
  }
  @media(max-width: $mobile_layout_breckpoint){
  }
  @media(min-width: $mobile_layout_breckpoint + 1){;
  } 
}
