section.stats {
  .stats-card {
    padding: 38px 54px 32px 28px;
    background: $accent_color--yellow;
  }
  span {
    display: inline-block;
    font-size: 64px;
    line-height: 64px;
    margin: 0 auto 38px;
    font-family: 'ChronicleDisplayRoman';
    span {
      margin: 0;
    }
  }
  p {
    margin: 0;
    font-size: 14px;
  }

  @media(max-width: $mobile_layout_breckpoint){
    margin: 64px auto;
    .stats-card {
      margin-bottom: 24px;
    }
    .row > div:last-child .stats-card {
      margin: 0;
    }
  }
  @media(min-width: $mobile_layout_breckpoint + 1){
    margin: 148px auto;
    .stats-card {
      min-height: 220px;
    }
  }
}