section.about-us__copies {
  p {
    color: #898EA1;
  }
  .underline_decoration {
    color: $main_text_color;
    &:before {
      background-color: $accent_color--green;
    }
  }


  .btn-primary {
    text-transform: uppercase;
    background-color: $accent_color--pink;
    border-radius: 0;
    border: none;
    padding: 0 14px 0 20px;
    color: $main_text_color;
    min-width: 120px;
    padding-top: 4px;
    line-height: 54px;
    font-size: 14px;
    font-family: 'Graphik LCG Medium';
    svg {
      margin-left: 12px;
      vertical-align: middle;
      margin-top: -4px;
    }
  }


  @media(max-width: $mobile_layout_breckpoint){
    margin: 64px auto;
    .about-us__image {
      margin: 0 auto 48px;
    }
    .headline {
      margin-bottom: 32px;
    }
    .lead {
      margin-bottom: 16px;
      &:last-child {
        margin: 0 auto 32px;
      }
    }
    .button-wrap {
      margin: 48px auto 0;
    }
  }
  @media(min-width: $mobile_layout_breckpoint + 1){
    margin: 148px auto;
    .headline {
      margin-bottom: 64px;
      padding-right: 80px;
    }
    .lead {
      margin-bottom: 28px;
      padding-right: 80px;
      &:last-child {
        margin: 0;
      }
    }
    .button-wrap {
      margin: 64px auto 0;
    }
  }
}