section.about-us__services {
  background-color: #F6F7FA;
  padding: 94px 0;
  position: relative;
  .decoration_circle {
    position: absolute;
    img {
      display: block;
    }
  }

  h3 {
    color: $main_text_color;
    font-family: 'Graphik LCG Medium';
    font-size: 20px;
    svg {
      margin-right: 12px;
    }
  }
  li {
    color: #898EA1;
    //padding-left: 24px;
    position: relative;
    &:before {
      content: '— ';
      // position: absolute;
      // top: 50%;
      // transform: translateY(-50%);
      // left: 0;
    } 
    &:hover {
      text-decoration: underline;
    }
  }
  .about-us__services-we-not {
    li {
      text-decoration: none !important; 
    }
  }

  @media(max-width: $mobile_layout_breckpoint){
    text-align: center;
    .decoration_circle {
      right: -48px;
      top: 20%;
      img {
        width: 96px;
      }
    }
    h3 {
      margin: 0 0 24px;
    }
    ul {
      margin: 0 0 64px;
    }
    li {
      margin: 0 0 16px;
      &:last-child {
        margin: 0;
      }
    }
  }
  @media(min-width: $mobile_layout_breckpoint + 1){
    .decoration_circle {
      right: -73px;
      top: calc(50% - 146px);
      img {
        width: 146px;
      }
    }
    h3 {
      margin: 0 0 48px 0;
    }
    ul {
      margin: 0;
    }
    li {
      margin: 0 0 24px;
      &:last-child {
        margin: 0;
      }
    }
  }

}