section.about_us-mission {
  background: $accent_color--pink url('../images/our_mission-background.png') bottom center no-repeat;
  background-size: cover;

  .container {
    max-width: 770px !important;
    margin: 0 auto;
    color: #fff;
    position: relative;
  }
  .about_us-mission-content {
    background: $main_text_color;
  }
  .about_us-mission-logo {
    background-color: #fff;
    border-radius: 100%;
    margin: 0 auto; 
    width: 106px;
    height: 106px;
    text-align: center;
    vertical-align: middle;
    line-height: 106px;
    position: absolute;
    top: -53px;
    left: 50%;
    transform: translateX(-50%);
    img {
      vertical-align: middle;
      width: 65px;
      height: auto;
    }
  }
  .headline {
    text-align: center;
  }
  p.lead {
    color: #D6D7DA;
    line-height: 1.3;
    font-size: 20px;
  }


  .underline_decoration {
    color: #fff;
    &:before {
      //background-color: $accent_color--pink;
      background-color: #FFDCDC;
      opacity: 1;
    }
  }



  .btn-primary {
    background-color: #fff;
    border-radius: 0;
    border: none;
    padding: 0;
    color: $main_text_color;
    max-width: 200px;
    min-width: 200px;
    line-height: 58px;
    font-size: 14px;
    font-family: 'Graphik LCG Medium';
  }




  @media(max-width: $mobile_layout_breckpoint){
    padding: 140px 0 94px;
    .about_us-mission-content {
      padding: 96px 24px 64px;
    }
    .about_us-mission-logo {
      img {
        width: 60px;
      }
    }
    .headline {
      font-size: 54px;
      margin: 0 auto 64px;
    }
    p.lead {
      margin: 0 auto 28px;
    }
    p.button-wrap {
      text-align: center;
      margin: 54px auto 0; 
    }
  }
  @media(min-width: $mobile_layout_breckpoint + 1){
    padding: 140px 0;
    .about_us-mission-content {
      padding: 100px 100px 64px;
    }
    .headline {
      font-size: 54px;
      margin: 0 auto 64px;
    }
    p.lead {
      margin: 0 auto 32px;
    }
    p.button-wrap {
      text-align: center;
      margin: 64px auto 0; 
    }
  }

}


