body.about_us {
  section.cta {
    border-bottom: 1px solid #E5E8F1;
  }
  
  
  section {
    a, a.btn-hutcko {
      color: #343848;
    }
  }

  
  
  header {
    .btn-primary {
      background-color: $accent_color--yellow !important;
    }

  }
  header .navbar {
    position: absolute;
    top: 36px;
    width: 100%;
    left: 0;
  }
  header.fixed-top {
    .navbar {
      position: relative;
      top: initial;
      left: initial;
    }
  }
  
  
  
  header .bg-light {
    background: none !important;
    //border-bottom: 1px solid #e2e2e2;
  }
  header .bg-light:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(0,0%,100%,.6);
    background-filter: blur(10px);
    z-index: -1;
  }

  @media (max-width: 992px) {
    header .navbar-collapse.collapsing, header .navbar-collapse.show {
      background: #c9e9e0;
    }
  }







  .underline_decoration {
    position: relative;
    color: #fff;
    z-index: 1;
    white-space: nowrap;
    font-family: 'Graphik LCG Medium';
    display: inline-block;
    &:before {
      content: '';
      position: absolute;
      width: calc(100% + 8px);
      height: 12px;
      background-color: $accent_color--pink;
      top: 60%;
      left: -4px;
      z-index: -1;
      opacity: 0.8;
    }
  }
  .underline_animation {
    &:before {
      width: 0;
      transition: width .6s;
      transition-delay: 0.2s;
    }
    &.showed {
      &:before {
        width: calc(100% + 8px);
      }
    }
  }

}