.btn-hutcko {
  letter-spacing: 1.1px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Graphik LCG Semibold';
  //display: block;
  font-size: 14px;
  line-height: 32px;
  svg {
    vertical-align: top;
    margin: 0 0 0 14px;
  }
  span, svg {
    transition: transform 400ms;
    display: inline-block;
  }
  &:hover {
    span {
      transform: translateX(-8px);
    }
    svg {
      transform: translateX(8px);
    }
  }
}




section.hero {
  .preheader {
    overflow: hidden;
    .nav-item {
      transform: translateY(100%);
      transition: transform 600ms;
      &:nth-child(1) {
        transition-delay: 0ms;
      }
      &:nth-child(2) {
        transition-delay: 100ms;
      }
      &:nth-child(3) {
        transition-delay: 200ms;
      }
    }
    
//    &:hover {
//      .nav-item {
//        transform: translateY(0);
//      }
//    }
  }
  
  .headline {
    .anim-line-wrap {
      overflow: hidden;
      display: inline-block;
      .anim-line1,
      .anim-line2,
      .anim-line3
      {
        display: inline-block;
        transform: translateY(100%);
        transition: transform 600ms;
      }
      .anim-line1 {
        transition-delay: 300ms;
      }
      .anim-line2 {
        transition-delay: 400ms;
      }
      .anim-line3 {
        transition-delay: 500ms;
      }
    }
    
//    &:hover {
//      .anim-line1,
//      .anim-line2,
//      .anim-line3
//      {
//        transform: translateY(0);
//      }
//    }
  }
  
  .copy {
    overflow: hidden;
    span {
      display: inline-block;
      transform: translateX(-100%);
      transition: transform 300ms;
      transition-delay: 600ms;
    }
  }
  
  .hero-link-wrap {
    overflow: hidden;
    .hero-link {
      display: inline-block;
      transform: translateX(-100%);
      transition: transform 400ms;
      transition-delay: 800ms;
    }
  }
  
  &.showed {
    .preheader {
      .nav-item {
        transform: translateY(0);
      }
    }
    .headline {
      .anim-line1,
      .anim-line2,
      .anim-line3
      {
        transform: translateY(0);
      }
    }
    .copy span {
      transform: translateX(0);
    }
    .hero-link-wrap .hero-link {
      transform: translateX(0);
    }
  }
}









/* First show animations */

.slideUpAnim {
  overflow: hidden;
  span {
    transform: translateY(100%);
    transition: transform .4s;
    transition-timing-function: cubic-bezier(0, 0.55, 0.57, 0.82);
    display: inline-block;
  }
  
  &.showed {
    span {
      transform: translateY(0);
    }
  }
}

.slideRightAnim {
  overflow: hidden;
  span {
    transform: translateX(-100%);
    transition: transform .4s;
    display: inline-block;
    transition-timing-function: cubic-bezier(0, 0.55, 0.57, 0.82);
  }
  
  &.showed {
    span {
      transform: translateY(0);
    }
  }
}


.slideCopyAnim {
  h3, p {
    overflow: hidden
  }
  span {
    display: inline-block;
    transition: transform 400ms;
    transition-timing-function: cubic-bezier(0, 0.55, 0.57, 0.82);
  }
  h3 {
    span {
      transform: translateY(100%);
    }
  }
  p {
    span {
      transform: translateX(-100%);
      transition-delay: 200ms;
    }
  }
  
  &.showed {
    span {
      transform: translate(0, 0);
    }
  }
}


.fadeInAnim {
  opacity: 0;
  transition: opacity 400ms;
  transition-timing-function: cubic-bezier(0, 0.55, 0.57, 0.82);
  &.showed {
    opacity: 1;
  }
}

/*

.slideUpAnim2 {
  overflow: hidden;
  span {
    transform: translateY(100%);
    transition: transform .4s;
    transition-timing-function: cubic-bezier(0, 0.55, 0.57, 0.82);
    display: inline-block;
    transition-delay: 400ms;
  }
  
  &.showed {
    span {
      transform: translateY(0);
    }
  }
}
*/






/* Hover animations */

.hoverZoomInAnim {
  overflow: hidden;
  img {
    transition: transform 2s;
    transition-timing-function: cubic-bezier(0, 0.55, 0.57, 0.82);
  }
  &:hover {
    img {
      transform: scale(1.2);
    }
  }
}


.webdesign-anim {
  background: $accent_color--green;
  text-align: center;
  padding: 24px 24px 8px 16px;
  img {
    width: 340px;
    margin: auto;
    transition: transform .6s;
    transition-timing-function: cubic-bezier(0, 0.55, 0.57, 0.82);
    
    transform-origin: bottom left;
  }
  overflow: visible;
  &:hover {
    img {
      transform: scale(1.2);
    }
  }
}
.appdesign-anim {
  background: $accent_color--yellow;
  text-align: center;
  padding: 8px 60px 8px 100px;
  img {
    width: 217px;
    margin: auto;
    transition: transform .6s;
    transition-timing-function: cubic-bezier(0, 0.55, 0.57, 0.82);
    transform-origin: bottom center;
  }
  overflow: visible;
  &:hover {
    img {
      transform: scale(1.2);
    }
  }
}
.graphicdesign-anim {
  background: $accent_color--pink;
  text-align: center;
  img {
    width: 100%;
    margin: auto;
    transition: transform .6s;
    transition-timing-function: cubic-bezier(0, 0.55, 0.57, 0.82);
    transform-origin: bottom left;
  }
  overflow: visible;
  &:hover {
    img {
      transform: scale(1.3);
    }
  }
}
