section.clients {
  
  .quotes-slider__author {
    font-family: 'Graphik LCG Semibold';
  }
  .quotes-slider__position {
    font-family: 'Graphik LCG Semibold';
    color: $accent_color--green;
  }
  .quotes-slider__copy {
    font-size: 14px;
  }
  
  
  .carousel-item {
    .carousel-caption {
      position: initial;
      top: initial;
      left: initial;
      right: initial;
      bottom: initial;
      color: $main_text_color;
    }
  }
  .carousel-indicators li {
    background-color: #E5E8F1;
    &.active {
      background-color: $main_text_color;
    }
  }
  .carousel-indicators {
    bottom: -32px;
    left: 0;
    margin: 0;
    width: auto;
    justify-content: flex-start;
    li {
      width: 42px;
      margin: 0;
      & + li {
        margin-left: 16px
      }
    }
  }
  .carousel-control-prev {
    display: none;
  }
  .carousel-control-next {
    bottom: initial;
    right: initial;
    top: 50%;
    transform: translateY(-50%);
    left: calc(100% + 24px);
    border-radius: 100%;
    border: 1px solid #E5E8F1;
    width: 48px;
    height: 48px;
    opacity: 1;
  }
  .carousel-control-prev-icon, .carousel-control-next-icon {
    width: 28px;
    height: 28px;
  }
  
  @media(max-width: $mobile_layout_breckpoint){
    padding: 64px 0;
    .headline {
      margin-bottom: 60px;
    }
    .quotes-slider__position {
      font-size: 14px;
    }
    .quotes-slider__copy {
      margin: 40px 0 50px 0;
    }
  }
  @media(min-width: $mobile_layout_breckpoint + 1){
    position: relative;
    padding: 160px 0;
    .headline {
      margin: 0;
    }
    .quotes-slider__copy {
      margin: 40px 0 30px 0;
    }
    .clients-decoration {
      width: 146px;
      height: auto;
      position: absolute;
      left: -73px;
      bottom: 32px;
      z-index: -1;
    }
  }
}








section.clients {
  .quotes-slider__author,
  .quotes-slider__position
  {
    overflow: hidden;
    span {
      display: inline-block;
      opacity: 0;
      transform: translateY(100%);
      transition: opacity 600ms, transform 600ms;
    }
  }
  .quotes-slider__position span {
    transition-delay: 200ms;
  }
  
  .quotes-slider__item.active {
    .quotes-slider__author,
    .quotes-slider__position
    {
      span {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}