$contacts-form__inputs-color: #898EA1;
$contacts-form__lines-color: #898EA1;

$contacts-form__invalid-color: #DB6165;

.contacts-form {
  * {
    outline: none !important;
    box-shadow: none !important;
  }
  .form-row {
    position: relative;
    .form-label {
      color: $contacts-form__inputs-color;
      position: absolute;
      top: 0;
      transform: translateY(17px);
      font-size: 16px;
      line-height: 24px;
      transform-origin: top left;
      transition: transform 400ms, color 400ms;
    }
    .form-control {
      background: none;
      border: none;
      border-radius: 0;
      padding: 18px 0;
      //border-bottom: 1px solid $contacts-form__lines-color;
      color: $contacts-form__inputs-color;
      font-size: 16px;
      line-height: 24px;
      min-height: 60px;
      
      //border-bottom: 2px solid $contacts-form__lines-color;
      
      background-color: transparent;
      background-image: linear-gradient(to bottom,#fff 0,#fff 100%),linear-gradient(to bottom,$contacts-form__invalid-color 0,$contacts-form__invalid-color 100%),linear-gradient(to bottom,$contacts-form__lines-color 0,$contacts-form__lines-color 100%);
      background-position: bottom left -100vw,bottom left -100vw,bottom left;
      background-repeat: no-repeat;
      background-size: 100% 2px,100% 2px,100% 2px;
      transition: background-position .4s cubic-bezier(1,.32,0,.61);
      
      
      
      &:focus {
        background-position: bottom left 0,bottom left -100vw,bottom left !important;
        border-color: #fff;
        color: #fff;
        
        & ~ .form-label {
          transform: translateY(0) scale(0.8);
          color: #fff;
        }
        
        /* Fixes */
        //outline: initial;
        box-shadow: initial;
      }
      
    }
    
    &.is-filled {
      .form-control {
        //background-position: bottom left -100vw,bottom left -100vw,bottom left;
        //border-color: #fff !important;
      }
      .form-label {
        transform: translateY(0) scale(0.8) !important;
        //color: #fff !important;
      }
    }
    
    &.is-invalid {
      .form-control{
        background-position: bottom left -100vw,bottom left 0,bottom left -100vw  !important;
        border-color: $contacts-form__invalid-color !important;
      }
      .form-label {
        color: $contacts-form__invalid-color !important;
      }
    }
  }
  
  .form-last-row {
    margin-top: 32px;
  }
  
  .form-file-input {
    background: transparent;
    border: none;
    height: 32px;
  }
  .form-file-label {
    background: transparent;
    border: none;
    height: 32px;
    padding: 0;
    line-height: 32px;
  }
  .form-file-text {
    background: transparent;
    border: none;
    color: #fff;
    font-size: 14px;
    margin-left: 14px;
    line-height: 22px;
    height: 32px;
    padding: 0; 
  }
  .form-file-button {
    background: transparent;
    border: none;
    color: #fff;
    font-size: 14px;
    margin-left: 14px;
    line-height: 22px;
    height: 32px;
    padding: 0;
    
    text-overflow: ellipsis;
    overflow: hidden;
    width: 160px;
    height: 1.2em;
    white-space: nowrap;
  }
  
  .btn {
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    font-family: 'Graphik LCG Semibold';
    text-transform: uppercase;
    line-height: 32px;
    padding: 0;
    svg {
      vertical-align: top;
    }
  }
  
  .valid-tooltip {
    position: initial;
    background: none;
    padding: 0;
    margin: 8px 0 0 0;
  }
  .invalid-feedback {
    color: $contacts-form__invalid-color;
  }
}

section.contacts {
  
  .lead {
    //font-size: 20px;
    //margin: 0 0 96px;
    a {
      color: $accent_color--green;
      text-decoration: none;
    }
  }
  
  
  // .contacts-decoration-image {
  //   position: absolute;
  //   img {
  //     display: block;
  //   }
  // }
  
  
  
  @media(max-width: $mobile_layout_breckpoint){
    .headline {
      margin: 0 0 32px 0;
    }
    .lead {
      font-size: 20px;
      margin: 0 0 48px;
    }
    
    .container {
      position: relative;
      padding-top: 64px; 
      padding-bottom: 0;
    }
    .contacts-decoration-image {
      margin: 48px auto 0;
      img {
        width: 40%;
      }
    }
  }
  @media(min-width: $mobile_layout_breckpoint + 1){    
    .headline {
      margin: 0 0 48px 0;
    }
    .lead {
      font-size: 24px;
      margin: 0;
    }
    .contacts-form {
      max-width: 420px;
      margin: 0 0 0 auto;
    }
    
    .container {
      position: relative;
      padding-top: 128px; 
      padding-bottom: 0;
    }
    .contacts-decoration-image {
      margin: 8px auto 0;
      img {
        max-width: 227px;
      }
    }
  }
}