section.cta {
  border-top: 1px solid #E5E8F1;
  
  .cta-links {
    display: flex;
    text-align: center;
    a {
      width: 100%;
      min-width: 50%;
      display: block;
      color: $main_text_color;
      text-decoration: none;
      font-family: 'Graphik LCG';
      text-transform: capitalize;
      & + a {
        border-left: 1px solid #E5E8F1;
      }
    }
  }
  
  .cta-copy-wrap {
    .cta-copy {
      color: white;
      font-family: 'Graphik LCG Medium';
      margin: 0;
    }
  }


  @media(max-width: 374px){
    br {
      display: none;
    }
  }
  @media(max-width: $mobile_layout_breckpoint){
    .cta-links a {
      padding: 32px 0;
      svg {
        margin-left: 8px;
      }
    }
    .cta-copy-wrap {
      background: url(../images/cta-bg-mobile.png) no-repeat;
      background-size: cover;
      padding-top: 64px;
      padding-bottom: 64px;
      .cta-copy {
        font-size: 36px;
        line-height: 42px;
      }
    }
  }
  @media(min-width: $mobile_layout_breckpoint + 1){
    .cta-links a {
      padding: 60px 0;
      font-size: 24px;
      svg {
        margin-left: 16px;
      }
    }
    .cta-copy-wrap {
      background: url(../images/cta-bg.png) no-repeat;
      background-size: cover;
      padding-top: 120px;
      padding-bottom: 100px;
      .cta-copy {
        font-size: 54px;
        line-height: 64px;
      }
    }
  }
}


/* Animations */

.cta-copy {
  .animWrap {
    overflow: hidden;
    display: inline-block;
    .animItem {
      display: inline-block;
      transition: transform 400ms;
      transform: translateY(100%);
    }
    
    
    &.showed {
      .animItem {
        transform: translateY(0);
      }
    }
  }
  
  
}