@font-face {
  font-family: 'Graphik LCG';
  src: url('../fonts/GraphikLCG-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/GraphikLCG-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/GraphikLCG-Regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/GraphikLCG-Regular.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/GraphikLCG-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Graphik LCG Semibold';
  src: url('../fonts/GraphikLCG-Semibold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/GraphikLCG-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/GraphikLCG-Semibold.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/GraphikLCG-Semibold.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/GraphikLCG-Semibold.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Graphik LCG Medium';
  src: url('../fonts/GraphikLCG-Medium.eot'); /* IE9 Compat Modes */
  src: url('../fonts/GraphikLCG-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/GraphikLCG-Medium.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/GraphikLCG-Medium.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/GraphikLCG-Medium.ttf')  format('truetype'); /* Safari, Android, iOS */
}


@font-face {
  font-family: 'ChronicleDisplayRoman';
  src: url('../fonts/ChronicleDisplayRoman.eot'); /* IE9 Compat Modes */
  src: url('../fonts/ChronicleDisplayRoman.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/ChronicleDisplayRoman.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/ChronicleDisplayRoman.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/ChronicleDisplayRoman.ttf')  format('truetype'); /* Safari, Android, iOS */
}