.site-footer {
  padding-bottom: 96px;

  font-size: 14px;
  
  a {
    color: $main_text_color;
    &:hover {
      text-decoration: underline;
    }
  }
  
  .prefooter-copy {
    background: url('../images/prefooter-background.jpg') no-repeat;
    font-size: 32px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: 'Graphik LCG Semibold';
  }

  .prefooter-copy1 {
    background-size: 200% auto;
    background-position: 0 0;
    animation-name: prefooterCopy;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  /*.prefooter-copy2 {
    background-size: 100% auto;
    transition: all .5s;
    background-position: 0;
    background-position: 0 100%;
  }*/
  
  .footer-widgets {
    .nav-link {
      padding-left: 0 !important;
    }
  }
  .widget-socials-links {
    white-space: nowrap;
    svg {
      margin-right: 12px;
    }
  }
  
  .site-info {
    margin: 96px 0 0 0;
    padding: 32px 0 0 0;
    font-size: 14px;
    color: #343848;
    position: relative;
    border-top: 1px solid #ECEDEF;
    a {
      text-decoration: none;
    }
    p {
      margin: 0 auto;
    }
  }

  @media(max-width: $mobile_layout_breckpoint){
    .prefooter-copy {
      margin: 144px auto 64px;
    }
    .widget-contacts-address,
    .widget-contacts-link {
      margin-top: 54px;
    }
    .site-info {
      a {
        margin: 0 auto 8px;
        display: block;
      }
    }
  }
  @media(min-width: $mobile_layout_breckpoint + 1){
    .prefooter-copy {
      margin: 144px auto 96px;
    }

    .site-info {
      display: flex;
      position: relative;
      a {
        position: absolute;
        bottom: 0;
        left: 0;
      }
      p {
        margin: 0 auto;
      }
    }
  }

}


@keyframes prefooterCopy {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}