header {
  font-family: 'Graphik LCG';
  .navbar.bg-dark {
    .nav-link {
      //color: $main_text_color;
    }
  }
  .nav-link {
    text-transform: uppercase;
    padding: 18px !important;
    font-size: 14px;
    line-height: 14px;
    &.active {
      font-family: 'Graphik LCG Semibold';
      //color: black !important;
    }
  }
  .navbar.bg-light {
    .nav-link {
      color: $main_text_color;
      &.active {
        color: black !important;
      }
    }
  }
  .btn-primary {
    background: $accent_color--pink;
    border: none;
    border-radius: 0;
    color: $background_color--dark;
    font-family: 'Graphik LCG Semibold';
    padding: 18px 20px;
    font-size: 14px;
    line-height: 14px;
    transition: opacity .6s;
    &:hover {
      color: $background_color--dark;
      background-color: $accent_color--pink;
      border-color: $accent_color--pink;
      opacity: .6;
    }
  }
  
  .navbar-toggler {
    border: none !important;
    margin: auto 0 auto auto;
    .navbar-toggler-icon {
      background: none !important;
      svg {
        width: 24px;
        height: auto;
      }
    }
    .navbar-toggler-icon-close {
      display: none;
    }
  }

  .navbar-light .navbar-toggler-icon path {
    fill: #343848;
  }
  
  
  .navbar-brand {
    img {
      height: 55px;
      transition: transform 400ms;
      transform-origin: left center;
    }
  }
  
  
  
  .navbar-collapse.collapsing {
    //transform: rotateY(90deg);
    transform: scaleX(0);
    .navbar-nav {
      transition: transform 1s cubic-bezier(.48,0,.12,1),opacity .5s cubic-bezier(.48,0,.12,1);
      perspective: 1000px;
      transform: translateX(0) rotateY(-60deg) skewY(-7deg);
      opacity: 0;
      @media (min-width: 600px) and (max-width: 992px){
        //transition-delay: 1s;
      }
    }
    form {
      opacity: 0;
    }
  }
  .navbar-collapse.show {
    //transform: rotateY(0deg);
    transform: scaleX(1);
    .navbar-nav {
      opacity: 1;
      transform: translateX(0) rotateY(0deg) skewY(0deg);
      transition: transform .6s ease-in-out .4s,opacity .5s ease-in-out .5s;
    }
    form {
      opacity: 1;
    }
    .socials {
      opacity: 1;
    }
  }
  
  .navbar-collapse.collapsing,
  .navbar-collapse.show
  {
    transform-origin: center right;
    //transition: transform 1s;
    transition: transform .75s cubic-bezier(.48,0,.12,1);
    
    @media (max-width: 992px){
      background: white;
      z-index: 1111;
      position: absolute;
      top: 56px;
      min-height: calc(100vh - 56px);
      height: calc(100vh - 56px);
      //top: 0;
      //height: 100vh;
      //min-height: 100vh;
      //padding-top: 56px;
      
      overflow-y: scroll;
      width: 100%;
      min-width: 100vw;
      right: 0;
      padding-bottom: 60px;
      
      .navbar-nav {
        margin: 48px 0 48px 0;
        //width: 10px;
        //margin: 48px 0 48px auto;
        height: calc(100% - 300px);
      }
      .nav-item {
        padding: 0;
        margin: 0 0 30px;
        margin: auto;
      }
      .nav-link {
        font-size: 24px;
        padding: 0;
        margin: 0;
      }
      
      form {
        transition: opacity .5s cubic-bezier(.48,0,.12,1) 1s;
        text-align: center;
        margin: 48px auto 0;
        padding: 0 18px;
        .btn {
          margin: auto;
        }
      }
    }
    @media (max-width: 576px){
      .navbar-nav {
        width: 10px;
        margin: 48px 0 48px auto;
      }
    }
  }
  
  
  
  @media (min-width: 576px) and (max-width: 767px){
    .navbar-collapse.collapsing,
    .navbar-collapse.show {
      .navbar-nav {
        transition-delay: .5s;
        transform-origin: left center;
        width: 100%;
        height: calc(100% - 220px);
        .nav-item {
          margin: auto 0;
        }
      }
      form {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .btn {
          margin: 0 auto 0 0;
        }
        .socials {
          margin: 0 0 0 auto;
        }
      }
    }
  }
  
  .socials {
    margin: 36px auto 48px;
    transition: opacity .5s cubic-bezier(.48,0,.12,1) 1.1s;
    opacity: 0;
    .nav-link {
      padding: 0 !important;
      & + .nav-link {
        margin-left: 32px;
      }
      &:hover {
        svg path {
          fill: #fff;
        }
      }
    }
  }
}


header.fixed-top {
  .navbar {
    padding-bottom: 0;
    padding-top: 0;
  }
  .navbar-brand {
    img {
      //height: 43px;
      transform: scale(0.7);
    }
  }
}

