.accent-color-green {
  color: $accent_color--green;
}
.accent-color-yellow {
  color: $accent_color--yellow;
}
.accent-color-pink {
  color: $accent_color--pink;
}




.bg-gray {
  background-color: $background_color--gray !important;
}
.bg-dark {
  background-color: $background_color--dark !important;
  color: #fff;
}
.bg-green {
  background-color: $accent_color--green !important;
}
.bg-pink {
  background-color: $accent_color--pink !important;
}
.bg-yellow {
  background-color: $accent_color--yellow !important;
}




.pt-64px {
  padding-top: 64px !important;
}
.pb-94px {
  padding-bottom: 94px !important;
}


.max-width-480px {
  max-width: 480px !important;
}




.list-checked_icon {
  color: #343848;
  font-size: 16px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    padding: 0 0 0 30px;
    margin: 0;
    background: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.7802 5.76012L16.6602 4.62012L7.60021 13.6801L3.34021 9.42011L2.22021 10.5601L7.60021 15.9401L17.7802 5.76012Z' fill='%23343848'/%3E%3C/svg%3E%0A") no-repeat;
    background-size: 20px;
    background-position: top left;
    & + li {
      margin: 24px 0 0 0;
    }
  }
}