section.hero-banner {
  min-height: 100vh;
  @media(max-width: $mobile_layout_breckpoint){
    .headline {
      margin: 0 auto 64px;
    }
    p {
      margin: 0 auto 64px;
    }
    p.hero-link-wrap {
      margin: 0 auto;
    }
  }
  @media(min-width: $mobile_layout_breckpoint + 1){
    .headline {
      margin: 0 auto 48px;
    }
    p {
      margin: 0 auto 48px;
    }
    p.hero-link-wrap {
      margin: 0 auto;
    }
  }
}



section.hero {
  background: $background_color--dark;
  color: #fff;
  font-family: 'Graphik LCG Semibold';
  
  .preheader {
    text-transform: uppercase;
    font-size: 14px;
    margin: 0 0 64px 0;
    .nav-item {
      margin: auto 12px;
      a {
        position: relative;
        padding: 0 0 0 12px;
        text-decoration: none;
        display: block;
      }
      &:before {
        content: '';
        position: absolute;
        top: calc(50% - 3px);
        left: 6px;
        width: 6px;
        height: 6px;
        border-radius: 100%;
      }
      &:nth-child(1) {
        a {
          color: $accent_color--green;
        }
        &:before {
          background: $accent_color--green;
        }
      }
      &:nth-child(2) {
        a {
          color: $accent_color--yellow;
        }
        &:before {
          background: $accent_color--yellow;
        }
      }
      &:nth-child(3) {
        a {
          color: $accent_color--pink;
        }
        &:before {
          background: $accent_color--pink;
        }
      }
    }
  }
  .headline {
    margin: 0 0 32px 0;
  }
  .copy {
    font-family: 'Graphik LCG';
    color: $main_text--dark;
  }
  .hero-link-wrap {
    margin: 0;
    &:hover {
      overflow: initial;
    }
  }
  .hero-link {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    font-size: 14px;
    line-height: 32px;
    svg {
      vertical-align: top;
      margin: 0 0 0 14px;
    }
  }
  
  
  
  @media(min-width: $mobile_layout_breckpoint + 1){
    //padding: 186px 0 100px 0;
    .row {
      min-height: 100vh;
      padding-top: 128px;
      padding-bottom: 36px;
      align-items: center;
    }
    .copy {
      font-size: 20px;
      margin: 0 0 46px 0;
      max-width: 445px;
    }
    .headline {
      font-size: 60px;
      line-height: 64px;
    }

    .preheader {
      margin-left: -12px;
      .nav-item {
        a {
          border-radius: 6px;
          padding: 6px 8px 6px 20px;
          background: transparent;
          transition: background 400ms;
        }
        &:nth-child(1){
          &:hover a {
            background: rgba(#C9E9E1, 0.1);
          }
        }
        &:nth-child(2){
          &:hover a {
            background: rgba(#FFDEAC, 0.2);
          }
        }
        &:nth-child(3){
          &:hover a {
            background: rgba(#FFDCDC, 0.2);
          }
        }
      }
    }
  }
  
  @media(max-width: $mobile_layout_breckpoint){
    padding: 86px 0 94px 0;
    .preheader {
      font-size: 12px;
      position: absolute;
      top: 128px;
      left: 0;
      justify-content: space-around;
      width: 100%;
      .nav-item {
        padding: 0 0 0 10px;
        margin: auto 6px;
        &:before {
          top: calc(50% - 2px);
          width: 4px;
          height: 4px;
        }
      }
    }
    
    .headline {
      font-size: 42px;
      line-height: 42px;
      margin: 0 0 36px;
    }
    
    .copy {
      font-size: 20px;
      line-height: 28px;
      margin: 0 0 36px;
    }
    
  }
}




.hero-anim-wrap {
  position: relative;
  
  
  .hero-anim {
    position: absolute;
    top: 30%;
    height: auto;
    @media(min-width: $mobile_layout_breckpoint + 1){
      width: 229px;
      left: initial;
      right: 0;
      top: 5%;
    }
    @media(max-width: $mobile_layout_breckpoint){
      left: 50%;
      width: 200px;
      transform: translateX(-50%);
    }
  }
  
  @media(min-width: $mobile_layout_breckpoint + 1){
    .hero-anim1 {
      position: absolute;
      left: 20%;
      top: 30%;
      width: 213px;
      height: auto;
    }
    .hero-anim2 {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 213px;
      height: auto;
    }
  }
}



section.hero {
  .hero-scene {
    min-height: 345px;

    .hero-scene__background {
      position: absolute;
      left: -15px;
      bottom: 0;
      opacity: 0.1;
      font-size: 80px;
      line-height: 90px;
      margin: 0;
      width: 100%;
      word-break: keep-all;
      white-space: nowrap;
      @media(min-width: $mobile_layout_breckpoint + 1){
        font-size: 120px;
        line-height: 114px;
        left: 36px;
      }
    }
    
    @media(min-width: $mobile_layout_breckpoint + 1){
      min-height: 570px;
    }
  }
}