
#contactsModal {
  .modal-content {
    background: #343848;
    color: #fff;
    padding: 48px 128px 96px;
    border: none;
    border-radius: 0;
  }
  .btn-close {
    background: #fff;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    border: 3px solid #343848;
  }
  .modal-logo {
    border-radius: 100%;
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .modal-body {
    padding: 0;
  }
  .modal-header {
    background: none;
    border: none;
    padding: 0;
  }
  .modal-title {
    //text-align: center;
    font-size: 54px;
    line-height: 64px;
    margin: 24px auto 24px;
  }
  p.lead {
    color: #898EA1;
    font-size: 24px;
    line-height: 1.4;
    a {
      color: #C9E9E1;
      text-decoration: none;
    }
  }


  @media(max-width: $mobile_layout_breckpoint){
    .modal-content {
      padding: 64px 25px;
    }
    .modal-title {
      margin: 24px auto 32px;
    }
    .modal-logo {
      width: 90px;
      height: 90px;
      svg {
        width: 55px;
        height: auto;
      }
    }
    p.lead {
      margin: 0 auto 32px;
    }
    .btn-close {
      width: 50px;
      height: 50px;
      svg {
        width: 20px;
      }
    }
    .form-last-row {
      .col-4 {
        padding-left: 0 !important; 
      }
    }
  }
  @media(min-width: $mobile_layout_breckpoint + 1){
    .modal-lg, .modal-xl {
      max-width: 700px;
    }
    .modal-content {
      padding: 48px 96px 64px;
    }
    .modal-logo {
      margin: auto;
      width: 96px;
      height: 96px;
      svg {
        width: 64px;
        height: auto;
      }
    }
    .modal-title {
      margin: 16px auto 24px;
    }
    p.lead {
      margin: 0 auto 16px;
    }
    .btn-close {
      width: 56px;
      height: 56px;
      svg {
        width: 20px;
      }
    }
  }
}
