section.page_services--hero {
  background: $accent_color--pink;
  
  p {
    color: #898EA1;
  }
  .hero-link.btn-hutcko {
    color: #343848;
  }
  
  @media(max-width: $mobile_layout_breckpoint){
    padding-top: 196px;
    padding-bottom: 64px;
    // background: #FFDCDC url(../images/services_page--hero_background--mobile.png) no-repeat;
    // background-size: contain;
    // background-position: center bottom;
  }
  @media(min-width: $mobile_layout_breckpoint + 1){
    padding-top: 292px;
    // background: #FFDCDC url(../images/services_page--hero_background--desktop.png) no-repeat;
    // background-size: contain;
    // background-position: right bottom;
  }
}