body.page-services {
  
  section {
    a, a.btn-hutcko {
      color: #343848;
    }
  }

  
  section.cta {
    border-bottom: 1px solid #E5E8F1;
  }
  
  

  header {
    .btn-primary {
      background-color: $accent_color--green;
    }

  }

  header .navbar {
    position: absolute;
    top: 36px;
    width: 100%;
    left: 0;
  }
  header.fixed-top {
    .navbar {
      position: relative;
      top: initial;
      left: initial;
    }
  }
  
  
  
  header .bg-light {
    background: none !important;
    //border-bottom: 1px solid #e2e2e2;
  }
  header .bg-light:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(0,0%,100%,.6);
    background-filter: blur(10px);
    z-index: -1;
  }


  @media (max-width: 992px) {
    header .navbar-collapse.collapsing, header .navbar-collapse.show {
      background: #fedcdc;
    }
  }

}










section.page_services--service {
  .container {
    border-bottom: 1px solid #E5E8F1;
  }
  
  .copies {
    padding: 24px;
    z-index: 1;
    h2 {
      margin: 0 auto 16px;
      font-size: 36px;
    }
    p {
      margin: 0 auto 24px;
      font-size: 14px;
      &:last-child {
        margin: 0 auto;
      }
    }
  }
  ul {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    color: #898EA1;
    li {
      margin-bottom: 24px;
      position: relative;
      padding-left: 24px;
      &:before {
        content: '-';
        position: absolute;
        //top: 50%;
        top: 12px;
        left: 0;
        transform: translateY(-50%);
      }
      &:last-child {
        margin: 0;
      }
    }
  }
  .image-wrap {
    z-index: -1;
    position: relative;
    img {
      width: 213px;
      max-width: 213px;
      height: auto;
    }
  }
  
  @media(max-width: $mobile_layout_breckpoint){
    .container {
      padding-top: 64px;
      padding-bottom: 48px;
    }
    ul {
      margin: 40px auto 0;
    }
  }
  @media(min-width: $mobile_layout_breckpoint + 1){
    .container {
      padding-top: 96px;
      padding-bottom: 96px;
    }
  }

}
section.page_services--web {
  .copies {
    margin: -100px 0 0 28px;
  }
}
section.page_services--mobile {
  .image-wrap {
    text-align: center;
  }
  .copies {
    margin: -100px 14px 0 14px;
  }
//  @media(max-width: $mobile_layout_breckpoint){
//    ul {
//      margin: 0 auto 40px;
//    }
//  }
}
section.page_services--graphic {
  .image-wrap {
    text-align: right;
  }
  .copies {
    margin: -100px 28px 0 0;
  }
}