
$width: 15px;
$height: 15px;


$bounce_height: 30px;

.preloader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 111111;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 600ms;

  .text {
    color: $accent_color--yellow;
    display: inline-block;
    margin-left: 8px;
    transition: color .5s;
    //animation: preloaderColor 500ms alternate infinite linear;
  }

  .bounceball {
    position: relative;
    display: inline-block;
    height: 37px;
    width: $width;
    &:before {
      position: absolute;
      content: '';
      display: block;
      top: 0;
      width: $width;
      height: $height;
      border-radius: 50%;
      background-color: $accent_color--yellow;
      transition: background-color .5s;
      transform-origin: 50%;
      animation: bounce 500ms alternate infinite ease;
    }
  }

  @keyframes bounce {
    0% {
      top: $bounce_height;
      height: 5px;
      border-radius: 60px 60px 20px 20px;
      transform: scaleX(2);
      //background-color: $accent_color--yellow;
    }
    /*33% {
      background-color: $accent_color--green;
    }*/
    35% {
      height: $height;
      border-radius: 50%;
      transform: scaleX(1);
    }
    /*66% {
      background-color: $accent_color--pink;
    }*/
    100% {
      top: 0;
      //background-color: $accent_color--yellow;
    }
  }
  
  @keyframes preloaderColor {
    0% {
      color: $accent_color--yellow;
    }
    33% {
      color: $accent_color--green;
    }
    66% {
      color: $accent_color--pink;
    }
    100% {
      color: $accent_color--yellow;
    }
  }

}