section.vertical_process {
  .vertical_process--item {
    position: relative;
    h3 {
      font-family: 'Graphik LCG Medium';
      margin: 0 auto 32px;
      svg {
        vertical-align: middle;
        margin-right: 16px;
      }
      span {
        vertical-align: middle;
      }
    }
    p {
      color: #898EA1
    }
  }
  
  .vertical_process--item_decorations {
    //position: relative;
    .vertical_process--item_decorations--box {
      position: absolute;
      width: 14px;
      height: 14px;
      background: #343848;
      top: 6px;
      left: 1px;
      border: 4px solid #fff;
      box-sizing: border-box;
      &:before {
        position: absolute;
        left: -6px;
        top: -6px;
        content: '';
        width: 18px;
        height: 18px;
        border: 2px solid #343848;
        box-sizing: border-box;
      }
    }
    .vertical_process--item_decorations--line {
      position: absolute;
      left: 16px;
      top: 12px;
      height: 2px;
      width: 32px;
      background: linear-gradient(to right, #343848, transparent 75%);
    }
  }
  
  @media(max-width: $mobile_layout_breckpoint){
    padding: 64px 0;
    
    .vertical_process--items-wrap {
      position: relative
    }
    .vertical_process--decoration-line {
      position: absolute;
      width: 2px;
      height: calc(100% - 24px);
      background: #343848;
      left: 7px;
      top: 7px;
    }
    
    .headline {
      margin: 0 auto 64px 0;
      max-width: 240px;
    }
    .vertical_process--item {
      padding-left: 96px;
      padding-bottom: 120px;
    }
    .vertical_process--item_finish {
      padding-left: 96px;
      position: relative;
      &:after {
        content: '';
        position: absolute;
        width: 14px;
        height: 14px;
        background: $accent_color--green;
        bottom: 14px;
        left: 1px;
      }
    }
  }
  @media(min-width: $mobile_layout_breckpoint + 1){
    padding: 128px 0;
    .headline {
      text-align: center;
      margin: 0 auto 96px 0;
    }
    
    .vertical_process--items-wrap {
      position: relative
    }
    .vertical_process--decoration-line {
      position: absolute;
      width: 2px;
      height: calc(100% - 96px);
      background: #343848;
      left: calc(50% - 1px);
      top: 16px;
    }
    
    .vertical_process--item {
      width: 50%;
    }
    .vertical_process--item:nth-child(even) {
      padding: 0 64px 0 200px;
      margin: 0 auto 64px 0;
      .vertical_process--item_decorations {
        .vertical_process--item_decorations--box {
          right: -7px;
          left: initial;
        }
        .vertical_process--item_decorations--line {
          left: initial;
          right: 8px;
          background: linear-gradient(to left, #343848, transparent 75%);
        }
      }
    }
    .vertical_process--item:nth-child(odd) {
      padding: 0 200px 0 64px;
      margin: 0 0 64px auto;
      .vertical_process--item_decorations {
        .vertical_process--item_decorations--box {
          left: -7px;
        }
        .vertical_process--item_decorations--line {
          left: 8px;
        }
      }
    }
    .vertical_process--item_finish {
      text-align: center;
      &:after {
        content: '';
        position: absolute;
        width: 14px;
        height: 14px;
        background: $accent_color--green;
        bottom: 80px;
        left: calc(50% - 7px);
      }
    }
  }
}




/* Anim */

section.vertical_process {
  .vertical_process--item {
    svg path {
      fill: #898EA1;
      transition: fill 400ms;
      transition-delay: 700ms;
    }
    h3 {
      span {
        color: #898EA1;
        transition: color 400ms;
        transition-delay: 700ms;
      }
    }

    .vertical_process--item_decorations {
      .vertical_process--item_decorations--box {
        background-color: #898EA1;
        transition: background 400ms;
        &:before {
          border-color: #E2E6F4;
          transition: border 400ms;
        }
      }
      .vertical_process--item_decorations--line {
        background: linear-gradient(to right, #343848, rgba(226, 230, 244, 0), #E2E6F4, rgba(255, 255, 255, 0) );
        background-size: 250% auto;
        background-position: 100% 0;
        transition: background 400ms;
        transition-delay: 400ms;
      }
    }

    &.animated {
      svg path {
        fill: #343848;
      }
      h3 span {
        color: #343848;
      }
      .vertical_process--item_decorations {
        .vertical_process--item_decorations--box {
          background-color: #343848;
          &:before {
            border-color: #343848;
          }
        }
        .vertical_process--item_decorations--line {
          background-position: 0 0;
        }
      }
    }
  }
  .vertical_process--item:nth-child(even) {
    .vertical_process--item_decorations .vertical_process--item_decorations--line {
      background: linear-gradient(to left, #343848, rgba(226, 230, 244, 0), #E2E6F4, rgba(255, 255, 255, 0) );
      background-size: 250% auto;
      background-position: 0 0;
      transition: background 400ms;
    }

    &.animated {
      svg path {
        fill: #343848;
      }
      h3 {
        color: #343848;
      }
      .vertical_process--item_decorations {
        .vertical_process--item_decorations--box {
          background-color: #343848;
          &:before {
            border-color: #343848;
          }
        }
        .vertical_process--item_decorations--line {
          background-position: 100% 0;
        }
      }
    }
  }

  .vertical_process--items-wrap .vertical_process--item:nth-child(2) {
    svg path {
      fill: #343848;
    }
    h3 span {
      color: #343848;
    }
    .vertical_process--item_decorations {
      .vertical_process--item_decorations--box {
        background-color: #343848;
        &:before {
          border-color: #343848;
        }
      }
      .vertical_process--item_decorations--line {
        background: linear-gradient(to left, #343848, rgba(255, 255, 255, 0) );
      }
    }
  }
}