section.process {
  .row {
    position: relative;
  }
  .procces-content {
    position: relative;
    h3 {
      font-family: 'Graphik LCG Medium';
      font-size: 24px;
      svg {
        vertical-align: bottom;
        margin-right: 12px;
      }
    }
    p {
      font-family: 'Graphik LCG';
      font-size: 14px;
      line-height: 24px;
      margin: 0;
    }
  }
  
  @media(max-width: $mobile_layout_breckpoint){
    padding: 48px 0 128px;
    .headline {
      max-width: 200px;
      margin: 0 0 60px;
    }
    .process-line {
      position: absolute;
      top: 6px;
      left: -6px;
      height: 100%;
      width: 1px;
      border-right: 2px solid $main_text_color;
      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        right: -8px;
        background: $accent_color--green;
        width: 14px;
        height: 14px;
      }
    }
    .procces-content {
      padding: 0 0 80px 25px;
      max-width: 245px;
      &:before {
        content: '';
        position: absolute;
        top: 6px;
        left: 0;
        background: $main_text_color;
        width: 14px;
        height: 14px;
      }
      h3 {
        margin: 0 0 24px 0;
      }
    }
  }
  @media(min-width: $mobile_layout_breckpoint + 1){
    padding: 128px 0 256px;
    .headline {
      margin: 0 0 150px;
    }
    .process-line {
      position: absolute;
      top: 64px;
      left: 15px;
      height: 1px;
      width: 98%;
      border-top: 2px solid $main_text_color;
      &:after {
        content: '';
        position: absolute;
        bottom: -6px;
        right: 0;
        background: $accent_color--green;
        width: 14px;
        height: 14px;
      }
    }
    .procces-content {
      &:before {
        content: '';
        position: absolute;
        top: 58px;
        left: 0;
        background: $main_text_color;
        width: 14px;
        height: 14px;
      }
      h3 {
        margin: 0 0 74px 0;
      }
      p {
        max-width: 230px;
      }
    }
  }
}