body.single_project-easy_webinar {
  header .btn-primary {
    background: $accent_color--green;
  }
  section.single_project-carousel {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 60%;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 92.19%);
      pointer-events: none;
    }
  }
}

body.single_project-medic_bank {
  header .btn-primary {
    background: $accent_color--yellow;
  }
}

body.single_project-voogy {
  header .btn-primary {
    background: white !important;
  }
}


body.single_project-snapwire {
  header .btn-primary {
    background: $accent_color--yellow;
  }
  section.single_project-carousel {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 60%;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 92.19%);
      pointer-events: none;
    }
  }
}

.slick-slider{position:relative;display:block;box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}.slick-list{position:relative;display:block;overflow:hidden;margin:0;padding:0}.slick-list:focus{outline:0}.slick-list.dragging{cursor:pointer;cursor:hand}.slick-slider .slick-list,.slick-slider .slick-track{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.slick-track{position:relative;top:0;left:0;display:block;margin-left:auto;margin-right:auto}.slick-track:after,.slick-track:before{display:table;content:''}.slick-track:after{clear:both}.slick-loading .slick-track{visibility:hidden}.slick-slide{display:none;float:left;height:100%;min-height:1px}[dir=rtl] .slick-slide{float:right}.slick-slide img{display:block}.slick-slide.slick-loading img{display:none}.slick-slide.dragging img{pointer-events:none}.slick-initialized .slick-slide{display:block}.slick-loading .slick-slide{visibility:hidden}.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}.slick-arrow.slick-hidden{display:none}


// @charset 'UTF-8';.slick-loading .slick-list{background:#fff url(ajax-loader.gif) center center no-repeat}@font-face{font-family:slick;font-weight:400;font-style:normal;src:url(fonts/slick.eot);src:url(fonts/slick.eot?#iefix) format('embedded-opentype'),url(fonts/slick.woff) format('woff'),url(fonts/slick.ttf) format('truetype'),url(fonts/slick.svg#slick) format('svg')}.slick-next,.slick-prev{font-size:0;line-height:0;position:absolute;top:50%;display:block;width:20px;height:20px;padding:0;-webkit-transform:translate(0,-50%);-ms-transform:translate(0,-50%);transform:translate(0,-50%);cursor:pointer;color:transparent;border:none;outline:0;background:0 0}.slick-next:focus,.slick-next:hover,.slick-prev:focus,.slick-prev:hover{color:transparent;outline:0;background:0 0}.slick-next:focus:before,.slick-next:hover:before,.slick-prev:focus:before,.slick-prev:hover:before{opacity:1}.slick-next.slick-disabled:before,.slick-prev.slick-disabled:before{opacity:.25}.slick-next:before,.slick-prev:before{font-family:slick;font-size:20px;line-height:1;opacity:.75;color:#fff;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.slick-prev{left:-25px}[dir=rtl] .slick-prev{right:-25px;left:auto}.slick-prev:before{content:'←'}[dir=rtl] .slick-prev:before{content:'→'}.slick-next{right:-25px}[dir=rtl] .slick-next{right:auto;left:-25px}.slick-next:before{content:'→'}[dir=rtl] .slick-next:before{content:'←'}.slick-dotted.slick-slider{margin-bottom:30px}.slick-dots{position:absolute;bottom:-25px;display:block;width:100%;padding:0;margin:0;list-style:none;text-align:center}.slick-dots li{position:relative;display:inline-block;width:20px;height:20px;margin:0 5px;padding:0;cursor:pointer}.slick-dots li button{font-size:0;line-height:0;display:block;width:20px;height:20px;padding:5px;cursor:pointer;color:transparent;border:0;outline:0;background:0 0}.slick-dots li button:focus,.slick-dots li button:hover{outline:0}.slick-dots li button:focus:before,.slick-dots li button:hover:before{opacity:1}.slick-dots li button:before{font-family:slick;font-size:6px;line-height:20px;position:absolute;top:0;left:0;width:20px;height:20px;content:'•';text-align:center;opacity:.25;color:#000;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.slick-dots li.slick-active button:before{opacity:.75;color:#000}


body.single_project {
  section.cta {
    border-bottom: 1px solid #E5E8F1;
  }
  
  .slick-initialized .slick-slide .slick-carousel-item-image-wrap {
    padding: 0 16px;
  }
  
  header .navbar {
    position: absolute;
    top: 36px;
    width: 100%;
    left: 0;
  }
  header.fixed-top {
    .navbar {
      position: relative;
      top: initial;
      left: initial;
    }
  }
  
  
  
  header .bg-light {
    background: none !important;
    //border-bottom: 1px solid #e2e2e2;
  }
  header .bg-light:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(0,0%,100%,.6);
    background-filter: blur(10px);
    z-index: -1;
  }


  header .navbar {
    position: absolute;
    top: 36px;
    width: 100%;
    left: 0;
  }
  header.fixed-top {
    .navbar {
      position: relative;
      top: initial;
      left: initial;
    }
  }
  
  
  header .bg-light {
    background: none !important;
    //border-bottom: 1px solid #e2e2e2;
  }
  header .bg-light:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(0,0%,100%,.6);
    background-filter: blur(10px);
    z-index: -1;
  }

  @media (max-width: 992px) {
    header .navbar-collapse.collapsing, header .navbar-collapse.show {
      background: #fff;
    }
  }

}


@import 'single/single_project-hero';
@import 'single/single_project-lead';
@import 'single/single_project-content';


@import 'single/single_project-infinite_carousel';




section.single_project-carousel {
}



section.single_project-mission {
  padding: 100px 0;
  background: #F6F7FA;
  h2 {
    svg {
      margin-right: 20px;
    }
    font-size: 24px;
    font-family: 'Graphik LCG Semibold'; // Medium
    margin: 0 auto 40px;
  }
  p.lead {
    font-size: 24px;
    line-height: 34px;
    margin: 0;
  }
}




body.single_project {
  section.projects {
    @media(max-width: $mobile_layout_breckpoint){
      margin: 90px auto;
      .headline {
        font-size: 54px;
        line-height: 54px;
        margin-bottom: -32px;
      }
    }
    @media(min-width: $mobile_layout_breckpoint + 1){
      margin: 120px auto;
      .headline {
        position: absolute;
        z-index: 1;
        font-size: 48px;
        line-height: 48px;
      }
      .projects-row {
        overflow-y: visible;
        overflow-x: scroll;
      }
      .projects-item:nth-child(even) {
        z-index: 11;
      }
    }
  }
}