section.team {

  .team-member {
    border-bottom: 1px solid #E5E8F1;
    padding: 20px 0;
  }
  .container .team-member:last-child {
    border-bottom: none;
  }

  @media(max-width: $mobile_layout_breckpoint){
    padding: 64px 0 90px;
    .headline {
      margin: 0 0  64px;
    }
    .team-member__name {
      font-size: 14px;
      line-height: 14px;
      margin: 0 0 8px;
    }
    .team-member__position,
    .team-member__rate
    {
      font-size: 12px;
      line-height: 12px;
    }
    .team-member__position {
      color: #898EA1;
    }
    .team-member__rate {
      margin: 22px 0 0 0;
    }
  }
  @media(min-width: $mobile_layout_breckpoint + 1){
    padding: 160px 0 180px;
    .headline {
      margin: 0 0  110px;
    }
    .team-member {
      font-size: 14px;
      max-width: 770px;
      margin: auto;
    }
    .team-member__ava {
      max-width: 80px;
    }
  }
}




section.team2 {

  .team-member {
    border-bottom: 1px solid #E5E8F1;
    padding: 20px 0;
    max-width: 770px;
    margin: auto;
  }
  .container .team-member:last-child {
    border-bottom: none;
  }
  .team-member__rate {
    font-family: 'Graphik LCG Semibold';
  }
  .team-member__socilas {
    a {
      svg {
        width: 12px;
        height: auto;
        path {
          transition: fill 400ms;
        }
      }
      &:hover svg path {
        fill: #EA4C8A;
      }
    }
  }


  @media(max-width: $mobile_layout_breckpoint){
    padding: 64px 0 90px;
    .team-member {
      padding: 40px 0;
    }
    .headline {
      //margin: 0 0  64px;
    }
    .team-member__name {
      margin: 28px 0 12px;
    }
    .team-member__position,
    .team-member__rate
    {
      //font-size: 12px;
      // line-height: 12px;
    }
    .team-member__position {
      // color: #898EA1;
      margin: 18px 0 12px 0;
    }
    .team-member__rate {
      // margin: 22px 0 0 0;
    }
    .team-member__ava {
      max-width: 60px;
    }
  }
  @media(min-width: $mobile_layout_breckpoint + 1){
    padding: 160px 0 180px;
    .headline {
      margin: 0 0  110px;
    }
    .team-member {
      // font-size: 14px;
      // max-width: 770px;
      // margin: auto;
    }
    .team-member__ava {
      max-width: 80px;
    }
    .team-member__socilas,
    .team-member__rate
    {
      margin: 12px 0 0;
    }
  }
}