$background_color--dark: #343848;
$background_color--gray: #F6F7FA;
$main_text--dark: #898EA1;

$main_text_color: #343848;

$accent_color--green: #C9E9E1;
$accent_color--yellow: #FFDEAC;
$accent_color--pink: #FFDCDC;

$mobile_layout_breckpoint: 767px;
