/*
section.webdesign {
  
  hr {
    border: none;
    background: none;
    border-bottom: 1px solid #E5E8F1;
    width: 100%;
    max-width: 1170px;
    margin: auto;
  }
  .webdesign-link {
    color: #343848;
    text-decoration: none;
    font-family: 'Graphik LCG Semibold';
    font-size: 14px;
    line-height: 32px;
    display: block;
    svg {
      vertical-align: middle;
      margin-left: 24px;
      path {
        fill: $accent_color--green;
      }
    }
  }
  
  @media(max-width: $mobile_layout_breckpoint){
    padding: 56px 0 32px;
    .headline {
      margin: 24px 0 28px 0;
    }
    .webdesign-item_02 {
      margin: 0 -1rem 10px 0;
    }
    .webdesign-item_03 {
      margin: 0 0 28px -1rem;
    }
    .webdesign-link {
      text-align: right;
      margin-bottom: 36px;
    }
  }
  @media(min-width: $mobile_layout_breckpoint + 1){
    padding: 84px 0 44px;
    position: relative;
    .headline {
      margin: 36px 0 0 0;
    }
    .container-fluid {
      padding: 0;
    }
    .webdesign-items {
      overflow-x: hidden;
      padding: 0 0 0 44px;
    }
    .webdesign-item_01 {
      padding: 90px 96px 0 135px;
      img {
        min-width: 383px;
      }
    }
    .webdesign-item_02,
    .webdesign-item_03
    {
      padding-right: 10px;
      img {
        min-width: 478px;
      }
    }
    .webdesign-item_03 {
      padding-top: 90px;
    }
    
    .webdesign-link {
      position: absolute;
      right: 135px;
      bottom: 80px;
    }
  }
}
*/




section.projects {

  .projects-wrap {
    overflow: hidden;
  }
  
  .headline {
    font-size: 64px;
    line-height: 64px;
    margin-top: -32px;
  }
  a {
    display: block;
    color: $main_text_color;
    text-decoration: none;
  }
  h3 {
    font-family: 'Graphik LCG Medium';
  }
  .projects-hero {
    position: relative;
  }
  .btn-hutcko {
    transform: rotate(270deg);
    transform-origin: top center;
    display: inline-block;
    position: absolute;
    color: $main_text_color;
    font-size: 14px;
  }
  .project-copy {
    a {
      text-decoration: none;
    }
    h3 {
      font-size: 20px;
      a {
        color: $main_text_color;
      }
    }
    p {
      font-size: 14px;
      a {
        color: $main_text--dark;
      }
    }
  }
  
  
  @media(max-width: $mobile_layout_breckpoint){
    margin: 64px auto;
    .projects-hero {
      margin: 0 0 64px 0;
    }
    .container-fluid {
      position: relative;
    }
    .btn-hutcko {
      bottom: 0;
      right: 0;
      span {
        max-width: 76px;
        line-height: 1.2;
      }
    }
    .projects-item {
      margin: 32px 25px;
      &:nth-child(3n),
      &:nth-child(5n)
      {
        margin-left: 0;
        .project-copy {
          margin: 16px 0 0 25px;
        }
      }
      &:nth-child(2n){
        margin-right: 0;
        .project-copy {
          margin: 16px 0 0 0;
        }
      }
    }
  }
  @media(min-width: $mobile_layout_breckpoint + 1){
    margin: 124px auto 0;
    .projects-row {
      display: flex;
      overflow-y: scroll;
      //padding-top: 124px;
      //padding-bottom: 124px;
    }
  
    .btn-hutcko {
      right: 48px;
      top: 64px;
      transform-origin: right top;
      
    }
    .container-fluid {
      margin: 0;
      padding: 0;
    }
    
    .projects-hero {
      min-width: 450px;
      padding-top: 64px;
      padding-right: 64px;
      position: relative;
    }
    .projects-item {
      min-width: 480px;
      margin-right: 16px;
      &:nth-child(3n),
      &:nth-child(5n)
      {
        padding-top: 64px;
      }
      &:nth-child(2n){
      }
    }
    .project-copy {
      margin: 16px auto 0;
    }
  }
  @media(min-width: 992px){
    .projects-row {
      padding-left: 10%;
    }
  }

  
  
  
  
  
  &.projects--reversed {
    @media(min-width: $mobile_layout_breckpoint + 1){
      .btn-hutcko {
        right: initial;
        left: 48px;
        top: initial;
        bottom: 270px;
        transform-origin: bottom left;
      }
      .projects-row {
        flex-direction: row-reverse;
      }
      .projects-hero {
        order: 0;
        padding: 45px 0 0 64px;
      }
      .projects-item {
        margin-left: 16px;
        margin-right: 0;
        &:nth-child(3n),
        &:nth-child(5n)
        {
          padding-top: 0;
        }
        &:nth-child(2n){
          padding-top: 64px;
        }
      }
    }
    @media(min-width: 992px){
      .projects-row {
        padding-right: 10%;
        padding-left: 0;
      }
    }
  }
  
  
  
}


section.projects.works-projects {
  @media(min-width: $mobile_layout_breckpoint + 1){
    .projects-item {
      padding-top: 0;
      &:nth-child(even){
        padding-top: 0;
      }
      &:nth-child(odd){
        padding-top: 48px;
      }
    }
    &.projects--reversed {
      .projects-item {
        padding-top: 0;
        &:nth-child(even){
          padding-top: 48px;
        }
        &:nth-child(odd){
          padding-top: 0;
        }
      }
    }
  }
  @media(min-width: 992px){
    h2 {
      padding-left: 10%;
    }
  }
}


.projects-mousewheel {
  @media(min-width: $mobile_layout_breckpoint + 1){
    .projects-row {
      padding-bottom: 64px;
    }
  }
}