section.whyus {
  background: $accent_color--green;
  position: relative;

  .whyus-headline {
    max-width: 230px;
    position: absolute;
    top: -24px;
  }

  .whyus-content {
    padding: 32px;
    height: 100%;
    min-height: 258px;
    display: flex;
    flex-direction: column;
    h3 {
      font-size: 16px;
      margin: 0 0 20px;
      font-family: 'Graphik LCG Semibold';
    }
    p {
      font-size: 14px;
      font-family: 'Graphik LCG';
      line-height: 24px;
      margin: 0 0 40px 0;
    }
    .whyus-icon {
      margin: auto 0 0 0;
    }
    
    @media(max-width: $mobile_layout_breckpoint){
      border: 2px solid #fff;
    }
  }
  
  @media(min-width: $mobile_layout_breckpoint + 1){
    .row {
      border: 2px solid #fff;
    }
    .col-12 + .col-12 .whyus-content {
      border-left: 2px solid #fff;
    }
  }
  
  @media(max-width: $mobile_layout_breckpoint){
    padding: 92px 0 52px;
    .whyus-headline {
      left: 50%;
      transform: translateX(-50%);
      margin: 0 auto;
      img {
        display: block;
      }
    }
    .row .col-12:last-child .whyus-content {
      border-bottom: 2px solid #fff;
    }
    .whyus-content {
      border-bottom: none;
    }
  }
  @media(min-width: $mobile_layout_breckpoint + 1){
    padding: 90px 0;
    .row {
      margin: 0;
    }
    .col-12 {
      padding: 0;
    }
  }
}