body.works {
  section.cta {
    border-bottom: 1px solid #E5E8F1;
  }
  
  section {
    a, a.btn-hutcko {
      color: #343848;
    }
  }

  section.cta {
    border-bottom: 1px solid #E5E8F1;
  }
  
  
  header {
    .btn-primary {
      background-color: $accent_color--yellow !important;
    }

  }
  header .navbar {
    position: absolute;
    top: 36px;
    width: 100%;
    left: 0;
  }
  header.fixed-top {
    .navbar {
      position: relative;
      top: initial;
      left: initial;
    }
  }
  
  
  
  header .bg-light {
    background: none !important;
    //border-bottom: 1px solid #e2e2e2;
  }
  header .bg-light:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(0,0%,100%,.6);
    background-filter: blur(10px);
    z-index: -1;
  }



  padding-top: 96px;
}











body.works {
  section.works-filter {
    ul {
      margin: 64px auto;
      padding: 0;
      list-style: none;
      display: flex;
      justify-content: center;
    }
    li + li {
      margin-left: 14px;
    }
    a {
      font-size: 12px;
      line-height: 32px;
      text-decoration: none;
      min-width: 100px;
      padding: 0 15px;
      display: block;
      text-align: center;
      border: 1px solid transparent;
      transition: border 600ms, bckground 600ms, box-shadow 600ms;

      &.works-filter-all {
        background: #F3F4F6;
        color: #898EA1;
        &.is-active {
          //box-shadow: 0px 4px 4px rgba(137, 142, 161, 0.15);
          //border: 1px solid #898EA1;
          background-color: transparent;
          background-repeat: no-repeat;
          background-image:   linear-gradient(to right, #898EA1 100%, #898EA1 100%),
                              linear-gradient(to bottom, #898EA1 100%, #898EA1 100%),
                              linear-gradient(to right, #898EA1 100%, #898EA1 100%),
                              linear-gradient(to bottom, #898EA1 100%, #898EA1 100%);
          background-size:    100% 1px,
                              1px 100%,
                              100% 1px,
                              1px 100%;
          background-position:    0 0,
                                  100% 0,
                                  100% 100%,
                                  0 100%;
          animation: activeFilterBackgroundAnimation 0.4s cubic-bezier(0.19, 1, 0.22, 1) 1;
        }
      }
      &.works-filter-web {
        background: #FFF9F3;
        color: #CE9E72;
        &.is-active {
          //box-shadow: 0px 4px 4px rgba(137, 142, 161, 0.15);
          //border: 1px solid #CE9E72;
          //background: transparent;
          background-color: transparent;
          background-repeat: no-repeat;
          background-image:   linear-gradient(to right, #CE9E72 100%, #CE9E72 100%),
                              linear-gradient(to bottom, #CE9E72 100%, #CE9E72 100%),
                              linear-gradient(to right, #CE9E72 100%, #CE9E72 100%),
                              linear-gradient(to bottom, #CE9E72 100%, #CE9E72 100%);
          background-size:    100% 1px,
                              1px 100%,
                              100% 1px,
                              1px 100%;
          background-position:    0 0,
                                  100% 0,
                                  100% 100%,
                                  0 100%;
          animation: activeFilterBackgroundAnimation 0.4s cubic-bezier(0.19, 1, 0.22, 1) 1;
        }
      }
      &.works-filter-app {
        color: #EA8989;
        background: #FEF4F4;
        &.is-active {
          //box-shadow: 0px 4px 4px rgba(137, 142, 161, 0.15);
          //border: 1px solid #EA8989;
          //background: transparent;
          background-color: transparent;
          background-repeat: no-repeat;
          background-image:   linear-gradient(to right, #EA8989 100%, #EA8989 100%),
                              linear-gradient(to bottom, #EA8989 100%, #EA8989 100%),
                              linear-gradient(to right, #EA8989 100%, #EA8989 100%),
                              linear-gradient(to bottom, #EA8989 100%, #EA8989 100%);
          background-size:    100% 1px,
                              1px 100%,
                              100% 1px,
                              1px 100%;
          background-position:    0 0,
                                  100% 0,
                                  100% 100%,
                                  0 100%;
          animation: activeFilterBackgroundAnimation 0.4s cubic-bezier(0.19, 1, 0.22, 1) 1;
        }
      }
      &.works-filter-graphic {
        color: #78BAA9;
        background: #F4FBF9;
        &.is-active {
          //box-shadow: 0px 4px 4px rgba(137, 142, 161, 0.15);
          //border: 1px solid #78BAA9;
          //background: transparent;
          background-color: transparent;
          background-repeat: no-repeat;
          background-image:   linear-gradient(to right, #78BAA9 100%, #78BAA9 100%),
                              linear-gradient(to bottom, #78BAA9 100%, #78BAA9 100%),
                              linear-gradient(to right, #78BAA9 100%, #78BAA9 100%),
                              linear-gradient(to bottom, #78BAA9 100%, #78BAA9 100%);
          background-size:    100% 1px,
                              1px 100%,
                              100% 1px,
                              1px 100%;
          background-position:    0 0,
                                  100% 0,
                                  100% 100%,
                                  0 100%;
          animation: activeFilterBackgroundAnimation 0.4s cubic-bezier(0.19, 1, 0.22, 1) 1;
        }
      }
    }

    @media(max-width: $mobile_layout_breckpoint){
      ul {
        flex-direction: column;
      }
      li {
        margin: auto;
      }
      li + li {
        margin: 16px auto 0 auto;
      }
    }
  }
}



@keyframes activeFilterBackgroundAnimation {
  0% {
      background-size:    0 1px,
                          1px 0,
                          0 1px,
                          1px 0;
  }
  25% {
      background-size:    100% 1px,
                          1px 0,
                          0 1px,
                          1px 0;
  }
  50% {
      background-size:    100% 1px,
                          1px 100%,
                          0 1px,
                          1px 0;
  }
  75% {
      background-size:    100% 1px,
                          1px 100%,
                          100% 1px,
                          1px 0;
  }
  100% {
      background-size:    100% 1px,
                          1px 100%,
                          100% 1px,
                          1px 100%;
  }
}








body.works {

  section.works_webdesign {

    font-size: 16px;
    h3 {
      font-family: 'Graphik LCG Medium';
      margin: 24px auto 14px;
      font-size: 24px;
    }
    img {
      max-width: 100%;
    }
    .projects-row{
      scroll-behavior: smooth;
    }
    .projects-row-item {
      display: block;
      text-decoration: none;
    }

    @media(max-width: $mobile_layout_breckpoint){
      .headline {
        margin: 80px auto 32px;
      }
      .projects-row {
        flex-direction: column !important;
        .projects-row-item {
          &:nth-child(even) {
            margin: 0 0 36px -25px;
            h3, p {
              margin-left: 25px;
            }
          }
          &:nth-child(odd) {
            margin: 0 -25px 36px 0;
          }
        }
      }
    }
    @media(min-width: $mobile_layout_breckpoint + 1){
      .works_webdesign-item {
        margin: 0 10px;
        &:nth-child(odd) {
          padding-top: 3em;
        }

      }

      .works_webdesign-row--left_to_right {
        .works_webdesign-item:first-child {
          margin-left: 32px;
        }
        .works_webdesign-item:last-child {
          margin-right: 0;
        }
      }

      .works_webdesign-row--right_to_left {
        .works_webdesign-item:first-child {
          margin-left: 0;
        }
        .works_webdesign-item:last-child {
          margin-right: 32px;
        }
      }

    }
    @media(min-width: $mobile_layout_breckpoint + 1) and (max-width: 991px){
      .projects-row-item {
        min-width: 20%;
        padding: 0 8px;
      }
      // .works_webdesign-image_landscape {
      //   min-width: 360px;
      //   max-width: 360px;
      // }
      // .works_webdesign-image_portrait {
      //   min-width: 280px;
      //   max-width: 280px;
      // }
    }
    @media(min-width: 992px){
      font-size: 18px;
      .headline {
        margin: 80px auto 0;
      }

      .works_webdesign-image_landscape {
        min-width: 340px;
        max-width: 340px;
      }
      .works_webdesign-image_portrait {
        min-width: 240px;
        max-width: 240px;
      }

      .works_webdesign-item {
        
      }


      .projects-row {
        margin: 0 0 80px;
      }

      .projects-row-ltr {
        .projects-row-item {
          //min-width: 460px;
          &:nth-child(even) {
            margin: 0 10px;
          }
          &:nth-child(odd) {
            margin: 48px 10px 0;
          }
        }
      }
      .projects-row-rtl {
        .projects-row-item {
          &:nth-child(even) {
            margin: 0 10px;
          }
          &:nth-child(odd) {
            margin: 48px 10px 0;
          }
        }
      }


      .works_webdesign-row--left_to_right {
        .works_webdesign-item:first-child {
          margin-left: auto;
        }
        .works_webdesign-item:last-child {
          margin-right: 0;
        }
      }

      .works_webdesign-row--right_to_left {
        .works_webdesign-item:first-child {
          margin-left: 0;
        }
        .works_webdesign-item:last-child {
          margin-right: auto;
        }
      }

    }
    @media(min-width: 1100px){
      .works_webdesign-image_landscape {
        min-width: 360px;
        max-width: 360px;
      }
      .works_webdesign-image_portrait {
        min-width: 280px;
        max-width: 280px;
      }
    }

    @media(min-width: 1200px){
      .works_webdesign-image_landscape {
        min-width: 400px;
        max-width: 400px;
      }
      .works_webdesign-image_portrait {
        min-width: 338px;
        max-width: 338px;
      }
    }
    @media(min-width: 1400px){
      .works_webdesign-image_landscape {
        min-width: 440px;
        max-width: 440px;
      }
      .works_webdesign-image_portrait {
        min-width: 338px;
        max-width: 338px;
      }
    }

  }

  section.works_appdesign {
    @media(min-width: 992px){
      .projects-row {
        .projects-row-item {
          &:nth-child(even) {
            margin: 48px 10px 0;
          }
          &:nth-child(odd) {
            margin: 0 10px;
          }
        }
      }
    }
  }

  section.works_graphicdesign {
    @media(min-width: 992px){
      
      .projects-row-ltr {
        .projects-row-item {
          //min-width: 460px;
          &:nth-child(even) {
            margin: 48px 10px 0;
          }
          &:nth-child(odd) {
            margin: 0 10px;
          }
        }
      }
      .projects-row-rtl {
        .projects-row-item {
          &:nth-child(even) {
            margin: 48px 10px 0;
          }
          &:nth-child(odd) {
            margin: 0 10px;
          }
        }
      }

    }
  }




}


























