@import 'bootstrap/bootstrap';

@import 'fonts';
@import 'variables';

/* Common */

*:focus {
  outline: none !important;
  box-shadow: none !important;
}

html {
  scroll-behavior: smooth;
}

html, body {
  overflow-x: hidden;
  // width: 100%;
}
body {
  //min-height: 100%;
  //max-width: 100vw;
  color: $main_text_color;
  text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.modal-open {
  overflow: hidden;
  position: fixed; // TODO
  width: 100%;
}


h3 {
  font-family: 'Graphik LCG Semibold';
}
p {
  font-family: 'Graphik LCG';
}

hr {
  border-top: 1px solid #E5E8F1;
  opacity: 1;
}

// Overwrite bootstrap
.container {
  max-width: 1220px;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  padding-left: 25px;
  padding-right: 25px;
}



@import 'helpers';


// Custom classes
.headline {
  font-family: 'ChronicleDisplayRoman';
  font-size: 64px;
  line-height: 64px;
}
.lead {
  
}
@media (max-width: 991px){
  .headline {
    font-size: 48px;
    line-height: 48px;
  }
  .lead {
    font-size: 18px;
    line-height: 24px;
  }
}

// Layout

@import 'header';
@import 'footer';


// Home page



body.home {
  header {
    .navbar.bg-dark {
      //background: $background_color--dark !important;
      .nav-link {
        color: #898EA1;
      }
    }
    .nav-link {
      &.active {
        color: white !important;
      }
    }
    
    
    .navbar-collapse.collapsing,
    .navbar-collapse.show
    {
      @media (max-width: 992px){
        background: $background_color--dark;
      }
    }
  }

  header .navbar {
    position: absolute;
    top: 36px;
    width: 100%;
    left: 0;
    &.bg-dark .nav-link {
      color: #ccc;
    }
  }
  header.fixed-top {
    .navbar {
      position: relative;
      top: initial;
      left: initial;
    }
  }
  
  
  
  header .bg-dark {
    background: none !important;
    //border-bottom: 1px solid #e2e2e2;
  }
  header .bg-dark:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(52, 57, 72,.6);
    backdrop-filter: blur(10px);
    z-index: -1;
  }
}


@import 'hero-section';
@import 'webdesign';
@import 'whyus';
@import 'clients';
@import 'cta';
@import 'team';
@import 'contacts';


// Common page
@import 'process';
@import 'animations';
@import 'preloader';
@import 'modal';


// About us Page
@import 'about_us';
@import 'about-us--hero';
@import 'about-us--clients';
@import 'about-us--services';
@import 'about-us--stats';
@import 'about-us--copies';
@import 'about-us--mission';


// Services Page
@import 'page_services';
@import 'page_services--hero';
@import 'process-vertical';


// Works Page
@import 'works';

// Sinngle Project
@import 'single_project';






@media(max-width: $mobile_layout_breckpoint){
}
@media(min-width: $mobile_layout_breckpoint + 1){
}



/* Fixes */
//input:-webkit-autofill,
//input:-webkit-autofill:hover,
//input:-webkit-autofill:focus,
//input:-webkit-autofill:active {
//    -webkit-transition: color 9999s ease-out, background-color 9999s ease-out;
//    -webkit-transition-delay: 9999s;
//}
///* Change the white to any color ;) */
//input:-webkit-autofill,
//input:-webkit-autofill:hover, 
//input:-webkit-autofill:focus, 
//input:-webkit-autofill:active,
//
//input:-internal-autofill-previewed, 
//input:-internal-autofill-selected
//{
//  background-color: red !important;
//  -webkit-box-shadow: 0 0 0 30px red inset !important;
//     -webkit-box-shadow: 0 0 0px 1000px #d500ff inset;
//}
///*Change text in autofill textbox*/
//input:-webkit-autofill {
//  background: red !important;
//  background-color: red !important;
//  -webkit-text-fill-color: rgba(102, 163, 177, 0.45) !important;
//}

//input:-webkit-autofill,
//textarea:-webkit-autofill,
//select:-webkit-autofill {
//    -webkit-box-shadow: 0 0 0 1000px #d500ff inset !important;
//    /*use inset box-shadow to cover background-color*/
//    -webkit-text-fill-color: #ffa400 !important;
//    /*use text fill color to cover font color*/
//  //background-clip: content-box !important;
//}



/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
  -webkit-box-shadow: 0 0 0 30px $background_color--dark inset !important;
  -webkit-text-fill-color: $contacts-form__inputs-color;
}



.cta-cursor {
  cursor: none;
}

.cta-cursor-button {
  font-size: 10px;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  background-color: $accent_color--yellow;
  border-radius: 100%;
  position: absolute;
  width: 68px;
  height: 68px;
  line-height: 68px;
  text-align: center;
  transform: translate(-50%,-50%) scale(1);
  z-index: 111111;
  color: #343848;
  font-family: 'Graphik LCG Medium';

  &:before {
    content: '';
    position: absolute;
    top: 9px;
    left: -13px;
    width: 34px;
    height: 34px;
    background: $accent_color--pink;
    border-radius: 100%;
    z-index: -1;
  }
  &:after {
    content: '';
    position: absolute;
    top: -4px;
    right: 7px;
    width: 18px;
    height: 18px;
    background: $accent_color--yellow;
    border-radius: 100%;
    z-index: -1;
  }
  
  transition: transform 200ms, opacity 200ms;
  pointer-events: none;
  &.is-hidden2 {
    opacity: 0;
    transform: translate(-50%,-50%) scale(0.3);
  }

  &.is-noactive {
    background-color: white !important;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 1.59509C0.539877 1.07975 1.07975 0.539877 1.59509 0C3.73006 2.13497 5.86503 4.26994 8 6.40491C10.135 4.26994 12.2699 2.13497 14.4049 0C14.9448 0.539877 15.4847 1.07975 16 1.59509C13.865 3.73006 11.7301 5.86503 9.59509 8C11.7301 10.135 13.865 12.2699 16 14.4049C15.4847 14.9448 14.9448 15.4847 14.4049 16C12.2699 13.865 10.135 11.7301 8 9.59509C5.86503 11.7301 3.73006 13.865 1.59509 16C1.07975 15.4847 0.539877 14.9448 0 14.4049C2.13497 12.2699 4.26994 10.135 6.40491 8C4.26994 5.86503 2.13497 3.73006 0 1.59509Z' fill='%23343848'/%3e%3c/svg%3e ");
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: center center;
  }
}



header .btn-primary:focus {
  color: #343848 !important;
}