section.hero-banner.about-us__hero.bg-green
  .container
    .row.align-items-center
      .col-12.col-sm-6.col-md-6.col-lg-5.order-2.order-md-1
        h1.headline
          span Hello! We’re
          br
          svg(viewbox="0 0 348 58" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M.24 50.888h20.032v-.832c-6.08-.192-6.72-1.6-6.72-4.544V28.424h21.312v17.088c0 2.944-.64 4.352-6.656 4.544v.832h19.968v-.832c-5.696-.192-7.232-1.728-7.232-4.544v-33.92c0-2.752 1.536-4.352 7.232-4.544V6.28H28.208v.768c6.016.192 6.656 1.664 6.656 4.544V27.08H13.552V11.592c0-2.88.64-4.352 6.72-4.544V6.28H.24v.768c5.696.192 7.232 1.792 7.232 4.544v33.92c0 2.816-1.536 4.352-7.232 4.544v.832z" fill="#F1CBA8")
            path(d="M.24 50.888h20.032v-.832c-6.08-.192-6.72-1.6-6.72-4.544V28.424h21.312v17.088c0 2.944-.64 4.352-6.656 4.544v.832h19.968v-.832c-5.696-.192-7.232-1.728-7.232-4.544v-33.92c0-2.752 1.536-4.352 7.232-4.544V6.28H28.208v.768c6.016.192 6.656 1.664 6.656 4.544V27.08H13.552V11.592c0-2.88.64-4.352 6.72-4.544V6.28H.24v.768c5.696.192 7.232 1.792 7.232 4.544v33.92c0 2.816-1.536 4.352-7.232 4.544v.832z" fill="#FFDCDC")
            path(d="M63.558 51.336c4.352 0 8-2.496 10.944-7.36v6.912h9.92v-.704c-3.712-.064-4.672-.832-4.672-2.368V21.384l-10.112.256v.768c3.712.064 4.736 1.216 4.736 3.136v16.768c-1.792 3.84-4.416 6.272-7.552 6.272-4.224 0-5.632-2.688-5.632-7.808V21.384l-10.112.256v.768c3.712.064 4.736 1.216 4.736 3.136v17.152c0 5.76 3.008 8.64 7.744 8.64z" fill="#F1CBA8")
            path(d="M63.558 51.336c4.352 0 8-2.496 10.944-7.36v6.912h9.92v-.704c-3.712-.064-4.672-.832-4.672-2.368V21.384l-10.112.256v.768c3.712.064 4.736 1.216 4.736 3.136v16.768c-1.792 3.84-4.416 6.272-7.552 6.272-4.224 0-5.632-2.688-5.632-7.808V21.384l-10.112.256v.768c3.712.064 4.736 1.216 4.736 3.136v17.152c0 5.76 3.008 8.64 7.744 8.64z" fill="#FFDCDC")
            path(d="M98.058 51.592c3.52 0 6.464-2.176 8.64-6.144l-.704-.512c-1.856 3.008-3.904 4.352-5.76 4.352-2.496 0-3.648-1.344-3.648-5.312V23.56h9.088v-1.92h-9.088V11.016L91.21 13.32v8.128l-6.08 1.472v.64h6.08V43.4c0 5.376 1.92 8.192 6.848 8.192z" fill="#F1CBA8")
            path(d="M98.058 51.592c3.52 0 6.464-2.176 8.64-6.144l-.704-.512c-1.856 3.008-3.904 4.352-5.76 4.352-2.496 0-3.648-1.344-3.648-5.312V23.56h9.088v-1.92h-9.088V11.016L91.21 13.32v8.128l-6.08 1.472v.64h6.08V43.4c0 5.376 1.92 8.192 6.848 8.192z" fill="#FFDCDC")
            path(d="M121.738 51.4c6.464 0 9.92-3.2 12.48-6.976l-.704-.512c-2.816 3.328-4.864 4.992-8.768 4.992-6.912 0-10.304-5.888-10.304-13.504 0-8.448 4.032-13.248 9.152-13.248 2.496 0 4.096 1.024 5.248 2.304-.896.512-1.856 1.792-1.856 3.52 0 1.92 1.344 3.328 3.52 3.328 1.984 0 3.136-1.536 3.136-3.584 0-2.816-3.456-6.72-10.176-6.72-8.32 0-14.976 6.592-14.976 15.808 0 8.192 5.312 14.592 13.248 14.592z" fill="#F1CBA8")
            path(d="M121.738 51.4c6.464 0 9.92-3.2 12.48-6.976l-.704-.512c-2.816 3.328-4.864 4.992-8.768 4.992-6.912 0-10.304-5.888-10.304-13.504 0-8.448 4.032-13.248 9.152-13.248 2.496 0 4.096 1.024 5.248 2.304-.896.512-1.856 1.792-1.856 3.52 0 1.92 1.344 3.328 3.52 3.328 1.984 0 3.136-1.536 3.136-3.584 0-2.816-3.456-6.72-10.176-6.72-8.32 0-14.976 6.592-14.976 15.808 0 8.192 5.312 14.592 13.248 14.592z" fill="#FFDCDC")
            path(d="M145.687 38.984l3.328-3.264 7.488 10.432c1.6 2.176 1.536 3.584-2.112 3.968v.768h14.08v-.768c-2.944-.32-3.648-.96-6.656-5.056l-9.28-12.736 4.544-4.416c4.096-3.968 5.888-5.12 9.28-5.632v-.768h-12.992v.768c4.672.576 4.8 2.496 2.24 5.12l-9.92 9.984V5l-10.752.256v.768c4.736.128 5.376.96 5.376 3.264V47.56c0 2.176-.96 2.496-4.672 2.56v.768h13.44v-.768c-2.56-.064-3.392-.384-3.392-2.56v-8.576z" fill="#F1CBA8")
            path(d="M145.687 38.984l3.328-3.264 7.488 10.432c1.6 2.176 1.536 3.584-2.112 3.968v.768h14.08v-.768c-2.944-.32-3.648-.96-6.656-5.056l-9.28-12.736 4.544-4.416c4.096-3.968 5.888-5.12 9.28-5.632v-.768h-12.992v.768c4.672.576 4.8 2.496 2.24 5.12l-9.92 9.984V5l-10.752.256v.768c4.736.128 5.376.96 5.376 3.264V47.56c0 2.176-.96 2.496-4.672 2.56v.768h13.44v-.768c-2.56-.064-3.392-.384-3.392-2.56v-8.576z" fill="#FFDCDC")
            path(d="M183.893 51.4c7.424 0 14.464-6.4 14.464-15.36 0-8.896-6.72-15.04-14.464-15.04-7.488 0-14.528 6.4-14.528 15.296 0 8.96 6.656 15.104 14.528 15.104zm.256-1.152c-5.12 0-8.64-3.52-8.64-14.08s3.008-14.016 8.064-14.016c5.12 0 8.64 3.456 8.64 14.016s-3.072 14.08-8.064 14.08z" fill="#F1CBA8")
            path(d="M183.893 51.4c7.424 0 14.464-6.4 14.464-15.36 0-8.896-6.72-15.04-14.464-15.04-7.488 0-14.528 6.4-14.528 15.296 0 8.96 6.656 15.104 14.528 15.104zm.256-1.152c-5.12 0-8.64-3.52-8.64-14.08s3.008-14.016 8.064-14.016c5.12 0 8.64 3.456 8.64 14.016s-3.072 14.08-8.064 14.08z" fill="#FFDCDC")
            path(d="M227.863 51.4c6.464 0 9.92-3.2 12.48-6.976l-.704-.512c-2.816 3.328-4.864 4.992-8.768 4.992-6.912 0-10.304-5.888-10.304-13.504 0-8.448 4.032-13.248 9.152-13.248 2.496 0 4.096 1.024 5.248 2.304-.896.512-1.856 1.792-1.856 3.52 0 1.92 1.344 3.328 3.52 3.328 1.984 0 3.136-1.536 3.136-3.584 0-2.816-3.456-6.72-10.176-6.72-8.32 0-14.976 6.592-14.976 15.808 0 8.192 5.312 14.592 13.248 14.592z" fill="#F1CBA8")
            path(d="M227.863 51.4c6.464 0 9.92-3.2 12.48-6.976l-.704-.512c-2.816 3.328-4.864 4.992-8.768 4.992-6.912 0-10.304-5.888-10.304-13.504 0-8.448 4.032-13.248 9.152-13.248 2.496 0 4.096 1.024 5.248 2.304-.896.512-1.856 1.792-1.856 3.52 0 1.92 1.344 3.328 3.52 3.328 1.984 0 3.136-1.536 3.136-3.584 0-2.816-3.456-6.72-10.176-6.72-8.32 0-14.976 6.592-14.976 15.808 0 8.192 5.312 14.592 13.248 14.592z" fill="#FFDCDC")
            path(d="M242.532 50.888h15.424v-.768c-4.096-.064-5.376-.384-5.376-2.56V29.512c2.112-3.52 3.648-5.44 6.528-5.888-.192.448-.32 1.152-.32 1.664 0 2.176 1.536 3.456 3.456 3.456 1.984 0 3.392-1.408 3.392-3.456 0-2.176-1.408-4.224-4.672-4.224-3.2 0-6.144 2.624-8.512 6.912v-6.592l-9.92.256v.768c3.712.064 4.672 1.344 4.672 3.264V47.56c0 2.176-.96 2.496-4.672 2.56v.768z" fill="#F1CBA8")
            path(d="M242.532 50.888h15.424v-.768c-4.096-.064-5.376-.384-5.376-2.56V29.512c2.112-3.52 3.648-5.44 6.528-5.888-.192.448-.32 1.152-.32 1.664 0 2.176 1.536 3.456 3.456 3.456 1.984 0 3.392-1.408 3.392-3.456 0-2.176-1.408-4.224-4.672-4.224-3.2 0-6.144 2.624-8.512 6.912v-6.592l-9.92.256v.768c3.712.064 4.672 1.344 4.672 3.264V47.56c0 2.176-.96 2.496-4.672 2.56v.768z" fill="#FFDCDC")
            path(d="M281.503 51.4c6.464 0 9.856-3.584 12.224-7.552l-.704-.512c-2.688 3.456-4.992 5.568-9.152 5.568-6.912 0-10.304-5.824-10.304-12.992v-.064c0-.576 0-1.216.064-1.792h19.904c.512-7.04-3.648-13.056-12.032-13.056-7.36 0-13.888 6.72-13.888 15.488 0 8.448 5.632 14.912 13.888 14.912zm-.448-29.248c5.312 0 7.04 3.968 6.464 10.88h-13.888c.576-7.296 3.328-10.88 7.424-10.88z" fill="#F1CBA8")
            path(d="M281.503 51.4c6.464 0 9.856-3.584 12.224-7.552l-.704-.512c-2.688 3.456-4.992 5.568-9.152 5.568-6.912 0-10.304-5.824-10.304-12.992v-.064c0-.576 0-1.216.064-1.792h19.904c.512-7.04-3.648-13.056-12.032-13.056-7.36 0-13.888 6.72-13.888 15.488 0 8.448 5.632 14.912 13.888 14.912zm-.448-29.248c5.312 0 7.04 3.968 6.464 10.88h-13.888c.576-7.296 3.328-10.88 7.424-10.88z" fill="#FFDCDC")
            path(d="M318.232 29.832l-6.144 14.4h-.256l-6.72-17.472c-.256-.704-.384-1.28-.384-1.728 0-1.536 1.152-2.56 4.096-2.752v-.768h-14.528v.768c3.136.256 4.416 1.728 5.76 5.12l9.408 24h1.024l8.384-19.776 7.36 19.776h1.152l8.448-23.232c1.344-3.776 3.584-5.632 5.888-5.888v-.768h-11.264v.768c2.816.32 4.224 1.152 4.224 3.2 0 .96-.448 2.56-1.152 4.608l-4.736 14.016h-.256l-6.144-17.344c-.192-.64-.32-1.152-.32-1.664 0-1.664 1.152-2.624 4.096-2.816v-.768h-14.144v.768c2.88.256 4.032 1.6 5.312 5.12l.896 2.432z" fill="#F1CBA8")
            path(d="M318.232 29.832l-6.144 14.4h-.256l-6.72-17.472c-.256-.704-.384-1.28-.384-1.728 0-1.536 1.152-2.56 4.096-2.752v-.768h-14.528v.768c3.136.256 4.416 1.728 5.76 5.12l9.408 24h1.024l8.384-19.776 7.36 19.776h1.152l8.448-23.232c1.344-3.776 3.584-5.632 5.888-5.888v-.768h-11.264v.768c2.816.32 4.224 1.152 4.224 3.2 0 .96-.448 2.56-1.152 4.608l-4.736 14.016h-.256l-6.144-17.344c-.192-.64-.32-1.152-.32-1.664 0-1.664 1.152-2.624 4.096-2.816v-.768h-14.144v.768c2.88.256 4.032 1.6 5.312 5.12l.896 2.432z" fill="#FFDCDC")
            path(fill-rule="evenodd" clip-rule="evenodd" d="M139.904 41.304l-.272.4c-2.319 3.421-5.414 6.448-10.783 7.077-.364.425-.886.949-1.403 1.265-.281.172-.646.337-1.023.297a.971.971 0 01-.564-.255 1.106 1.106 0 01-.154-.177l-.04.125c-.268.857-.586 2.291-1.001 4.167l-.176.793c-.248 1.117-.512 1.986-.797 2.446-.074.12-.171.248-.298.343a.695.695 0 01-.577.133.78.78 0 01-.449-.315 1.702 1.702 0 01-.212-.419c-.214-.588-.373-1.65-.482-3.198-.106-1.503-.168-3.514-.173-6.092-5.28-2.176-8.51-7.624-8.51-14.086 0-9.476 6.864-16.308 15.476-16.308 6.873 0 10.676 4.019 10.676 7.22 0 1.113-.313 2.132-.94 2.88-.636.76-1.563 1.204-2.696 1.204-1.198 0-2.21-.39-2.925-1.086-.715-.696-1.095-1.663-1.095-2.742 0-1.596.739-2.866 1.593-3.59-1.036-.996-2.425-1.734-4.485-1.734-2.387 0-4.53 1.113-6.092 3.25-1.569 2.148-2.56 5.348-2.56 9.498 0 3.743.835 7.006 2.469 9.32 1.619 2.292 4.043 3.684 7.335 3.684 1.872 0 3.267-.397 4.53-1.174 1.281-.788 2.454-1.984 3.857-3.641l.3-.355 1.471 1.07zm-5.275-19.722l-.539.308c-.743.425-1.604 1.54-1.604 3.086 0 .84.292 1.538.793 2.025.501.488 1.249.803 2.227.803.852 0 1.493-.324 1.929-.845.444-.531.707-1.305.707-2.24 0-2.43-3.109-6.22-9.676-6.22-8.027 0-14.476 6.352-14.476 15.309 0 6.26 3.178 11.37 8.188 13.279l.322.122v.345c0 2.73.062 4.825.171 6.361.09 1.28.21 2.137.339 2.645.15-.38.322-.972.502-1.781l.177-.797c.411-1.86.74-3.343 1.021-4.244.081-.259.163-.486.248-.668.074-.158.188-.369.371-.497a.634.634 0 01.454-.116c.181.024.31.122.39.206.145.152.236.37.301.566a.366.366 0 00.059.12c.042.002.168-.02.391-.156.44-.27.946-.788 1.282-1.202l.13-.161.206-.021c4.512-.473 7.315-2.728 9.466-5.554-1.071 1.187-2.088 2.138-3.208 2.826-1.44.887-3.021 1.323-5.054 1.323-3.619 0-6.347-1.552-8.152-4.108-1.791-2.535-2.652-6.023-2.652-9.896 0-4.298 1.025-7.723 2.752-10.087 1.735-2.374 4.168-3.661 6.9-3.661 2.661 0 4.39 1.103 5.62 2.47l.415.46zM4.24 48.888v-2.8l.967-.032c2.81-.094 4.37-.523 5.215-1.11.739-.512 1.05-1.23 1.05-2.434V8.592c0-1.167-.308-1.89-1.054-2.413-.847-.594-2.407-1.037-5.211-1.132l-.967-.032V2.28h22.032v2.737l-.968.03c-3.043.096-4.405.52-5.039 1.039-.532.435-.713 1.079-.713 2.506V23.08h19.312V8.592c0-1.428-.18-2.074-.708-2.509-.625-.515-1.97-.94-4.98-1.036l-.968-.03V2.28h21.968v2.735l-.966.032c-2.805.095-4.364.538-5.212 1.132-.746.522-1.054 1.246-1.054 2.413v33.92c0 1.204.311 1.922 1.05 2.434.846.587 2.405 1.016 5.216 1.11l.966.033v2.799H32.208v-2.8l.968-.032c3.017-.096 4.36-.506 4.984-1.015.52-.425.704-1.064.704-2.53V26.425H19.552v16.088c0 1.465.184 2.101.709 2.526.633.512 1.993.922 5.043 1.018l.968.03v2.802H4.24zm31.316-2c3.845-.478 4.308-1.871 4.308-4.376V25.424H18.552v17.088c0 2.505.464 3.898 4.348 4.376.68.083 1.466.14 2.372.168v.832H5.24v-.832a24.043 24.043 0 002.223-.168c3.886-.496 5.01-1.968 5.01-4.376V8.592c0-2.266-1.042-3.751-4.59-4.312-.76-.12-1.637-.198-2.643-.232V3.28h20.032v.768c-1.104.035-2.029.112-2.803.232-3.488.54-3.917 1.955-3.917 4.312V24.08h21.312V8.592c0-2.357-.428-3.771-3.882-4.312-.766-.12-1.681-.197-2.774-.232V3.28h19.968v.768a21.746 21.746 0 00-2.642.232c-3.548.56-4.59 2.046-4.59 4.312v33.92c0 2.407 1.123 3.88 5.01 4.376.658.084 1.397.14 2.222.168v.832H33.208v-.832a25.936 25.936 0 002.348-.168zm49.194-2.072c0 1.028.43 1.713 1.83 2.072.69.177 1.616.275 2.842.296v.704h-9.92v-6.912a24.007 24.007 0 01-1 1.523 18.407 18.407 0 01-1.911 2.284c-2.34 2.354-5.018 3.553-8.033 3.553-4.736 0-7.744-2.88-7.744-8.64V22.544c0-1.517-.639-2.554-2.736-2.955a11.815 11.815 0 00-2-.181v-.768l10.112-.256v19.392c0 5.12 1.408 7.808 5.632 7.808 1.496 0 2.876-.554 4.104-1.55 1.064-.863 2.014-2.057 2.828-3.51.216-.387.423-.791.62-1.212V22.544c0-1.517-.639-2.554-2.736-2.955a11.816 11.816 0 00-1.98-.181h-.02v-.768l10.112-.256v26.432zm-6.376-5.73V22.545c0-.772-.194-1.18-.573-1.462-.462-.344-1.381-.643-3.18-.675l-.983-.016v-2.726l12.112-.307v27.458c0 .284.045.45.098.553.046.09.13.196.332.309.47.262 1.416.474 3.259.506l.983.017v2.687h-11.92v-4.74c-2.74 3.364-6.052 5.188-9.944 5.188-2.573 0-4.802-.788-6.38-2.478-1.568-1.68-2.364-4.117-2.364-7.162V22.544c0-.772-.194-1.18-.573-1.462-.462-.344-1.381-.643-3.18-.675l-.983-.016v-2.726l12.112-.307v20.418c0 2.513.355 4.212 1.062 5.267.646.963 1.694 1.54 3.57 1.54 2.504 0 4.829-1.913 6.552-5.496zm34.624 3.07l-.423.773c-2.281 4.159-5.506 6.663-9.517 6.663-2.658 0-4.71-.768-6.055-2.457-1.305-1.64-1.793-3.963-1.793-6.735V21.56h-6.08v-2.427l6.08-1.472v-8l7.376-3.162v11.14h9.088v3.92h-9.088v19.417c0 1.937.291 2.993.699 3.559.344.477.886.753 1.949.753 1.344 0 3.127-.99 4.909-3.877l.566-.919 2.289 1.665zM96.21 18.449l-6.08 1.472v.64h6.08V40.4c0 5.376 1.92 8.192 6.848 8.192 2.93 0 5.462-1.508 7.483-4.303.406-.563.792-1.177 1.157-1.841l-.704-.512-.059.094a15.266 15.266 0 01-1.185 1.646c-1.5 1.792-3.067 2.612-4.516 2.612-2.496 0-3.648-1.344-3.648-5.312V20.56h9.088v-1.92h-9.088V8.016L96.21 10.32v8.128zm54.477 15.936l9.92-9.984c2.284-2.342 2.428-4.123-.887-4.888-.4-.093-.85-.17-1.353-.232v-.768h12.992v.768c-.433.065-.841.14-1.23.232-2.658.62-4.477 1.938-8.05 5.4l-4.544 4.416 9.28 12.736c2.448 3.334 3.37 4.378 5.216 4.824.422.102.892.172 1.44.232v.768h-14.08v-.768a9.671 9.671 0 001.371-.232c2.26-.578 2.108-1.877.741-3.736l-7.488-10.432-3.328 3.264v8.576c0 1.41.35 2.041 1.293 2.328.512.155 1.199.21 2.099.232v.768h-13.44v-.768c1.305-.023 2.27-.077 2.972-.232 1.296-.287 1.7-.917 1.7-2.328V6.288c0-1.831-.404-2.733-2.948-3.09-.652-.092-1.446-.147-2.41-.174h-.018v-.768L150.687 2v32.384zm1 2.02v8.156c0 1.013.203 1.18.299 1.245.095.066.279.146.647.207.366.061.84.092 1.471.108l.975.024v2.744h-15.44v-2.751l.982-.017c.923-.016 1.636-.048 2.195-.114.568-.068.899-.164 1.095-.265.161-.082.227-.162.276-.274.067-.152.124-.42.124-.907V6.288c0-1.11-.17-1.414-.475-1.622-.213-.145-.583-.299-1.242-.418-.653-.12-1.523-.193-2.686-.225l-.973-.026V1.279l12.752-.303v30.982l8.204-8.257.004-.003c.602-.618.993-1.142 1.202-1.566.209-.425.187-.643.154-.742-.032-.094-.149-.3-.636-.535-.491-.236-1.255-.445-2.371-.583l-.877-.108v-2.652h14.992v2.628l-.851.128c-1.593.241-2.756.62-4.003 1.384-1.282.786-2.687 1.998-4.73 3.978l-3.921 3.81 8.767 12.032.002.003c1.526 2.078 2.369 3.133 3.156 3.742.704.545 1.398.756 2.8.909l.892.096v2.666h-16.08v-2.669l.895-.094c.863-.09 1.434-.236 1.792-.395.351-.156.403-.282.41-.297.009-.023.048-.141-.067-.455-.115-.315-.348-.723-.724-1.234l-.007-.01-6.808-9.484-2.195 2.154zm95.027 4.78l-.543.8c-1.321 1.949-2.915 3.813-5.066 5.186-2.163 1.382-4.832 2.23-8.242 2.23-8.6 0-14.248-6.967-14.248-15.592 0-9.735 7.071-16.808 15.976-16.808 7.026 0 11.176 4.134 11.176 7.72 0 1.203-.338 2.343-1.057 3.202-.735.878-1.806 1.382-3.079 1.382-1.308 0-2.451-.428-3.273-1.228-.823-.8-1.247-1.901-1.247-3.1 0-1.49.587-2.734 1.358-3.575-.908-.738-2.086-1.25-3.75-1.25-2.215 0-4.213 1.027-5.688 3.047-1.49 2.039-2.464 5.126-2.464 9.202 0 3.678.822 6.829 2.377 9.03 1.526 2.162 3.799 3.474 6.927 3.474 1.791 0 3.093-.377 4.268-1.1 1.209-.744 2.34-1.888 3.737-3.538l.6-.71 2.238 1.628zm-7.481-20.448c-1.081-.923-2.508-1.584-4.514-1.584-5.12 0-9.152 4.8-9.152 13.248 0 7.616 3.392 13.504 10.304 13.504 3.481 0 5.486-1.323 7.876-3.969.285-.315.575-.649.874-1.001l.018-.022.704.512-.036.053c-.254.373-.517.74-.79 1.098-2.482 3.253-5.859 5.825-11.654 5.825-7.936 0-13.248-6.4-13.248-14.592 0-9.216 6.656-15.808 14.976-15.808 6.72 0 10.176 3.904 10.176 6.72 0 2.048-1.152 3.584-3.136 3.584-2.176 0-3.52-1.408-3.52-3.328 0-1.225.482-2.225 1.082-2.885.247-.272.513-.486.774-.635a7.853 7.853 0 00-.734-.72zm7.299 28.152v-2.751l.982-.017c.923-.016 1.636-.048 2.195-.114.568-.068.899-.164 1.095-.265.161-.082.227-.162.276-.274.067-.152.124-.42.124-.907V22.672c0-.793-.192-1.243-.572-1.55-.442-.357-1.334-.684-3.118-.715l-.982-.016v-2.726l11.92-.307v4.233c2.108-2.759 4.644-4.527 7.512-4.527 1.849 0 3.295.586 4.278 1.6.972 1.003 1.394 2.325 1.394 3.624 0 1.258-.437 2.384-1.24 3.198-.805.815-1.917 1.258-3.152 1.258-1.182 0-2.303-.396-3.137-1.187-.841-.798-1.319-1.934-1.319-3.27 0-.077.002-.158.006-.242-1.504.7-2.647 2.157-4.214 4.745v17.77c0 .459.07.698.141.83.058.105.155.215.408.324.279.12.705.221 1.363.29.65.068 1.461.1 2.479.116l.985.015v2.753h-17.424zm11.048-22.376c.226-.377.445-.735.66-1.075l.012-.02c.298-.47.587-.905.875-1.305 1.171-1.63 2.311-2.692 3.842-3.212a6.737 6.737 0 011.139-.276c-.125.29-.222.687-.275 1.07a4.415 4.415 0 00-.045.594c0 2.176 1.536 3.456 3.456 3.456 1.984 0 3.392-1.408 3.392-3.456 0-2.176-1.408-4.224-4.672-4.224-2.764 0-5.337 1.957-7.512 5.253l-.138.212c-.295.458-.583.94-.862 1.447v-6.592l-9.92.256v.768h.02c.74.014 1.371.076 1.906.182 2.134.425 2.746 1.55 2.746 3.082V44.56c0 1.41-.404 2.041-1.7 2.328-.702.155-1.667.21-2.972.232v.768h15.424v-.768c-1.44-.023-2.532-.077-3.343-.232-1.495-.287-2.033-.917-2.033-2.328V26.512zm42.474 14.064l-.468.784c-1.22 2.044-2.745 4.062-4.854 5.566-2.127 1.517-4.795 2.474-8.229 2.474-8.892 0-14.888-7-14.888-15.912 0-9.24 6.898-16.488 14.888-16.488 4.447 0 7.877 1.605 10.115 4.24 2.224 2.62 3.186 6.158 2.915 9.888l-.068.928h-19.892c-.006.258-.006.525-.006.792v.064c0 3.443.817 6.464 2.369 8.595 1.524 2.095 3.8 3.397 6.935 3.397 1.889 0 3.31-.473 4.571-1.319 1.294-.867 2.461-2.152 3.792-3.863l.594-.765 2.226 1.619zm-21.423-9.52c-.064.576-.064 1.216-.064 1.792v.064c0 7.168 3.392 12.992 10.304 12.992 3.789 0 6.039-1.753 8.441-4.677.219-.266.439-.543.662-.829l.049-.062.704.512-.014.024c-.191.32-.389.636-.594.949-2.341 3.562-5.685 6.579-11.616 6.579-8.256 0-13.888-6.464-13.888-14.912 0-8.768 6.528-15.488 13.888-15.488 8.384 0 12.544 6.016 12.032 13.056h-19.904zm13.888-1.024c.576-6.912-1.152-10.88-6.464-10.88-3.904 0-6.587 3.256-7.329 9.88-.036.325-.068.658-.095 1h13.888zm-12.786-1h11.853c.158-2.933-.17-5.105-.966-6.55-.427-.773-.989-1.339-1.703-1.72-.723-.385-1.657-.61-2.862-.61-1.705 0-3.119.723-4.214 2.28-1.01 1.435-1.761 3.605-2.108 6.6zm32.451-9.52c-1.741.418-2.456 1.31-2.456 2.52 0 .448.128 1.024.384 1.728l6.72 17.472h.256l6.144-14.4-.896-2.432c-1.061-2.919-2.034-4.341-3.977-4.888a7.318 7.318 0 00-1.335-.232v-.768h14.144v.768c-.637.041-1.19.119-1.666.232-1.723.408-2.43 1.28-2.43 2.584 0 .512.128 1.024.32 1.664l6.144 17.344h.256l4.736-14.016c.704-2.048 1.152-3.648 1.152-4.608 0-1.673-.939-2.534-2.817-2.968-.421-.098-.89-.174-1.407-.232v-.768h11.264v.768c-.353.039-.705.116-1.053.232-1.917.638-3.697 2.46-4.835 5.656L332.384 48.4h-1.152l-7.36-19.776-8.384 19.776h-1.024l-9.408-24c-1.12-2.828-2.196-4.321-4.34-4.888a8.136 8.136 0 00-1.42-.232v-.768h14.528v.768c-.625.04-1.17.119-1.64.232zm-8.057 5.256l9.655 24.632h2.368l7.662-18.072 6.725 18.072h2.548l8.687-23.89.002-.007c1.268-3.56 3.265-5.03 5.057-5.23l.889-.098v-2.663h-13.264v2.66l.887.101c1.368.156 2.211.422 2.699.772.404.29.638.684.638 1.435 0 .35-.086.892-.28 1.646a36.68 36.68 0 01-.817 2.637l-3.938 11.653-5.302-14.967c-.186-.621-.271-1.005-.271-1.353 0-.562.173-.893.528-1.149.429-.308 1.228-.578 2.633-.67l.935-.06v-2.705h-16.144v2.683l.912.08c1.282.115 2.042.453 2.637 1.048.643.643 1.191 1.679 1.823 3.418l.002.004.759 2.06-5.155 12.081-5.95-15.468-.003-.009c-.237-.653-.321-1.1-.321-1.377 0-.475.156-.8.528-1.069.435-.313 1.24-.595 2.633-.685l.935-.061v-2.705h-16.528v2.69l.919.074c1.41.116 2.278.489 2.95 1.118.711.665 1.301 1.706 1.961 3.372l.001.002zm-99.77 8.272c0 9.5-7.476 16.36-15.464 16.36-8.427 0-15.528-6.595-15.528-16.104 0-9.443 7.482-16.296 15.528-16.296 8.297 0 15.464 6.591 15.464 16.04zM183.732 43.6c1.298 1.878 3.119 2.648 5.417 2.648 2.216 0 3.882-.754 5.059-2.615 1.238-1.957 2.005-5.243 2.005-10.465 0-5.204-.874-8.462-2.221-10.397-1.295-1.862-3.115-2.62-5.419-2.62-2.257 0-3.918.745-5.083 2.584-1.229 1.939-1.981 5.206-1.981 10.433 0 5.203.874 8.479 2.223 10.431zm19.625-10.56c0 8.96-7.04 15.36-14.464 15.36-7.872 0-14.528-6.144-14.528-15.104 0-8.896 7.04-15.296 14.528-15.296 7.744 0 14.464 6.144 14.464 15.04zm-22.848.128c0 10.56 3.52 14.08 8.64 14.08 4.992 0 8.064-3.52 8.064-14.08s-3.52-14.016-8.64-14.016c-5.056 0-8.064 3.456-8.064 14.016z" fill="#9393AF")
        p.lead
          | By understanding and believing in your idea we strive to add meaning. The business drives design and we like it.
        p.hero-link-wrap
          a.hero-link.btn-hutcko(href="#" data-toggle="modal" data-target="#contactsModal")
            span Talk to us
            svg(width="32" height="32" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M24.315 16l-.54-.62-5.76-6.72-1.45 1.24 4.41 5.14H7.685v1.92h13.29l-4.41 5.14 1.45 1.24 5.76-6.72.54-.62z" fill="#343848")
      .col-12.col-sm-6.offset-md-1.col-md-5.order-1.mb-3.order-md-2.mb-md-0
        img.img-fluid.d-none.d-md-block(src="./images/hero-about.png")
        img.img-fluid.d-block.d-md-none(src="./images/hero-about-mobile.png")