section.stats
  .container
    .row
      .col-12.col-sm-4
        .stats-card
          span.stats-number 
            span.js-countUp(data-count="100") 0
            | %
          p Great feedbacks on Upwork
      .col-12.col-sm-4
        .stats-card.bg-pink
          span.stats-number
            span.js-countUp(data-count="62") 0
            | %
          p Сlients come back to us again
      .col-12.col-sm-4
        .stats-card.bg-green
          span.stats-number
            span.js-countUp(data-count="48") 0
            | %
          p Conversion of clients who start working with us after discussing.