section.about-us__services
  .decoration_circle
    img(src='./images/clients-decoration.png')
  .container
    .row
      .col-12.col-md-4
        h3 What we do.
        ul.list-unstyled.cta-cursor(data-bgcolor="#FFDEAC")
          li Web / Mobile
          li Digital Products / Apps
          li Ecommerce Platforms
          li Advertising
          li Branding / Design
      .col-12.col-md-4
        h3
          svg(width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M21.3361 6.91243L19.9921 5.54443L9.12006 16.4164L4.00806 11.3044L2.66406 12.6724L9.12006 19.1284L21.3361 6.91243Z" fill="#56CBAE")
          span We are.
        ul.list-unstyled.cta-cursor(data-bgcolor="#C9E9E1")
          li Freelancers Union
          li Designers
          li Illustrators
          li Developers
          li Front-End
      .col-12.col-md-4.about-us__services-we-not
        h3
          svg(width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(fill-rule="evenodd" clip-rule="evenodd" d="M2.29053 3.82536C2.81001 3.32949 3.32949 2.81001 3.82536 2.29053C5.87967 4.34484 7.93398 6.39915 9.98829 8.45346C12.0426 6.39915 14.0969 4.34484 16.1512 2.29053C16.6707 2.81001 17.1902 3.32949 17.686 3.82536C15.6317 5.87967 13.5774 7.93398 11.5231 9.98828C13.5774 12.0426 15.6317 14.0969 17.686 16.1512C17.1902 16.6707 16.6707 17.1902 16.1512 17.686C14.0969 15.6317 12.0426 13.5774 9.98829 11.5231C7.93398 13.5774 5.87967 15.6317 3.82536 17.686C3.32949 17.1902 2.81001 16.6707 2.29053 16.1512C4.34484 14.0969 6.39915 12.0426 8.45346 9.98828C6.39915 7.93398 4.34484 5.87967 2.29053 3.82536Z" fill="#C1272D")
          span We are not.
        ul.list-unstyled.cta-cursor(data-bgcolor="#FFDCDC" data-noaction="true")
          li Sales Managers
          li Corporate
          li Overprice
          li App Developers
          li Back-End

a#cursorButton.cta-cursor-button.is-hidden2(href="#") Request