section.about_us-mission
  .container
    .about_us-mission-content
      .about_us-mission-logo
        img(src="./images/logo-dark-green.svg")
      h2.headline Our Mission
      p.lead Sometimes it's hard and time-consuming, but we don't look for shortcuts.
      p.lead We are not here to waste your time but to make your life much easier. We like to dive right in and move swiftly, keeping processes light so that we can focus on what is really important: delivering results on time and on budget.
      p.lead There is no sales team, we just do 
        span.underline_decoration.underline_animation great work.
      p.button-wrap
        a(href="#" data-toggle="modal" data-target="#contactsModal").btn.btn-primary RECEIVE FREE AUDIT
