section.about-us__copies
  .container
    .row.align-items-center
      .col-12.col-md-6
        .about-us__image
          img.img-fluid(src="./images/about_us-copies.png")
      .col-12.col-md-6
        h2.headline Small and Smart
        p.lead Sometimes it's hard and time-consuming, but we don't look for shortcuts.
        p.lead
          | We are not here to waste your time but to make your life much easier. We like to dive right in and move swiftly, keeping processes light so that we can focus on what is really important: delivering results on time and on budget.
        p.lead There is 
          span.underline_decoration.underline_animation no sales team,
          |  we just do great work.
        p.button-wrap
          a(href="#" data-toggle="modal" data-target="#contactsModal").btn.btn-primary Talk to us 
            svg(width="32" height="32" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M24.315 16l-.54-.62-5.76-6.72-1.45 1.24 4.41 5.14H7.685v1.92h13.29l-4.41 5.14 1.45 1.24 5.76-6.72.54-.62z" fill="#343848")
