section.about-us__clients
  .container
    .row.justify-content-center.align-items-center
      .col-6.col-md-3
        a(href="/single.html")
          svg(width="142" height="30" viewbox="0 0 142 30" fill="none" xmlns="http://www.w3.org/2000/svg")
            g(opacity="0.5" clip-path="url(#clip0)")
              path(fill-rule="evenodd" clip-rule="evenodd" d="M105.557 27.385C105.557 27.075 105.615 26.78 105.731 26.5C105.846 26.22 106.007 25.98 106.213 25.78C106.425 25.5763 106.673 25.4135 106.945 25.3C107.226 25.18 107.528 25.12 107.85 25.12C108.161 25.12 108.458 25.18 108.739 25.3C109.021 25.42 109.262 25.58 109.463 25.78C109.664 25.98 109.825 26.22 109.946 26.5C110.066 26.78 110.127 27.075 110.127 27.385C110.127 27.705 110.066 28.0025 109.946 28.2775C109.834 28.5451 109.67 28.7878 109.463 28.9913C109.256 29.1948 109.01 29.355 108.739 29.4625C108.458 29.5775 108.161 29.635 107.85 29.635C107.528 29.635 107.226 29.5775 106.945 29.4625C106.673 29.3535 106.424 29.193 106.213 28.99C106.006 28.7875 105.841 28.5451 105.731 28.2775C105.614 27.9945 105.555 27.691 105.557 27.385ZM116.641 14.035V23.815C116.641 24.755 116.86 25.4825 117.297 25.9975C117.734 26.5125 118.39 26.77 119.265 26.77C119.894 26.7734 120.514 26.6268 121.074 26.3425C121.666 26.0363 122.206 25.6389 122.673 25.165V14.035H126.398V29.425H124.121C123.638 29.425 123.321 29.2 123.17 28.75L122.914 27.52C122.592 27.84 122.261 28.1325 121.919 28.3975C121.228 28.9332 120.428 29.3121 119.574 29.5075C119.102 29.6153 118.618 29.6681 118.134 29.665C117.289 29.665 116.543 29.5225 115.895 29.2375C115.263 28.9651 114.703 28.552 114.258 28.03C113.803 27.4856 113.462 26.8556 113.256 26.1775C113.022 25.4118 112.908 24.6151 112.916 23.815V14.035H116.641ZM142.503 29.425H140.829C140.477 29.425 140.2 29.3725 139.999 29.2675C139.798 29.1625 139.648 28.95 139.547 28.63L139.215 27.535C138.823 27.885 138.439 28.1925 138.062 28.4575C137.685 28.7225 137.295 28.945 136.893 29.125C136.491 29.305 136.064 29.44 135.611 29.53C135.159 29.62 134.656 29.665 134.103 29.665C133.45 29.665 132.847 29.5775 132.294 29.4025C131.741 29.2275 131.266 28.965 130.869 28.615C130.464 28.2552 130.147 27.809 129.941 27.31C129.72 26.79 129.609 26.185 129.609 25.495C129.609 24.915 129.763 24.3425 130.069 23.7775C130.376 23.2125 130.886 22.7025 131.6 22.2475C132.314 21.7925 133.264 21.415 134.45 21.115C135.636 20.815 137.109 20.645 138.868 20.605V19.705C138.868 18.675 138.65 17.9125 138.212 17.4175C137.775 16.9225 137.139 16.675 136.305 16.675C135.702 16.675 135.199 16.745 134.797 16.885C134.395 17.025 134.045 17.1825 133.749 17.3575C133.452 17.5325 133.178 17.69 132.927 17.83C132.676 17.97 132.399 18.04 132.098 18.04C131.866 18.046 131.639 17.9776 131.449 17.845C131.271 17.7178 131.122 17.5541 131.012 17.365L130.333 16.18C132.113 14.56 134.259 13.75 136.772 13.75C137.677 13.75 138.484 13.8975 139.193 14.1925C139.875 14.4694 140.489 14.8889 140.995 15.4225C141.487 15.9475 141.862 16.575 142.118 17.305C142.374 18.035 142.503 18.835 142.503 19.705V29.425ZM135.264 27.115C135.646 27.115 135.998 27.08 136.32 27.01C136.642 26.94 136.946 26.835 137.232 26.695C137.526 26.5508 137.803 26.3774 138.062 26.1775C138.328 25.9725 138.597 25.73 138.868 25.45V22.855C137.783 22.905 136.875 22.9975 136.147 23.1325C135.418 23.2675 134.832 23.44 134.39 23.65C133.947 23.86 133.633 24.105 133.447 24.385C133.264 24.6553 133.167 24.9741 133.168 25.3C133.168 25.95 133.362 26.415 133.749 26.695C134.136 26.975 134.641 27.115 135.264 27.115Z" fill="#898EA1")
              path(fill-rule="evenodd" clip-rule="evenodd" d="M74.3427 0H61.4961L54.9301 9.15875L48.1832 0H27.4839L20.918 9.15875L14.1698 0H1.19632L13.1482 14.2562L0 29.7712H13.1557L20.6842 20.2075L28.2128 29.7712H47.1704L54.6976 20.2075L62.2249 29.7712H102.114V22.44H83.731V0H74.3427ZM62.4762 14.4175L71.9513 2.9025V25.625L62.4762 14.4175ZM28.4641 14.4175L37.7921 3.08125L47.1603 14.2562L37.733 25.3812L28.4641 14.4175Z" fill="#898EA1")
            defs
              clippath#clip0
                rect(width="142" height="30" fill="white")
      .col-6.col-md-3
        a(href="/single.html")
          svg(width="140" height="53" viewbox="0 0 140 53" fill="none" xmlns="http://www.w3.org/2000/svg")
            g(opacity="0.5")
              path(fill-rule="evenodd" clip-rule="evenodd" d="M35.8048 27.394L34.9091 24.1593L34.2112 21.4927H34.1616L33.5001 24.1376L32.5935 27.4013L35.8048 27.394ZM36.6766 30.6532L31.7103 30.6636L30.7791 34.0507L25.7388 34.0614L31.1892 17.7435L37.2423 17.7307L42.7863 34.0253L37.598 34.0362L36.6766 30.6532ZM55.6241 22.5095C56.3417 23.2492 56.7024 24.2945 56.7055 25.6452L56.7232 33.9958L51.7326 34.0061L51.7176 26.9895C51.7162 26.3144 51.6074 25.8374 51.3931 25.5573C51.1786 25.2777 50.865 25.1387 50.4534 25.1394C49.9264 25.1404 49.515 25.3352 49.2193 25.7224C48.9238 26.1102 48.7768 26.7079 48.7786 27.5149L48.7923 34.0124L43.8017 34.0232L43.7754 21.6702L48.272 21.6605L48.4007 24.2045C48.7612 23.2984 49.303 22.6055 50.0269 22.1259C50.7506 21.6466 51.623 21.4062 52.6447 21.4039C53.9129 21.4012 54.906 21.7699 55.6241 22.5095ZM70.6702 22.4778C71.3878 23.2173 71.7487 24.2628 71.7516 25.6134L71.7693 33.9641L66.7787 33.9742L66.7637 26.9578C66.7623 26.2826 66.6539 25.8054 66.4396 25.5255C66.2243 25.2458 65.9107 25.1065 65.4995 25.1076C64.972 25.1087 64.5611 25.3034 64.2658 25.6906C63.9699 26.0784 63.8229 26.6759 63.8246 27.4827L63.8384 33.9807L58.8478 33.9914L58.8215 21.6378L63.3181 21.6287L63.4468 24.1727C63.8071 23.2667 64.3493 22.5737 65.073 22.0942C65.7967 21.6149 66.6691 21.3743 67.6908 21.3721C68.9586 21.3694 69.9522 21.7377 70.6702 22.4778ZM86.7369 21.5787L86.7639 33.9321L82.2669 33.9416L82.1384 31.496C81.4012 33.2927 79.9944 34.1935 77.919 34.1977C75.1846 34.2038 73.8148 32.7737 73.8085 29.9079L73.7911 21.6062L78.7819 21.5957L78.7968 28.6615C78.7983 29.3205 78.902 29.7857 79.1083 30.057C79.3151 30.3283 79.6406 30.4635 80.0855 30.4623C80.6123 30.4612 81.0239 30.2629 81.3192 29.8669C81.6149 29.4708 81.7621 28.8775 81.7602 28.0872L81.7463 21.5892L86.7369 21.5787ZM93.9429 33.917L88.9529 33.9273L88.9259 21.5741L93.9169 21.5635L93.9429 33.917ZM89.2689 19.9672C88.8399 19.6223 88.6239 19.0631 88.6229 18.2889C88.6209 17.4979 88.8339 16.9294 89.2609 16.5826C89.6889 16.2358 90.4049 16.0616 91.4099 16.0593C92.4139 16.0574 93.1309 16.2284 93.5599 16.5733C93.9889 16.9189 94.2049 17.4863 94.2059 18.2769C94.2079 19.0513 93.9949 19.6114 93.5669 19.9584C93.1399 20.3052 92.4239 20.4796 91.4199 20.4817C90.4139 20.4838 89.6979 20.3126 89.2689 19.9672ZM105.529 33.2498C105.134 33.5142 104.599 33.7296 103.925 33.8955C103.249 34.0617 102.59 34.1454 101.948 34.1468C100.301 34.1502 99.0649 33.8238 98.2399 33.1668C97.4149 32.5097 97.0009 31.4398 96.9979 29.9573L96.9879 24.9915L94.9859 24.9953L94.9789 21.5614L96.9799 21.5568L96.9749 18.8643L101.962 17.4699L101.971 21.5465L105.356 21.5389L105.363 24.9736L101.978 24.9808L101.987 29.156C101.988 29.7327 102.117 30.1441 102.373 30.3906C102.628 30.6371 103.02 30.7599 103.547 30.7586C104.173 30.7574 104.724 30.6162 105.201 30.335L105.529 33.2498ZM111.887 33.8787L106.896 33.889L106.87 21.536L111.861 21.5255L111.887 33.8787ZM107.212 19.9292C106.783 19.5842 106.568 19.0248 106.566 18.2508C106.565 17.46 106.778 16.8913 107.205 16.5445C107.633 16.1979 108.349 16.0236 109.354 16.0215C110.358 16.0191 111.075 16.1903 111.504 16.5355C111.933 16.8808 112.148 17.4483 112.15 18.2388C112.152 19.0132 111.939 19.5733 111.511 19.9203C111.084 20.2671 110.367 20.4415 109.363 20.4436C108.358 20.4457 107.641 20.2745 107.212 19.9292ZM118.803 25.1179C118.499 25.4317 118.298 25.9428 118.201 26.6509L121.784 26.6435C121.7 25.9684 121.522 25.4664 121.249 25.1377C120.977 24.8085 120.585 24.6447 120.074 24.646C119.531 24.647 119.107 24.8043 118.803 25.1179ZM126.334 28.8079L118.205 28.8252C118.306 29.5167 118.529 30.0023 118.876 30.2814C119.222 30.5609 119.708 30.6997 120.334 30.6983C121.339 30.6964 121.956 30.2995 122.185 29.5089L126.215 30.6612C125.904 31.782 125.226 32.6359 124.182 33.2225C123.137 33.8095 121.857 34.1048 120.342 34.1077C118.102 34.113 116.387 33.5607 115.199 32.451C114.011 31.3416 113.415 29.7583 113.41 27.6989C113.406 25.6567 113.983 24.0747 115.142 22.9516C116.301 21.8292 117.934 21.2655 120.043 21.2611C122.102 21.2567 123.684 21.8012 124.79 22.8944C125.895 23.9874 126.45 25.4807 126.455 27.3748C126.456 27.9677 126.415 28.4458 126.334 28.8079ZM129.704 33.6187C128.674 33.3081 127.821 32.7995 127.143 32.0918L129.485 29.3697C129.915 29.8791 130.442 30.2694 131.069 30.5401C131.696 30.8106 132.387 30.9445 133.145 30.9429C133.573 30.942 133.919 30.8922 134.183 30.7925C134.446 30.6932 134.578 30.5447 134.577 30.347C134.576 30.1659 134.428 30.0059 134.131 29.866C133.834 29.727 133.307 29.5758 132.549 29.4126C130.736 29.0704 129.43 28.5791 128.63 27.9387C127.829 27.2978 127.428 26.4671 127.426 25.4456C127.424 24.7379 127.658 24.0617 128.126 23.4179C128.594 22.775 129.301 22.2506 130.247 21.8447C131.194 21.4392 132.367 21.2352 133.767 21.2321C136.451 21.2264 138.389 21.9061 139.577 23.2703L137.334 25.7211C136.558 24.8167 135.437 24.3662 133.971 24.3694C133.461 24.3704 133.074 24.4329 132.81 24.5572C132.547 24.6815 132.415 24.8424 132.416 25.0397C132.416 25.2048 132.561 25.3482 132.85 25.471C133.137 25.5941 133.62 25.7131 134.296 25.8263C136.157 26.1026 137.505 26.5567 138.338 27.1891C139.171 27.8217 139.589 28.6975 139.591 29.8179C139.594 31.0531 139.077 32.0714 138.041 32.8723C137.005 33.6732 135.474 34.076 133.448 34.0802C131.982 34.0835 130.734 33.9294 129.704 33.6187Z" fill="#898EA1")
              path(fill-rule="evenodd" clip-rule="evenodd" d="M19.8587 24.6643L10.1183 31.854L19.8587 39.044V46.2288L0.384766 31.854L19.8587 17.4791V24.6643ZM0.384966 21.5645L10.1253 14.3748L0.384966 7.18486V0L19.8587 14.3748L0.384966 28.7498V21.5645ZM10.1253 49.0797L0.384966 41.8898V34.7049L19.8587 49.0797H10.1253Z" fill="#898EA1")
              path(fill-rule="evenodd" clip-rule="evenodd" d="M29.9848 41.1151C29.6561 41.4071 29.4901 41.7901 29.4864 42.2631C29.4828 42.7495 29.6428 43.1407 29.9669 43.4377C30.2908 43.7344 30.7085 43.8848 31.2206 43.8886C31.745 43.8928 32.1717 43.749 32.5002 43.4568C32.8287 43.1653 32.9949 42.7764 32.9987 42.29C33.0022 41.8168 32.842 41.4319 32.5179 41.1345C32.194 40.838 31.7696 40.6874 31.245 40.6834C30.7333 40.6794 30.3133 40.8234 29.9848 41.1151ZM33.4321 50.8249C33.9198 50.6045 34.1653 50.3216 34.168 49.9762C34.1701 49.7075 34.0595 49.5051 33.8368 49.3693C33.6136 49.233 33.2462 49.1629 32.7347 49.1592L30.1247 49.1392C29.0624 49.1308 28.5294 49.4147 28.5252 49.9905C28.5223 50.3485 28.7568 50.6287 29.2287 50.8308C29.7005 51.0327 30.4099 51.1372 31.3567 51.1446C32.2522 51.1513 32.944 51.0449 33.4321 50.8249ZM35.4806 47.7408C36.0464 48.2056 36.3261 48.8666 36.3196 49.7239C36.3116 50.7473 35.8318 51.5437 34.8808 52.1122C33.9293 52.6807 32.6798 52.959 31.1317 52.947C29.5322 52.9348 28.3473 52.7144 27.5765 52.2864C26.8054 51.8584 26.4231 51.2794 26.4288 50.5502C26.4321 50.1151 26.5819 49.7386 26.8788 49.4212C27.1754 49.1034 27.6124 48.8763 28.1891 48.7404C27.7552 48.5579 27.4118 48.3023 27.1586 47.9742C26.9049 47.6457 26.7802 47.2581 26.7838 46.8099C26.7871 46.3493 26.9245 45.9539 27.1958 45.6231C27.4671 45.2929 27.84 45.0462 28.3147 44.8836C27.8303 44.5986 27.4623 44.2342 27.2099 43.7904C26.9571 43.3472 26.8332 42.8376 26.8378 42.2618C26.8454 41.251 27.245 40.4577 28.0364 39.8812C28.8278 39.3054 29.9015 39.0223 31.2579 39.0328C31.9487 39.0381 32.594 39.1266 33.1942 39.297C33.3663 38.5436 33.694 37.9545 34.1771 37.5294C34.6604 37.1044 35.3109 36.921 36.1294 36.9784L36.4605 38.8616C36.3709 38.8481 36.2367 38.8408 36.0577 38.8393C35.5841 38.8359 35.19 38.9161 34.8753 39.0799C34.5605 39.244 34.338 39.4663 34.2082 39.7464C34.6791 40.0316 35.0381 40.3929 35.2842 40.8295C35.5302 41.2666 35.6512 41.7665 35.647 42.3295C35.6392 43.3275 35.2396 44.1147 34.4484 44.6908C33.6572 45.267 32.5768 45.5495 31.2078 45.539C30.5808 45.5339 30.0056 45.4721 29.4819 45.353C28.9818 45.4773 28.7303 45.763 28.7267 46.2107C28.7248 46.4671 28.8192 46.6625 29.0102 46.7983C29.201 46.9344 29.4693 47.0034 29.8147 47.0059L33.0582 47.0312C34.1072 47.0392 34.9146 47.2756 35.4806 47.7408ZM40.3646 41.598C39.9841 41.9663 39.74 42.5146 39.6321 43.2429L44.1038 43.2772C44.0067 42.56 43.768 42.0111 43.3871 41.6306C43.0062 41.2506 42.5086 41.0575 41.8945 41.0531C41.2547 41.0481 40.7446 41.2298 40.3646 41.598ZM46.4312 45.1379L39.6371 45.0855C39.8954 46.444 40.6895 47.1281 42.0206 47.1382C42.5706 47.1424 43.0255 47.0436 43.3854 46.8417C43.745 46.6398 43.997 46.3472 44.1406 45.9642L46.2844 46.7679C45.9712 47.5332 45.4515 48.1147 44.7257 48.5122C43.9997 48.9097 43.0928 49.1043 42.0055 49.0961C40.4189 49.0837 39.194 48.6359 38.3308 47.7528C37.4671 46.8699 37.0418 45.6412 37.054 44.0678C37.066 42.494 37.4976 41.2723 38.3489 40.402C39.1999 39.5321 40.3932 39.1028 41.9287 39.1148C43.4125 39.1264 44.5512 39.5638 45.3445 40.427C46.1374 41.2906 46.5282 42.5157 46.516 44.1019C46.513 44.4602 46.4848 44.8056 46.4312 45.1379ZM56.6608 40.13C57.2897 40.7366 57.5997 41.6025 57.5911 42.7283L57.5427 49.0231L54.9133 49.0033L54.9558 43.476C54.9669 42.0174 54.4031 41.2834 53.2644 41.2746C52.6503 41.2702 52.1272 41.4836 51.6952 41.915C51.263 42.3472 51.0439 43.011 51.037 43.9065L50.998 48.973L48.3689 48.9528L48.4425 39.3567L50.8033 39.3748L50.8668 41.0836C51.1913 40.4594 51.6361 39.9891 52.2021 39.6734C52.7672 39.3582 53.4211 39.2029 54.1633 39.2088C55.1996 39.2166 56.032 39.5239 56.6608 40.13ZM62.4767 49.0612L59.8474 49.041L59.921 39.445L62.5504 39.465L62.4767 49.0612ZM59.6354 36.6598C59.6427 35.7131 60.19 35.2437 61.2777 35.2521C62.3651 35.2605 62.9052 35.7382 62.898 36.6848C62.8909 37.6193 62.3434 38.0817 61.2559 38.0731C60.1683 38.0649 59.6282 37.594 59.6354 36.6598ZM74.0272 39.5533L73.9538 49.1493L71.6121 49.1312L71.5286 47.48C70.9052 48.7036 69.7809 49.3093 68.156 49.2967C67.1195 49.2887 66.2997 49.0042 65.6963 48.443C65.0927 47.8817 64.7955 47.0127 64.8045 45.8351L64.8533 39.4827L67.4827 39.5031L67.4392 45.184C67.4333 45.9262 67.57 46.4515 67.8493 46.7609C68.1282 47.0701 68.5429 47.2268 69.0931 47.2312C69.7584 47.236 70.3006 47.0259 70.7199 46.6006C71.1389 46.1752 71.3519 45.5337 71.3582 44.6765L71.3978 39.5329L74.0272 39.5533ZM75.6374 47.5117L77.1849 45.9495C77.4364 46.5018 77.8015 46.8917 78.2796 47.1193C78.7576 47.3471 79.3484 47.4634 80.0523 47.4688C80.6152 47.473 81.0509 47.3996 81.3591 47.2482C81.6672 47.0972 81.8228 46.8875 81.8245 46.6187C81.8264 46.4011 81.684 46.2143 81.3969 46.0589C81.1102 45.9028 80.6154 45.7522 79.9131 45.6061C78.4436 45.3005 77.4137 44.9055 76.8223 44.4211C76.2313 43.9368 75.9385 43.285 75.9448 42.466C75.9491 41.9287 76.119 41.4247 76.4555 40.9538C76.7918 40.4831 77.2873 40.106 77.942 39.8232C78.5967 39.5403 79.3783 39.4023 80.2869 39.4093C81.3616 39.4175 82.2302 39.5874 82.8933 39.9187C83.556 40.2501 84.1085 40.7696 84.551 41.4765L82.9095 42.8461C82.6315 42.3323 82.2857 41.952 81.872 41.7055C81.4577 41.4592 80.9374 41.3337 80.3104 41.3288C79.7857 41.3248 79.3661 41.4113 79.0514 41.5879C78.7364 41.765 78.578 41.9812 78.5759 42.237C78.5738 42.5056 78.7259 42.7306 79.0315 42.9121C79.3373 43.0938 79.8797 43.2642 80.6591 43.4238C82.0514 43.7161 83.037 44.0916 83.616 44.5501C84.1946 45.0088 84.481 45.641 84.4747 46.4469C84.468 47.3429 84.0812 48.0594 83.3161 48.5976C82.5505 49.1356 81.4703 49.3989 80.0757 49.3884C77.9389 49.3716 76.4595 48.7463 75.6374 47.5117Z" fill="#898EA1")
              path(d="M85.9998 42.4401C85.9998 41.8106 86.1528 41.2262 86.4588 40.6867C86.7678 40.1475 87.1938 39.7236 87.7368 39.4149C88.2828 39.1031 88.8708 38.9473 89.5028 38.9473C90.1338 38.9473 90.7208 39.1031 91.2638 39.4149C91.8068 39.7236 92.2298 40.1475 92.5368 40.6867C92.8458 41.2262 92.9998 41.8106 92.9998 42.4401C92.9998 43.0543 92.8518 43.6295 92.5558 44.1658C92.2598 44.7017 91.8388 45.1336 91.2928 45.4608C90.7508 45.7851 90.1538 45.9473 89.5028 45.9473C88.8548 45.9473 88.2578 45.7867 87.7118 45.4656C87.1688 45.1413 86.7478 44.7113 86.4488 44.175C86.1498 43.6388 85.9998 43.0607 85.9998 42.4401ZM86.5668 42.4401C86.5668 42.9764 86.6988 43.4737 86.9618 43.9318C87.2248 44.387 87.5818 44.7439 88.0328 45.0028C88.4858 45.2613 88.9758 45.3906 89.5028 45.3906C90.0318 45.3906 90.5238 45.2597 90.9778 44.998C91.4308 44.733 91.7868 44.3745 92.0428 43.9225C92.3028 43.4705 92.4328 42.9764 92.4328 42.4401C92.4328 41.907 92.3028 41.4161 92.0428 40.9673C91.7868 40.5153 91.4308 40.16 90.9778 39.9011C90.5238 39.6394 90.0318 39.5085 89.5028 39.5085C88.9758 39.5085 88.4858 39.6378 88.0328 39.8966C87.5788 40.152 87.2198 40.5076 86.9568 40.9625C86.6968 41.4177 86.5668 41.9102 86.5668 42.4401ZM88.7768 42.7909V44.3714H88.0818V40.4016H89.4428C89.9468 40.4016 90.3358 40.5044 90.6128 40.71C90.8918 40.9127 91.0318 41.2089 91.0318 41.5987C91.0318 41.982 90.8208 42.2751 90.4008 42.4775C90.8018 42.6336 91.0038 42.9515 91.0068 43.4316V43.7166C91.0068 43.9848 91.0348 44.1782 91.0908 44.2967V44.3714H90.3758C90.3298 44.2593 90.3068 44.0598 90.3068 43.7728C90.3068 43.483 90.3018 43.3116 90.2918 43.2586C90.2388 42.9592 90.0238 42.8034 89.6458 42.7909H88.7768ZM88.7768 42.1924H89.5468C89.7838 42.186 89.9738 42.1314 90.1188 42.0287C90.2638 41.9259 90.3358 41.7902 90.3358 41.622C90.3358 41.3944 90.2718 41.2338 90.1438 41.1403C90.0158 41.0436 89.7868 40.9954 89.4578 40.9954H88.7768V42.1924Z" fill="#898EA1")
      .col-6.col-md-3
        a(href="/single.html")
          svg(width="157" height="23" viewbox="0 0 157 23" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M118.606 0.210655C120.202 -0.548332 121.773 0.864951 121.014 2.51378C120.516 3.66535 119.417 3.40363 118.449 3.16808C117.638 2.30441 117.454 0.81261 118.606 0.210655Z" fill="#C4C7D0")
            path(d="M20.0421 4.2672C19.9897 3.11564 20.1991 1.80704 19.2308 0.943362C18.4194 0.184375 16.9276 0.341406 15.9069 0.289062C11.5362 0.341406 7.16547 0.236722 2.76859 0.34141C1.32913 0.34141 0.072873 1.10039 0.072873 2.64454C-0.0318149 6.30861 0.0728733 9.9727 0.0205294 13.5844C0.0728733 15.3379 -0.136502 17.1962 0.177561 18.8973C0.936548 20.7032 2.79476 20.363 4.39125 20.4153C8.76196 20.3106 13.2112 20.4677 17.5819 20.363C18.9429 20.3106 19.9374 19.4469 19.9897 18.0075C20.0944 13.4012 19.9897 8.87347 20.0421 4.2672ZM4.65297 16.5942C1.90491 13.3227 1.59085 7.61722 4.70531 4.5551C5.67367 4.39807 6.72055 4.39806 7.71509 4.39806C6.61586 6.46565 5.6475 8.42855 5.80453 10.9149C5.85688 13.061 6.72055 14.8668 7.71509 16.6727C6.66821 16.5942 5.6475 16.5942 4.65297 16.5942ZM9.70416 16.6465C6.85141 13.4012 6.69438 7.7219 9.70416 4.60744C10.6725 4.39806 11.7194 4.39806 12.7139 4.34572C11.7456 6.25627 10.751 8.06214 10.8034 10.3129C10.6987 12.6684 11.5624 14.6313 12.6616 16.6204C11.7194 16.5942 10.6725 16.5942 9.70416 16.6465ZM17.896 16.5942C16.8491 16.5942 15.8284 16.5942 14.7815 16.5942C12.1643 13.1918 11.7717 7.66956 14.9909 4.5551C15.9593 4.39807 16.9538 4.39806 17.9483 4.39806C16.98 6.30862 16.0378 8.06214 16.0378 10.3129C15.9331 12.6422 16.8753 14.5528 17.896 16.5942Z" fill="#C4C7D0")
            path(d="M63.749 5.47088C63.1471 6.22987 62.5451 6.98885 61.9431 7.77401C60.4252 7.27674 58.5408 6.33455 57.1275 7.66932C56.8658 9.10878 58.2267 8.87324 59.1427 9.13496C60.5822 9.39668 62.2572 9.34433 63.3564 10.4959C65.0053 12.2494 64.5603 15.2068 62.4666 16.4108C59.2998 18.1119 55.8451 17.3006 53.0447 15.2592C53.5419 14.4479 54.013 13.558 54.5103 12.7467C56.2638 13.6627 58.8287 14.9713 60.6869 13.558C60.8963 12.7467 60.6869 12.3541 59.9802 12.3018C58.3838 11.8045 56.1591 11.883 54.772 10.8361C52.9662 9.39668 53.0709 6.46541 54.9814 5.15681C57.8341 3.27243 61.001 3.87439 63.749 5.47088Z" fill="#C4C7D0")
            path(d="M64.3513 4.26758C65.7123 4.26758 67.047 4.26758 68.3818 4.26758C69.4287 6.88477 70.4494 9.4758 71.4963 12.093C72.5431 9.4758 73.5115 6.88477 74.5584 4.26758C75.867 4.26758 77.1756 4.26758 78.5104 4.26758C77.9084 5.73321 77.3064 7.17266 76.7045 8.63829C74.7939 13.1922 72.8834 17.72 70.9467 22.2739C69.6381 22.2739 68.3295 22.2739 66.9947 22.2739C67.8845 20.311 68.6959 18.2696 69.5595 16.3067C67.7798 12.3285 66.0525 8.32423 64.3513 4.26758Z" fill="#C4C7D0")
            path(d="M78.4842 4.26758C79.2432 6.46602 79.9499 8.69064 80.6303 10.9414C81.2846 8.74298 81.9389 6.62306 82.5932 4.42461C83.3522 4.42461 84.1897 4.42461 84.9487 4.42461C85.603 6.57071 86.2573 8.74298 86.9116 10.9414C87.5659 8.74298 88.3511 6.62305 89.0577 4.47695C90.2093 4.47695 91.2823 4.47695 92.4601 4.47695C91.1515 7.93165 89.8952 11.3864 88.5866 14.8672C87.6182 14.8672 86.6237 14.8672 85.6292 14.8672C85.0272 13.166 84.4253 11.4125 83.771 9.73752C83.169 11.4387 82.5671 13.1922 81.9651 14.8672C80.9967 14.8672 79.9499 14.8672 78.9553 14.8672C78.1963 12.852 77.4374 10.7582 76.7307 8.71681C77.2803 7.22501 77.8823 5.75938 78.4842 4.26758Z" fill="#C4C7D0")
            path(d="M118.056 4.42383C118.972 4.42383 119.967 4.42383 120.909 4.42383C120.909 7.87853 120.909 11.3332 120.909 14.8141C119.941 14.8141 118.998 14.8141 118.056 14.8141C118.056 11.3332 118.056 7.87853 118.056 4.42383Z" fill="#C4C7D0")
            path(d="M123.107 4.31951C124.364 4.52888 125.411 4.05779 126.17 5.28787C128.316 3.69138 131.482 3.53435 132.948 6.04686C134.1 8.61171 133.498 12.0141 133.602 14.7621C132.634 14.7621 131.587 14.7621 130.593 14.7621C130.54 12.5637 130.854 10.2082 130.383 8.08828C129.624 6.3871 126.876 6.72733 126.353 8.42851C125.934 10.4438 126.196 12.6945 126.143 14.7883C125.175 14.7883 124.128 14.7883 123.134 14.7883C123.107 11.3336 123.107 7.82655 123.107 4.31951Z" fill="#C4C7D0")
            path(d="M154.487 4.26758C155.377 4.37227 156.189 4.68633 157 5.02656C156.607 5.83789 156.189 6.62306 155.796 7.43439C154.357 7.3297 152.786 6.83243 151.844 8.32423C151.294 10.3395 151.635 12.7473 151.582 14.8411C150.614 14.8411 149.567 14.8411 148.573 14.8411C148.573 11.4387 148.573 7.984 148.573 4.5293C149.279 4.5293 150.038 4.52929 150.771 4.58164C151.111 4.73867 151.425 4.92188 151.687 5.07891C152.629 4.81719 153.545 4.37227 154.487 4.26758Z" fill="#C4C7D0")
            path(d="M29.5685 13.7417C28.4169 13.5323 27.815 12.5378 27.1083 11.7264C30.2751 11.6218 33.4681 11.6741 36.6349 11.6218C36.5302 9.47565 36.7396 7.51275 35.1693 5.81158C32.3165 2.95883 26.2446 3.50844 24.4388 7.27721C22.9993 10.13 23.7321 14.3436 26.6372 15.9925C29.7517 17.6936 33.2587 17.0917 36.1638 15.2858C35.5095 14.5268 34.8029 13.8202 34.1486 13.0612C32.5783 13.5323 31.2173 14.1343 29.5685 13.7417ZM30.1704 7.12017C31.7669 6.96314 32.5783 7.87916 33.6251 8.8737C31.4267 9.08307 29.3068 9.08307 27.1083 8.92604C28.0505 8.11471 28.7572 7.12017 30.1704 7.12017Z" fill="#C4C7D0")
            path(d="M97.5895 12.4335C96.6735 12.2764 96.0716 11.3342 95.3911 10.6799C98.0868 10.5229 100.756 10.5752 103.374 10.5752C103.269 8.92641 103.426 7.32992 102.405 5.99515C100.887 3.92757 97.4325 3.69202 95.2864 4.79124C91.6223 6.59711 91.727 12.9045 95.5481 14.5534C98.113 15.7049 100.652 15.0506 102.981 13.7421C102.431 13.1401 101.882 12.4858 101.332 11.8838C100.181 12.1456 98.7934 12.6952 97.5895 12.4335ZM96.5427 6.85883C98.6102 6.70179 99.5001 6.59711 100.913 8.29828C99.1075 8.40297 97.354 8.45531 95.5481 8.40297C95.8884 7.87953 96.2286 7.38227 96.5427 6.85883Z" fill="#C4C7D0")
            path(d="M113.136 4.58126C111.173 3.82228 109.577 4.47658 107.875 5.47112C107.928 3.7176 107.928 1.96407 107.928 0.158203C106.959 0.158203 105.913 0.158203 104.918 0.158203C104.918 5.07853 104.918 9.99887 104.918 14.893C106.174 14.6837 107.221 15.1024 107.928 13.7938C109.786 15.1024 112.037 15.3903 114.078 14.2126C117.507 12.145 117.14 5.83752 113.136 4.58126ZM109.472 12.0403C107.273 11.2289 107.561 7.82659 109.812 7.1723C111.67 6.518 113.529 7.66956 113.476 9.6848C113.345 11.8047 111.278 12.8254 109.472 12.0403Z" fill="#C4C7D0")
            path(d="M143.862 4.52899C143.705 4.73837 143.521 4.94774 143.364 5.23563C141.349 4.18875 139.255 3.92703 137.214 5.18329C133.812 7.40791 134.309 13.6107 138.366 14.8146C140.328 15.5212 141.873 14.8669 143.574 13.8462C143.574 14.1864 143.626 14.5005 143.626 14.8146C144.516 14.8146 145.38 14.8146 146.322 14.8146C146.322 11.4122 146.322 7.95751 146.322 4.58133C145.563 4.52898 144.673 4.52899 143.862 4.52899ZM139.857 12.2759C137.633 11.6739 137.345 8.32392 139.308 7.2247C140.957 6.30868 143.181 7.27705 143.469 9.23994C143.809 11.3337 141.899 12.8778 139.857 12.2759Z" fill="#C4C7D0")
            path(d="M48.0983 4.26743L48.1507 5.36665C46.0831 4.1104 44.1464 3.50845 41.7909 4.39829C36.8182 5.99478 36.4256 14.1604 41.1366 16.3327C43.6491 17.5366 46.0046 17.0394 48.1507 15.3643C48.1507 15.7831 48.203 16.2804 48.2554 16.7253C49.3546 16.7253 50.4538 16.7253 51.5269 16.7253C51.5269 12.5639 51.5269 8.40261 51.5269 4.29361C50.3753 4.26743 49.2499 4.26743 48.0983 4.26743ZM47.2608 12.6425C46.0569 14.1081 43.7014 14.2389 42.2882 12.9827C40.8487 11.5171 41.0319 8.76901 42.8901 7.72213C44.1464 7.06783 45.6382 7.01549 46.7636 7.93151C48.0983 9.03073 48.4124 11.2815 47.2608 12.6425Z" fill="#C4C7D0")
      .col-6.col-md-3
        a(href="/single.html")
          svg(width="152" height="56" viewbox="0 0 152 56" fill="none" xmlns="http://www.w3.org/2000/svg")
            g(opacity="0.5")
              path(d="M74.5605 15.1484H80.791V15.6465C80.791 16.7793 80.6576 17.7819 80.3906 18.6543C80.1302 19.4616 79.6908 20.2168 79.0723 20.9199C77.6725 22.4954 75.8919 23.2832 73.7305 23.2832C71.6211 23.2832 69.8145 22.5215 68.3105 20.998C66.8066 19.4681 66.0547 17.6322 66.0547 15.4902C66.0547 13.3027 66.8197 11.4473 68.3496 9.92383C69.8796 8.39388 71.7415 7.62891 73.9355 7.62891C75.1139 7.62891 76.2142 7.86979 77.2363 8.35156C78.2129 8.83333 79.1732 9.61458 80.1172 10.6953L78.4961 12.248C77.2591 10.6009 75.752 9.77734 73.9746 9.77734C72.3796 9.77734 71.0417 10.3275 69.9609 11.4277C68.8802 12.5085 68.3398 13.8626 68.3398 15.4902C68.3398 17.1699 68.9421 18.5534 70.1465 19.6406C71.2728 20.6497 72.4935 21.1543 73.8086 21.1543C74.9284 21.1543 75.9342 20.7767 76.8262 20.0215C77.7181 19.2598 78.2161 18.3483 78.3203 17.2871H74.5605V15.1484ZM82.9102 15.3926C82.9102 13.2702 83.6882 11.4473 85.2441 9.92383C86.7936 8.40039 88.6556 7.63867 90.8301 7.63867C92.9785 7.63867 94.821 8.4069 96.3574 9.94336C97.9004 11.4798 98.6719 13.3255 98.6719 15.4805C98.6719 17.6484 97.8971 19.4876 96.3477 20.998C94.7917 22.515 92.9134 23.2734 90.7129 23.2734C88.7663 23.2734 87.0182 22.5996 85.4688 21.252C83.763 19.7611 82.9102 17.8079 82.9102 15.3926ZM85.2051 15.4219C85.2051 17.0885 85.765 18.459 86.8848 19.5332C87.998 20.6074 89.2839 21.1445 90.7422 21.1445C92.3242 21.1445 93.6589 20.5977 94.7461 19.5039C95.8333 18.3971 96.377 17.0495 96.377 15.4609C96.377 13.8529 95.8398 12.5052 94.7656 11.418C93.6979 10.3242 92.3763 9.77734 90.8008 9.77734C89.2318 9.77734 87.9069 10.3242 86.8262 11.418C85.7454 12.4987 85.2051 13.8333 85.2051 15.4219ZM105.227 7.92V19.68H109.927V23H101.307V7.92H105.227ZM115.871 7.92V23H111.951V7.92H115.871ZM121.701 7.92L125.341 17.1L129.001 7.92H133.261L126.901 23H123.781L117.441 7.92H121.701ZM143.422 11.24H138.762V13.76H143.162V17.08H138.762V19.68H143.422V23H134.842V7.92H143.422V11.24ZM66.8066 49V33.9219H69.9707C71.4876 33.9219 72.6855 34.0716 73.5645 34.3711C74.5085 34.6641 75.3646 35.1621 76.1328 35.8652C77.6888 37.2845 78.4668 39.1497 78.4668 41.4609C78.4668 43.7786 77.6562 45.6536 76.0352 47.0859C75.2214 47.8021 74.3685 48.3001 73.4766 48.5801C72.6432 48.86 71.4616 49 69.9316 49H66.8066ZM69.082 46.8613H70.1074C71.1296 46.8613 71.9792 46.7539 72.6562 46.5391C73.3333 46.3112 73.9453 45.9499 74.4922 45.4551C75.612 44.4329 76.1719 43.1016 76.1719 41.4609C76.1719 39.8073 75.6185 38.4661 74.5117 37.4375C73.5156 36.5195 72.0475 36.0605 70.1074 36.0605H69.082V46.8613ZM80.5859 41.3926C80.5859 39.2702 81.3639 37.4473 82.9199 35.9238C84.4694 34.4004 86.3314 33.6387 88.5059 33.6387C90.6543 33.6387 92.4967 34.4069 94.0332 35.9434C95.5762 37.4798 96.3477 39.3255 96.3477 41.4805C96.3477 43.6484 95.5729 45.4876 94.0234 46.998C92.4674 48.515 90.5892 49.2734 88.3887 49.2734C86.4421 49.2734 84.694 48.5996 83.1445 47.252C81.4388 45.7611 80.5859 43.8079 80.5859 41.3926ZM82.8809 41.4219C82.8809 43.0885 83.4408 44.459 84.5605 45.5332C85.6738 46.6074 86.9596 47.1445 88.418 47.1445C90 47.1445 91.3346 46.5977 92.4219 45.5039C93.5091 44.3971 94.0527 43.0495 94.0527 41.4609C94.0527 39.8529 93.5156 38.5052 92.4414 37.418C91.3737 36.3242 90.0521 35.7773 88.4766 35.7773C86.9076 35.7773 85.5827 36.3242 84.502 37.418C83.4212 38.4987 82.8809 39.8333 82.8809 41.4219ZM110.352 34.7324V37.4277C109.036 36.3275 107.676 35.7773 106.27 35.7773C104.72 35.7773 103.415 36.334 102.354 37.4473C101.286 38.554 100.752 39.9082 100.752 41.5098C100.752 43.0918 101.286 44.4264 102.354 45.5137C103.421 46.6009 104.73 47.1445 106.279 47.1445C107.08 47.1445 107.76 47.0143 108.32 46.7539C108.633 46.6237 108.955 46.4479 109.287 46.2266C109.626 46.0052 109.98 45.7383 110.352 45.4258V48.1699C109.049 48.9056 107.682 49.2734 106.25 49.2734C104.095 49.2734 102.256 48.5215 100.732 47.0176C99.2155 45.5007 98.457 43.6712 98.457 41.5293C98.457 39.6087 99.0918 37.8965 100.361 36.3926C101.924 34.5501 103.945 33.6289 106.426 33.6289C107.78 33.6289 109.089 33.9967 110.352 34.7324Z" fill="#898EA1")
              rect(x="17" y="16.0195" width="18" height="18.009" fill="white")
              path(d="M31.1247 20.272V20.772H31.6247H43.375V37.281H31.6247H31.1247V37.781V50.4126H14.6253V37.781V37.281H14.1253H2.375V20.772H14.1253H14.6253V20.272V9.3916H31.1247V20.272ZM22.6074 37.3282L22.875 37.4978L23.1426 37.3282C24.4031 36.5296 25.7949 35.5281 27.023 34.4212C28.2432 33.3213 29.3309 32.0916 29.9519 30.8294C30.8089 29.1984 31.2498 27.5455 31.2498 26.0723C31.2498 24.5986 30.8059 23.2692 29.8506 22.3613C28.1007 20.6977 24.7985 20.6182 22.875 23.3419C20.9514 20.6181 17.6491 20.6978 15.8986 22.3613L15.8985 22.3614C14.9437 23.2693 14.5 24.5986 14.5 26.0723C14.5 27.5454 14.9406 29.1984 15.7973 30.8294C16.4187 32.0915 17.5065 33.3213 18.7269 34.4212C19.9551 35.5281 21.3469 36.5296 22.6074 37.3282Z" fill="#E4E5E9" fill-opacity="0.2" stroke="#EDF1FF")
              path(fill-rule="evenodd" clip-rule="evenodd" d="M34.6247 16.2701H46.875V33.7791H34.6247V46.9107H17.1253V33.7791H4.875V16.2701H17.1253V4.88965H34.6247V16.2701ZM25.875 20.2976C27.5332 17.146 30.8488 17.146 32.5062 18.7218C34.1643 20.2976 34.1643 23.4492 32.5062 26.6008C31.3463 28.9645 28.3619 31.3281 25.875 32.9039C23.3881 31.3281 20.4037 28.9645 19.243 26.6008C17.5857 23.4492 17.5857 20.2976 19.243 18.7218C20.9012 17.146 24.2168 17.146 25.875 20.2976Z" fill="#898EA1")
