
section.contacts.bg-dark
  .container
    .row
      .col-12.col-md-6
        h2.headline Have a new project?
        p.lead
          | Ready to move forward? Fill out the form or 
          | drop us a message to 
          a(href='mailto:hutko@gmail.com') hutko@gmail.com
        .contacts-decoration-image.d-none.d-md-block
          img(src='./images/contacts-mailbox.png')
      .col-12.col-md-6
        include contactform.pug
    .contacts-decoration-image.d-block.d-md-none
      img(src='./images/contacts-mailbox.png')