form#contactsForm.contacts-form.needs-validation
  .form-row.mb-3.js-form-row
    input#exampleInputName.form-control(type='text')
    label.form-label(for='exampleInputName') Name
  .form-row.mb-3.js-form-row
    input#client_email.form-control(type='email' name='client_email' required='')
    label.form-label(for='client_email') Email
    .invalid-feedback Please provide your valid email address.
  .form-row.mb-3.js-form-row
    input#exampleInputBudget.form-control(type='text')
    label.form-label(for='exampleInputBudget') Budget in USD
  .form-row.mb-3.js-form-row
    textarea#exampleFormControlTextarea1.form-control(rows='1')
    label.form-label(for='exampleFormControlTextarea1') Tell us about your project
  .row.align-items-center.form-last-row
    .col-8
      .form-file
        input#customFile.form-file-input(type='file')
        label.form-file-label(for='customFile')
          svg(width='22' height='22' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(fill-rule='evenodd' clip-rule='evenodd' d='M19.25 3.652l-.088-.088a5.153 5.153 0 00-7.238.066l-9.218 9.196c-.704.704-1.452 1.958-1.452 3.08a3.98 3.98 0 003.982 3.982 3.98 3.98 0 002.816-1.166l7.964-7.942c.55-.55.836-1.298.814-2.068a2.708 2.708 0 00-.814-1.87 2.778 2.778 0 00-1.98-.814c-.748 0-1.452.286-1.98.814l-6.094 6.072a.812.812 0 00-.242.594c0 .462.374.836.836.836a.85.85 0 00.594-.242l6.094-6.094c.22-.22.528-.33.814-.33.286 0 .572.11.792.33.198.198.33.462.33.748 0 .308-.11.616-.33.836l-7.964 7.964a2.28 2.28 0 01-3.256 0 2.28 2.28 0 01-.682-1.628c0-.528.44-1.386.946-1.914l9.218-9.218c1.342-1.342 3.542-1.364 4.906-.044l.088.088c1.298 1.364 1.298 3.542-.044 4.884l-7.656 7.634a.812.812 0 00-.242.594c0 .462.374.836.836.836a.85.85 0 00.594-.242l7.634-7.634c1.98-2.002 2.002-5.258.022-7.26z' fill='#fff')
          // <span class="form-file-text">Choose file...</span>
          span#customFileTitle.form-file-button Attachments
    .col-4.text-right
      button.btn.btn-link.btn-hutcko.js-submit(type='submit')
        span Send
        svg(width='32' height='32' fill='none' xmlns='http://www.w3.org/2000/svg')
          path(d='M24.315 16l-.54-.62-5.76-6.72-1.45 1.24 4.41 5.14H7.685v1.92h13.29l-4.41 5.14 1.45 1.24 5.76-6.72.54-.62z' fill='#FFDCDC')