section.clients
  .container
    .row
      .col-12.col-md-6
        h2.headline.slideRightAnim
          span
            | We partner with ambitious 
            span.accent-color-green brands
            | , 
            br
            | big and small
      .col-12.col-md-6
        #carouselExampleCaptions.carousel.slide.quotes-slider(data-ride='carousel')
          ol.carousel-indicators
            li.active(data-target='#carouselExampleCaptions' data-slide-to='0')
            li(data-target='#carouselExampleCaptions' data-slide-to='1')
            li(data-target='#carouselExampleCaptions' data-slide-to='2')
          .carousel-inner
            .carousel-item.quotes-slider__item.active
              .row
                .col-6
                  .quotes-slider__author
                    span Charlie Travis
                .col-6.text-right
                  .quotes-slider__position
                    span CEO & Founder
              p.quotes-slider__copy
                | Denys was an excellent designer and you could instantly see the experience and knowledge he had when he took my old designs and revamped them. I have still got more to give him and will be working with him again in the near future.
            .carousel-item.quotes-slider__item
              .row
                .col-6
                  .quotes-slider__author
                    span Charlie Travis 2
                .col-6.text-right
                  .quotes-slider__position
                    span CEO & Founder
              p.quotes-slider__copy
                | Denys was an excellent designer and you could instantly see the experience and knowledge he had when he took my old designs and revamped them. I have still got more to give him and will be working with him again in the near future.
            .carousel-item.quotes-slider__item
              .row
                .col-6
                  .quotes-slider__author
                    span Charlie Travis 3
                .col-6.text-right
                  .quotes-slider__position
                    span CEO & Founder
              p.quotes-slider__copy
                | Denys was an excellent designer and you could instantly see the experience and knowledge he had when he took my old designs and revamped them. I have still got more to give him and will be working with him again in the near future.
          a.carousel-control-prev(href='#carouselExampleCaptions' role='button' data-slide='prev')
            span.carousel-control-prev-icon(aria-hidden='true')
            span.sr-only Previous
          a.carousel-control-next(href='#carouselExampleCaptions' role='button' data-slide='next')
            span.carousel-control-next-icon(aria-hidden='true')
              svg(width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M21.2758 14.0006L20.8033 13.4581L15.7633 7.57812L14.4946 8.66313L18.3533 13.1606H6.72461V14.8406H18.3533L14.4946 19.3381L15.7633 20.4231L20.8033 14.5431L21.2758 14.0006Z" fill="#343848")
            span.sr-only Next
        //
          <div class="quotes-slider">
          <div class="quotes-slider__item">
          <div class="row">
          <div class="col-6">
          <div class="quotes-slider__author">Charlie Travis</div>
          </div>
          <div class="col-6 text-right">
          <div class="quotes-slider__position">CEO & Founder</div>
          </div>
          </div>
          <p class="quotes-slider__copy">Denys was an excellent designer and you could instantly see the experience and knowledge he had when he took my old designs and revamped them. I have still got more to give him and will be working with him again in the near future.</p>
          </div>
          </div>
  img.d-none.d-md-block.clients-decoration(src='./images/clients-decoration.png')