section.process
  .container
    h2.text-left.text-md-center.headline.slideUpAnim
      span Our Process
    .row
      .process-line
      .col-12.col-md-3
        .procces-content
          h3.slideUpAnim(data-delay='200' data-delaydesktop='200')
            span
              svg(width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg')
                rect(x='4.6875' y='4.6875' width='20.625' height='3.75' fill='#343848')
                path(d='M2.5 27.5H27.5V2.5H2.5V27.5ZM5 25V10H25V25H5ZM25 5V7.5H5V5H25Z' fill='#343848')
                path(d='M17.5 12.5H7.5V15H17.5V12.5Z' fill='#343848')
                path(d='M22.5 17.5H7.5V20H22.5V17.5Z' fill='#343848')
              |                 1. Discover
          p.slideRightAnim(data-delay='400' data-delaydesktop='300')
            span The first part or our process is about learning all about your industry.
      .col-12.col-md-3
        .procces-content
          h3.slideUpAnim(data-delay='200' data-delaydesktop='400')
            span
              svg(width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M4.00098 10.494C4.00987 8.41147 4.63322 6.3783 5.79234 4.6511C6.95145 2.9239 8.59437 1.5801 10.5137 0.789344C12.4331 -0.00141646 14.5428 -0.203693 16.5765 0.208048C18.6103 0.619789 20.477 1.62709 21.9409 3.1028C23.4048 4.5785 24.4003 6.45646 24.8018 8.49961C25.2033 10.5428 24.9928 12.6595 24.1968 14.5826C23.4008 16.5058 22.055 18.1491 20.3293 19.3052C18.6036 20.4613 16.5754 21.0782 14.5007 21.0783C11.7111 21.069 9.03898 19.9494 7.07061 17.9652C5.10225 15.981 3.99832 13.2941 4.00098 10.494V10.494ZM7.0809 10.494C7.09077 11.9654 7.53453 13.4009 8.35619 14.6196C9.17785 15.8382 10.3406 16.7852 11.6979 17.3414C13.0551 17.8975 14.546 18.0377 15.9825 17.7444C17.4191 17.4511 18.7369 16.7374 19.7699 15.6932C20.8028 14.6491 21.5045 13.3213 21.7866 11.8773C22.0687 10.4334 21.9185 8.93789 21.3549 7.57952C20.7913 6.22115 19.8396 5.06071 18.6197 4.24458C17.3999 3.42844 15.9667 2.99316 14.5007 2.99362C12.5262 3.00225 10.6357 3.79684 9.24417 5.203C7.85265 6.60915 7.07374 8.51201 7.0784 10.494H7.0809Z' fill='#343848')
                path(d='M2.17494 24.9997L8.81476 18.3726L6.63982 16.187L0 22.8141L2.17494 24.9997Z' fill='#343848')
              |                 2. Strategy
          p.slideRightAnim(data-delay='400' data-delaydesktop='500')
            span
              | Next, we determine the best way to strategically meet the design goals of your brand.
      .col-12.col-md-3
        .procces-content
          h3.slideUpAnim(data-delay='200' data-delaydesktop='600')
            span
              svg(width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M17.5 7.5H19.825C19.6006 8.35982 19.151 9.14429 18.5226 9.77265C17.8943 10.401 17.1098 10.8506 16.25 11.075V8.75H8.75V11.25H0V13.75H4.4125C3.47093 14.8053 2.84693 16.1053 2.6125 17.5H0V25H7.5V17.5H5.175C5.39945 16.6402 5.84899 15.8557 6.47735 15.2273C7.10571 14.599 7.89018 14.1494 8.75 13.925V16.25H16.25V13.75H25V11.25H20.5875C21.5291 10.1947 22.1531 8.89471 22.3875 7.5H25V0H17.5V7.5ZM5 22.5H2.5V20H5V22.5ZM13.75 13.75H11.25V11.25H13.75V13.75ZM20 2.5H22.5V5H20V2.5Z' fill='#343848')
              |                 3. Design
          p.slideRightAnim(data-delay='400' data-delaydesktop='700')
            span
              | The design phase is where we build out the usage guidelines, user experience, and prototype the product.
      .col-12.col-md-3
        .procces-content
          h3.slideUpAnim(data-delay='200' data-delaydesktop='800')
            span
              svg(width='30' height='26' viewBox='0 0 30 26' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M0 0V25.3845H30V0H0ZM27.6924 23.0772H2.3076V4.6155H27.6921V23.0772H27.6924Z' fill='#343848')
                path(d='M20.5465 15.7925H12.6001V18.125H20.5465V15.7925Z' fill='#343848')
                path(d='M4.6561 15.7925L12.5962 12.638V12.6314L12.6004 12.6332V10.1276L12.5962 10.1294V10.1228L4.6561 6.96826L4.6543 9.47746L9.4459 11.3804L4.6543 13.2836L4.6561 15.7925Z' fill='#343848')
              |                 4. Build
          p.slideRightAnim(data-delay='400' data-delaydesktop='900')
            span
              | We’re connected with some pretty talented and creative devs, they’ll get the job done right.