section.hero-banner.hero
  .container
    .row
      .col-12.col-md-6.order-2.order-md-1
        ul.nav.preheader
          li.nav-item
            a(href="/works.html#webdesign") Web Design
          li.nav-item
            a(href="/works.html#appdesign") Mobile Design
          li.nav-item
            a(href="/works.html#graphicdesign") Graphic Design
        h1.headline
          span.anim-line-wrap
            span.anim-line1
              | Doing 
              span.accent-color-yellow good
              |  work
          br
          span.anim-line-wrap
            span.anim-line2
              | for 
              span.accent-color-green brands
              |  that
          br
          span.anim-line-wrap
            span.anim-line3 do good
        p.copy
          span
            | Our goal is top at the heart of creative services industry as a digital creator,
            | In hase a after comment.
        p.hero-link-wrap
          a.hero-link.btn-hutcko(href='#' data-toggle="modal" data-target="#contactsModal")
            span Talk to us
            svg(width='32' height='32' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M24.315 16l-.54-.62-5.76-6.72-1.45 1.24 4.41 5.14H7.685v1.92h13.29l-4.41 5.14 1.45 1.24 5.76-6.72.54-.62z' fill='#FFDEAC')
      .col-12.col-md-6.order-1.order-md-2.hero-scene.hero-anim-wrap
        img.hero-anim1.d-none.d-md-block(src='./images/hero-anim1.gif')
        img.hero-anim2.d-none.d-md-block(src='./images/hero-anim2.gif')
        img.hero-anim(src='./images/hero-anim.gif')
        .headline.hero-scene__background
          .d-none.d-md-block
            | Doing good
            br
            | work for
            br
            | brands that
            br
            | do good
          .d-block.d-md-none
            | Doing good
            br
            | work for brands 
            br
            | that do good