section.whyus
  .container
    .whyus-headline.slideUpAnim
      span
        img.img-fluid(src='./images/why_us-headline.png')
    .row
      .col-12.col-md-4
        .whyus-content
          .slideCopyAnim(data-delay='200')
            h3
              span High quality of work
            p
              span
                | We have crafted a reputation for providing high quality design that cherishes the tiniest of details.
          .whyus-icon.fadeInAnim(data-delay='800' data-delaydesktop='200')
            svg(width='36' height='36' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M18 35c9.389 0 17-7.611 17-17S27.389 1 18 1 1 8.611 1 18s7.611 17 17 17z' fill='#FCEA2B')
              path(d='M19.666 29.104l2.235-.995.864-1.067.235-1.19-2.734.034h-7.368l.971 2.223 2.335.995h3.462z' fill='#EA5A47')
              path(d='M6.653 13.586c.3-1.11 1-2.07 1.966-2.692a4.642 4.642 0 013.193-1.017M29.09 14.37a5.294 5.294 0 00-6.289-.866M23.014 25.22c0 2.171-1.706 3.897-5.125 3.897-3.42 0-5.147-1.731-5.147-3.897M12.782 25.22s5.209 1.863 10.163.04M26.133 17.897a4.363 4.363 0 00-2.12-.682 5.525 5.525 0 00-2.351.573' stroke='#000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
              path(d='M12.145 19.706a2.217 2.217 0 100-4.434 2.217 2.217 0 000 4.434z' fill='#000')
              path(d='M18 35c9.389 0 17-7.611 17-17S27.389 1 18 1 1 8.611 1 18s7.611 17 17 17z' stroke='#000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
      .col-12.col-md-4
        .whyus-content
          .slideCopyAnim(data-delay='200' data-delaydesktop='800')
            h3
              span Flexibility wins every time
            p
              span
                | In a rapid-changing world, nurturing our ability to adapt is important to us. From working remotely to adapting to our clients’ process, flexibility is one of our defining values.
          .whyus-icon.fadeInAnim(data-delay='800' data-delaydesktop='800')
            svg(width='30' height='37' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M17.595 31.732a2.049 2.049 0 100-4.098 2.049 2.049 0 000 4.098z' fill='#FCEA2B')
              path(d='M10.356 26.336c-.887 1.366-.682 3.688-.682 7.58 0 1.298.068 1.913 1.639 1.913a29.718 29.718 0 010-6.283c.341-4.098 2.595-3.825 5.326-4.576 2.732-.751 5.464 1.298 6.283 2.39.82 1.093.683 8.469.683 8.469 2.185 0 1.57-1.776 1.57-1.776 0 1.776.889-6.966-.546-8.741a24.572 24.572 0 00-2.458-2.459l-1.366-1.366.473-5.93s2.638-3.602 4.131-5.436L29 1h-2.049l-4.78 8.195-4.098 3.415-1.453.193-7.425-1.56L1.683 7.83 1 9.88l6.83 4.097 5.35 2.07 1.134 3.29s-1.036 2.105-1.614 3.365c-.559 1.218-1.251 1.86-2.344 3.635z' fill='#FCEA2B')
              path(d='M17.595 31.832a2.15 2.15 0 100-4.299 2.15 2.15 0 000 4.299z' stroke='#000' stroke-width='2' stroke-miterlimit='10')
              path(d='M13.47 22.561l1.052-3.092c.137-.752-.646-2.974-1.26-3.384l-11.1-5.524a1.637 1.637 0 01-.819-1.707 1.14 1.14 0 011.57-.478l6.958 2.836c.623.311 5.214 1.43 5.214 1.43.752.205 3.468-.51 4.014-.988 0 0 3.346-3.073 3.688-3.688L26.2 2.161A2.317 2.317 0 0127.908 1c.547 0 .82.546.547 1.298 0 0-2.333 6.01-2.668 6.736-.447.967-3.19 4.091-4.029 5.494-.427.813-.742 1.68-.938 2.577-.204.863-.347 1.74-.43 2.623.001.874.134 1.743.393 2.578M11.244 35.146v-5.464c0-2.322 1.23-3.756 2.732-4.098a11.637 11.637 0 016.829 0c1.502.342 2.732 1.844 2.732 4.098v5.464' stroke='#000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
              path(d='M13.79 33.319s.472-.006.61-.308c.164-.356-.056-1.285.09-1.803.137-.515.44-.97.863-1.294' stroke='#000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
      .col-12.col-md-4
        .whyus-content
          .slideCopyAnim(data-delay='200' data-delaydesktop='1400')
            h3
              span Less noise. More action
            p
              span
                | We are not here to waste your time but to make your life much easier. We like to dive right in and move swiftly, keeping processes light so that we can focus on what is really important: delivering results on time and on budget.
          .whyus-icon.fadeInAnim(data-delay='800' data-delaydesktop='1400')
            svg(width='34' height='34' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M8.5 12.012L7.555 6.73c-.413-2.124-3.63-1.711-3.394.827 0 0 1.837 10.364 2.1 13.859v-.121c.256 4.992 4.657 8.187 9.648 7.932a11.784 11.784 0 007.646-3.398c1.753-1.857 6.059-6.93 6.059-6.93.879-1.296.197-3.3-.481-2.806L23.2 18.884l.151-.05c-1.132.4-1.435-.724-1.334-1.532l.997-13.168c.25-3.196-3.427-3.11-3.427-.454l-.55 7.416-4.571.397-.28.284-.32-.232-5.366.466z' fill='#FCEA2B')
              path(d='M8.5 12.012L7.555 6.73c-.413-2.124-3.63-1.711-3.394.827 0 0 1.837 10.364 2.1 13.859v-.121c.256 4.992 4.657 8.187 9.648 7.932a11.784 11.784 0 007.646-3.398c1.753-1.857 6.059-6.93 6.059-6.93.879-1.296.197-3.3-.481-2.806L23.2 18.884l.151-.05c-1.132.4-1.435-.724-1.334-1.532l.997-13.168c.25-3.196-3.427-3.11-3.427-.454l-.55 7.416' stroke='#000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
              path(d='M14.185 13.036c.112-1.017.831-1.61 1.798-1.632.904-.02 1.861.452 1.87 1.548 0 0 .093 3.286.075 3.45a1.85 1.85 0 01-2.043 1.636c-1.016-.112-1.597-1.038-1.637-2.042l-.063-2.96zM10.44 13.036c.112-1.017.831-1.61 1.798-1.632.904-.02 1.861.452 1.87 1.548 0 0 .093 3.286.075 3.45a1.85 1.85 0 01-2.043 1.636c-1.016-.112-1.597-1.038-1.637-2.042l-.063-2.96z' stroke='#000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')