
section.page_services--service.page_services--web
  .container
    .row.align-items-center
      .col-12.col-md-4
        .image-wrap
          img(src="./images/anim-website.gif")
        .copies.bg-yellow
          h2.headline Web
          p
            | UI/UX, Strategy, and Design. Creating outstanding websites is our bread and butter.
          p
            a.btn-hutcko(href="./works.html")
              span VIEW PROJECTS
              svg(width="32" height="32" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M24.315 16l-.54-.62-5.76-6.72-1.45 1.24 4.41 5.14H7.685v1.92h13.29l-4.41 5.14 1.45 1.24 5.76-6.72.54-.62z" fill="#343848")
      .col-12.offset-md-1.col-md-7
        .row.justify-content-center
          .col-6
            ul.cta-cursor(data-bgcolor="#FFDEAC")
              li eCommerce
              li CRM
              li SaaS
              li B2B
              li Education
              li Corporate
              li Social Network
          .col-6
            ul.cta-cursor(data-bgcolor="#FFDEAC")
              li Social Media Banners
              li Technology
              li Visual Data
              li Fashion
              li Medical Website
              li Blog
              li Real estate
section.page_services--service.page_services--mobile
  .container
    .row.align-items-center
      .col-12.offset-md-1.col-md-7.order-2.order-md-1
        .row.justify-content-center
          .col-6
            ul.cta-cursor(data-bgcolor="#C9E9E1")
              li eCommerce
              li Social
              li Medical
              li Technology
              li Education
              li Sport
              li Real estate
          .col-6
            ul.cta-cursor(data-bgcolor="#C9E9E1")
              li Travel
              li Personal
              li Management
              li Finance
              li Delivery
              li Traking
      .col-12.col-md-4.order-1.order-md-2
        .image-wrap
          img(src="./images/anim-mobile.gif")
        .copies.bg-green
          h2.headline Mobile
          p
            | UI/UX, Strategy, and Design. Creating outstanding websites is our bread and butter.
          p
            a.btn-hutcko(href="./works.html")
              span VIEW PROJECTS
              svg(width="32" height="32" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M24.315 16l-.54-.62-5.76-6.72-1.45 1.24 4.41 5.14H7.685v1.92h13.29l-4.41 5.14 1.45 1.24 5.76-6.72.54-.62z" fill="#343848")
section.page_services--service.page_services--graphic
  .container
    .row.align-items-center
      .col-12.col-md-4
        .image-wrap
          img(src="./images/anim-graphic.gif")
        .copies.bg-pink
          h2.headline Graphic
          p We can help bring your vision to life with beauty and clarity.
          p
            a.btn-hutcko(href="./works.html")
              span VIEW PROJECTS
              svg(width="32" height="32" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M24.315 16l-.54-.62-5.76-6.72-1.45 1.24 4.41 5.14H7.685v1.92h13.29l-4.41 5.14 1.45 1.24 5.76-6.72.54-.62z" fill="#343848")
      .col-12.offset-md-1.col-md-7
        .row.justify-content-center
          .col-6
            ul.cta-cursor(data-bgcolor="#FFDCDC")
              li Logo
              li Brand Style Guides
              li Business cards
              li Illustration
              li Presentation Design
              li Infographic
              li Flyer Design
          .col-6
            ul.cta-cursor(data-bgcolor="#FFDCDC")
              li Poster Design
              li Invitation Design
              li Podcast Cover Art
              li Book Design
              li Menu Design
a#cursorButton.cta-cursor-button.is-hidden2(href="#") Request
