section.hero-banner.page_services--hero
  .container
    .row
      .col-12.col-sm-6.col-md-6.col-lg-5.order-2.order-md-1
        h1.headline Services
        p.lead
          | By understanding and believing in your idea we strive to add meaning. The business drives design and we like it.
        p.hero-link-wrap
          a.hero-link.btn-hutcko(href="#" data-toggle="modal" data-target="#contactsModal")
            span Talk to us
            svg(width="32" height="32" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M24.315 16l-.54-.62-5.76-6.72-1.45 1.24 4.41 5.14H7.685v1.92h13.29l-4.41 5.14 1.45 1.24 5.76-6.72.54-.62z" fill="#343848")
      .col-12.col-sm-6.offset-md-1.col-md-5.order-1.mb-3.order-md-2.mb-md-0
        img.img-fluid(src="./images/services-hero.png")