section.vertical_process
  .container
    h2.headline Our Process
    .vertical_process--items-wrap
      .vertical_process--decoration-line
      .vertical_process--item
        .vertical_process--item_decorations
          span.vertical_process--item_decorations--box
          span.vertical_process--item_decorations--line
        h3
          svg(width="30" height="30" viewbox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg")
            rect(x="4.6875" y="4.6875" width="20.625" height="3.75" fill="#343848")
            path(d="M2.5 27.5H27.5V2.5H2.5V27.5ZM5 25V10H25V25H5ZM25 5V7.5H5V5H25Z" fill="#343848")
            path(d="M17.5 12.5H7.5V15H17.5V12.5Z" fill="#343848")
            path(d="M22.5 17.5H7.5V20H22.5V17.5Z" fill="#343848")
          span 1. Project request
        p
          | Please be as precise as possible with your information, this will help us to understand what it's about and save both time.
      .vertical_process--item
        .vertical_process--item_decorations
          span.vertical_process--item_decorations--box
          span.vertical_process--item_decorations--line
        h3
          svg(width="25" height="25" viewbox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M4.00098 10.494C4.00987 8.41147 4.63322 6.3783 5.79234 4.6511C6.95145 2.9239 8.59437 1.5801 10.5137 0.789344C12.4331 -0.00141646 14.5428 -0.203693 16.5765 0.208048C18.6103 0.619789 20.477 1.62709 21.9409 3.1028C23.4048 4.5785 24.4003 6.45646 24.8018 8.49961C25.2033 10.5428 24.9928 12.6595 24.1968 14.5826C23.4008 16.5058 22.055 18.1491 20.3293 19.3052C18.6036 20.4613 16.5754 21.0782 14.5007 21.0783C11.7111 21.069 9.03898 19.9494 7.07061 17.9652C5.10225 15.981 3.99832 13.2941 4.00098 10.494V10.494ZM7.0809 10.494C7.09077 11.9654 7.53453 13.4009 8.35619 14.6196C9.17785 15.8382 10.3406 16.7852 11.6979 17.3414C13.0551 17.8975 14.546 18.0377 15.9825 17.7444C17.4191 17.4511 18.7369 16.7374 19.7699 15.6932C20.8028 14.6491 21.5045 13.3213 21.7866 11.8773C22.0687 10.4334 21.9185 8.93789 21.3549 7.57952C20.7913 6.22115 19.8396 5.06071 18.6197 4.24458C17.3999 3.42844 15.9667 2.99316 14.5007 2.99362C12.5262 3.00225 10.6357 3.79684 9.24417 5.203C7.85265 6.60915 7.07374 8.51201 7.0784 10.494H7.0809Z" fill="#343848")
            path(d="M2.17494 24.9997L8.81476 18.3726L6.63982 16.187L0 22.8141L2.17494 24.9997Z" fill="#343848")
          span 2. Discover
        p
          | Next, we determine the best way to strategically meet the design goals of your brand.
      .vertical_process--item
        .vertical_process--item_decorations
          span.vertical_process--item_decorations--box
          span.vertical_process--item_decorations--line
        h3
          svg(width="25" height="25" viewbox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M17.5 7.5H19.825C19.6006 8.35982 19.151 9.14429 18.5226 9.77265C17.8943 10.401 17.1098 10.8506 16.25 11.075V8.75H8.75V11.25H0V13.75H4.4125C3.47093 14.8053 2.84693 16.1053 2.6125 17.5H0V25H7.5V17.5H5.175C5.39945 16.6402 5.84899 15.8557 6.47735 15.2273C7.10571 14.599 7.89018 14.1494 8.75 13.925V16.25H16.25V13.75H25V11.25H20.5875C21.5291 10.1947 22.1531 8.89471 22.3875 7.5H25V0H17.5V7.5ZM5 22.5H2.5V20H5V22.5ZM13.75 13.75H11.25V11.25H13.75V13.75ZM20 2.5H22.5V5H20V2.5Z" fill="#343848")
          span 3. Design
        p
          | The design phase is where we build out the usage guidelines, user experience, and prototype the product.
      .vertical_process--item
        .vertical_process--item_decorations
          span.vertical_process--item_decorations--box
          span.vertical_process--item_decorations--line
        h3
          svg(width="30" height="26" viewbox="0 0 30 26" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M0 0V25.3845H30V0H0ZM27.6924 23.0772H2.3076V4.6155H27.6921V23.0772H27.6924Z" fill="#343848")
            path(d="M20.5465 15.7925H12.6001V18.125H20.5465V15.7925Z" fill="#343848")
            path(d="M4.6561 15.7925L12.5962 12.638V12.6314L12.6004 12.6332V10.1276L12.5962 10.1294V10.1228L4.6561 6.96826L4.6543 9.47746L9.4459 11.3804L4.6543 13.2836L4.6561 15.7925Z" fill="#343848")
          span 4. Developmnet
        p
          | We’re connected with some pretty talented and creative devs, they’ll get the job done right.
      .vertical_process--item
        .vertical_process--item_decorations
          span.vertical_process--item_decorations--box
          span.vertical_process--item_decorations--line
        h3
          svg(width="30" height="30" viewbox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M11.73 18.0001L9.75004 15.9901L8.04004 17.7001L11.73 21.3901L21.36 11.7601L19.65 10.0801L11.73 18.0001Z" fill="#343848")
            path(d="M14.7001 1.9502C7.3501 1.9502 1.3501 7.9502 1.3501 15.3002C1.3501 22.6502 7.3501 28.6502 14.7001 28.6502C22.0501 28.6502 28.0501 22.6502 28.0501 15.3002C28.0501 7.9502 22.0501 1.9502 14.7001 1.9502ZM14.7001 26.2502C8.6701 26.2502 3.7501 21.3302 3.7501 15.3002C3.7501 9.2702 8.6701 4.3502 14.7001 4.3502C20.7301 4.3502 25.6501 9.2702 25.6501 15.3002C25.6501 21.3302 20.7301 26.2502 14.7001 26.2502Z" fill="#343848")
          span 5. Launch
        p
          | Congratulations! Once all parties involved are satisfied with the result, the website goes live or is transferred to the customer. Of course, we are available for any questions after completition.
      .vertical_process--item_finish
        svg#YouWin(width="42" height="42" viewbox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg")
          path(d="M28.5464 26.9063L14.7652 12.4688L9.56127 24.8146L4.13574 37.5722L28.5464 26.9063Z" fill="#FCEA2B")
          path(d="M8.88054 26.416L15.3334 32.8688L12.107 34.1822L7.55859 29.6339L8.88054 26.416Z" fill="#EA5A47")
          path(d="M12.1351 18.7617L16.0415 22.6681L22.866 29.4926L19.2068 31.1629L14.4399 26.396L10.5869 22.543L12.1351 18.7617Z" fill="#EA5A47")
          path(d="M17.6716 9.58345C18.3159 9.58345 18.8382 9.06874 18.8382 8.43381C18.8382 7.79889 18.3159 7.28418 17.6716 7.28418C17.0272 7.28418 16.5049 7.79889 16.5049 8.43381C16.5049 9.06874 17.0272 9.58345 17.6716 9.58345Z" fill="#FFDCDC")
          path(d="M35.1715 11.9169C35.8159 11.9169 36.3382 11.4022 36.3382 10.7673C36.3382 10.1324 35.8159 9.61768 35.1715 9.61768C34.5272 9.61768 34.0049 10.1324 34.0049 10.7673C34.0049 11.4022 34.5272 11.9169 35.1715 11.9169Z" fill="#FCEA2B")
          path(d="M33.4216 24.1669C34.0659 24.1669 34.5882 23.6522 34.5882 23.0173C34.5882 22.3824 34.0659 21.8677 33.4216 21.8677C32.7772 21.8677 32.2549 22.3824 32.2549 23.0173C32.2549 23.6522 32.7772 24.1669 33.4216 24.1669Z" fill="#C9E9E1")
          path(d="M29.5529 26.6226L29.651 26.7207L16.8934 32.1463L4.13574 37.5719L9.56132 24.8143L14.9869 12.0566" stroke="black" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round")
          path(d="M15.0938 11.8125L21.3431 18.3907L27.5625 24.9375" stroke="black" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round")
          path(d="M14.9873 12.0566L15.0507 12.1201" stroke="black" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round")
          path(d="M27.1189 4.29736C27.2558 4.5591 27.3538 4.84745 27.4045 5.15661C27.6676 6.75921 26.5604 8.31484 24.9316 8.63124" stroke="black" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round")
          path(d="M25.0439 8.61963C24.7493 8.64203 24.4528 8.71139 24.1636 8.83196C22.6646 9.45689 21.9306 11.2195 22.5242 12.769" stroke="black" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round")
          path(d="M36.0449 15.5845C35.9873 15.8742 35.8828 16.1602 35.7284 16.4329C34.9281 17.846 33.0901 18.3631 31.623 17.5879" stroke="black" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round")
          path(d="M31.7184 17.6491C31.475 17.4818 31.2005 17.3499 30.8997 17.2624C29.3402 16.8088 27.663 17.7213 27.1533 19.3003" stroke="black" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round")