mixin team_member_socils_item_dribbble(link="#")
  li.list-inline-item.is-dribbble: a(href= link target="_blank")
    svg(viewbox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg")
      g(clip-path="url(#clip0)" fill="#343848")
        path(d="M2.8 9.2a4.526 4.526 0 106.4-6.4 4.526 4.526 0 00-6.4 6.4zM2 10a5.657 5.657 0 118-8 5.657 5.657 0 01-8 8z")
        path(d="M4 4a3.388 3.388 0 00.994-2.413c-.82.185-1.58.598-2.194 1.213a4.505 4.505 0 00-1.214 2.195A3.388 3.388 0 004 4zM2 2A5.639 5.639 0 015.948.344 4.524 4.524 0 014.8 4.8 4.524 4.524 0 01.343 5.95 5.639 5.639 0 012 2zM9.2 9.2a4.504 4.504 0 001.213-2.195A3.388 3.388 0 008 8a3.388 3.388 0 00-.995 2.413A4.505 4.505 0 009.2 9.2zm-2-2a4.524 4.524 0 014.457-1.148A5.639 5.639 0 0110 10a5.639 5.639 0 01-3.948 1.657A4.524 4.524 0 017.2 7.2z")
        path(d="M1.87 2.6c.477 1.262 1.538 2.705 3.181 4.348C6.694 8.59 8.137 9.652 9.4 10.129l.4-1.058c-1.085-.41-2.408-1.384-3.948-2.923-1.54-1.54-2.513-2.863-2.923-3.948l-1.058.4z")
        path(d="M9.394 1.857L1.878 9.374l.8.8 7.516-7.517-.8-.8z")
      defs
        clippath#clip0
          path(fill="#fff" d="M0 0h12v12H0z")

mixin team_member_socils_item_linkedin(link="#")
  li.list-inline-item.is-linkedin: a(href= link target="_blank")
    svg(viewbox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg")
      path(d="M11.997 12H12V7.599c0-2.153-.463-3.812-2.98-3.812-1.21 0-2.022.664-2.354 1.294h-.035V3.988H4.245V12H6.73V8.033c0-1.045.198-2.055 1.491-2.055 1.275 0 1.294 1.192 1.294 2.122V12h2.482zM.198 3.988h2.488V12H.198V3.988zM1.441 0C.645 0 0 .645 0 1.441c0 .795.645 1.455 1.441 1.455.795 0 1.441-.66 1.441-1.455C2.882.645 2.236 0 1.441 0z" fill="#343848")

mixin team_member_socils_item_instagram(link="#")
  li.list-inline-item.is-instagram: a(href= link target="_blank")
    svg(viewbox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg")
      g(clip-path="url(#clip0)")
        path(d="M12 4.055v3.89A4.065 4.065 0 017.945 12h-3.89A4.065 4.065 0 010 7.945v-3.89A4.065 4.065 0 014.055 0h3.89A4.065 4.065 0 0112 4.055zm-1.155 2.523H8.914a2.971 2.971 0 01-5.828 0h-1.93v1.367a2.91 2.91 0 002.899 2.9h3.89a2.91 2.91 0 002.9-2.9V6.578zm-1.93-1.155h1.93V4.054a2.91 2.91 0 00-2.9-2.9h-3.89a2.91 2.91 0 00-2.9 2.9v1.368h1.93a2.972 2.972 0 015.83 0zm.902-2.453a.791.791 0 11-.791-.79c.407 0 .79.369.79.79zM7.815 6a1.815 1.815 0 10-3.63 0 1.815 1.815 0 003.63 0z" fill="#343848")
      defs
        clippath#clip0
          path(fill="#fff" d="M0 0h12v12H0z")

mixin team_member_socils_item_facebook(link="#")
  li.list-inline-item.is-facebook: a(href= link target="_blank")
    svg(viewbox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg")
      g(clip-path="url(#clip0)")
        path(d="M6.75 4.125v-1.5a.75.75 0 01.75-.75h.75V0h-1.5A2.25 2.25 0 004.5 2.25v1.875H3V6h1.5v6h2.25V6h1.5L9 4.125H6.75z" fill="#343848")
      defs
        clippath#clip0
          path(fill="#fff" d="M0 0h12v12H0z")



section.team2
  .container.text-center.text-md-left
    h2.headline.text-center.slideUpAnim
      span Team

    .row.align-items-center.team-member
      .col-12.col-md-2
        img.img-fluid.team-member__ava.fadeInAnim(src="./images/team-item.png" alt="ava")
      .col-12.col-md
        .team-member__name Denys Andrykovskiy
        .team-member__socilas
          ul.list-inline.m-0
            +team_member_socils_item_facebook("facebook.com")
            +team_member_socils_item_instagram
            +team_member_socils_item_linkedin
            +team_member_socils_item_dribbble
      .col-12.col-md
        .team-member__position Senior Pomidor
        .team-member__rate $55/hour

    .row.align-items-center.team-member
      .col-12.col-md-2
        img.img-fluid.team-member__ava.fadeInAnim(src="./images/team-item.png" alt="ava")
      .col-12.col-md
        .team-member__name Denys Andrykovskiy
        .team-member__socilas
          ul.list-inline.m-0
            +team_member_socils_item_facebook("facebook.com")
            +team_member_socils_item_instagram
            +team_member_socils_item_linkedin
            +team_member_socils_item_dribbble
      .col-12.col-md
        .team-member__position Senior Pomidor
        .team-member__rate $55/hour

    .row.align-items-center.team-member
      .col-12.col-md-2
        img.img-fluid.team-member__ava.fadeInAnim(src="./images/team-item.png" alt="ava")
      .col-12.col-md
        .team-member__name Denys Andrykovskiy
        .team-member__socilas
          ul.list-inline.m-0
            +team_member_socils_item_facebook("facebook.com")
            +team_member_socils_item_instagram
            +team_member_socils_item_linkedin
            +team_member_socils_item_dribbble
      .col-12.col-md
        .team-member__position Senior Pomidor
        .team-member__rate $55/hour
        
    .row.align-items-center.team-member
      .col-12.col-md-2
        img.img-fluid.team-member__ava.fadeInAnim(src="./images/team-item.png" alt="ava")
      .col-12.col-md
        .team-member__name Denys Andrykovskiy
        .team-member__socilas
          ul.list-inline.m-0
            +team_member_socils_item_facebook("facebook.com")
            +team_member_socils_item_instagram
            +team_member_socils_item_linkedin
            +team_member_socils_item_dribbble
      .col-12.col-md
        .team-member__position Senior Pomidor
        .team-member__rate $55/hour