section.team
  .container
    h2.headline.text-left.text-md-center.slideUpAnim
      span Team
    .row.align-items-center.team-member
      .col-2
        img.img-fluid.team-member__ava.fadeInAnim(src='./images/team-item.png' alt='ava')
      .col
        .team-member__name.slideUpAnim
          span Denys Andrykovskiy
        .d-bloc.d-md-none.team-member__position.slideUpAnim
          span Senior Pomidor
      .col.d-none.d-md-block.team-member__position.slideUpAnim
        span Senior Pomidor
      .col.text-right.team-member__rate.slideUpAnim
        span $55/hour
    .row.align-items-center.team-member
      .col-2
        img.img-fluid.team-member__ava.fadeInAnim(src='./images/team-item.png' alt='ava')
      .col
        .team-member__name.slideUpAnim
          span Denys Andrykovskiy
        .d-bloc.d-md-none.team-member__position.slideUpAnim
          span Senior Pomidor
      .col.d-none.d-md-block.team-member__position.slideUpAnim
        span Senior Pomidor
      .col.text-right.team-member__rate.slideUpAnim
        span $55/hour
    .row.align-items-center.team-member
      .col-2
        img.img-fluid.team-member__ava.fadeInAnim(src='./images/team-item.png' alt='ava')
      .col
        .team-member__name.slideUpAnim
          span Denys Andrykovskiy
        .d-bloc.d-md-none.team-member__position.slideUpAnim
          span Senior Pomidor
      .col.d-none.d-md-block.team-member__position.slideUpAnim
        span Senior Pomidor
      .col.text-right.team-member__rate.slideUpAnim
        span $55/hour
    .row.align-items-center.team-member
      .col-2
        img.img-fluid.team-member__ava.fadeInAnim(src='./images/team-item.png' alt='ava')
      .col
        .team-member__name.slideUpAnim
          span Denys Andrykovskiy
        .d-bloc.d-md-none.team-member__position.slideUpAnim
          span Senior Pomidor
      .col.d-none.d-md-block.team-member__position.slideUpAnim
        span Senior Pomidor
      .col.text-right.team-member__rate.slideUpAnim
        span $55/hour
    //
      <div class="row align-items-center team-member">
      <div class="col-2">
      <img src="./images/team-item.png" alt="ava" class="img-fluid team-member__ava">
      </div>
      <div class="col">
      <div class="team-member__name">Denys Andrykovskiy</div>
      <div class="d-bloc d-md-none team-member__position">Admiral Pomidor</div>
      </div>
      <div class="col d-none d-md-block team-member__position">Admiral Pomidor</div>
      <div class="col text-right team-member__rate">$555/hour</div>
      </div>