section.works_webdesign.works_graphicdesign.js-works-graphic#graphicdesign

  .container
    h2.headline Graphic<br>Design

    .projects-row.d-flex.projects-row-ltr
      a(href="./single.html").projects-row-item
        img.works_webdesign-image_landscape(src="./images/works/graphicdesign1.png")
        h3 Easy Webinar
        p Easy Webinar 3
      a(href="./single.html").projects-row-item
        img.works_webdesign-image_landscape(src="./images/works/graphicdesign2.png")
        h3 Easy Webinar
        p Easy Webinar 1
      a(href="./single.html").projects-row-item
        img.works_webdesign-image_landscape(src="./images/works/graphicdesign3.png")
        h3 Easy Webinar
        p Easy Webinar 2

    .projects-row.d-flex.flex-md-row-reverse.projects-row-rtl
      a(href="./single.html").projects-row-item
        img.works_webdesign-image_landscape(src="./images/works/graphicdesign6.png")
        h3 Easy Webinar
        p Easy Webinar
      a(href="./single.html").projects-row-item
        img.works_webdesign-image_landscape(src="./images/works/graphicdesign5.png")
        h3 Easy Webinar
        p Easy Webinar
      a(href="./single.html").projects-row-item
        img.works_webdesign-image_portrait(src="./images/works/graphicdesign4.png")
        h3 Easy Webinar
        p Easy Webinar