section.works_webdesign.works_appdesign.js-works-app#appdesign

  .container
    h2.headline App<br>Design

    .projects-row.d-flex.flex-md-row-reverse
      a(href="./single.html").projects-row-item
        img.works_webdesign-image_landscape(src="./images/works/appdesign3.png")
        h3 Easy Webinar
        p Easy Webinar 3
      a(href="./single.html").projects-row-item
        img.works_webdesign-image_landscape(src="./images/works/appdesign2.png")
        h3 Easy Webinar
        p Easy Webinar 1
      a(href="./single.html").projects-row-item
        img.works_webdesign-image_portrait(src="./images/works/appdesign1.png")
        h3 Easy Webinar
        p Easy Webinar 2
        
    hr