section.works_webdesign.js-works-web#webdesign

  .container
    h2.headline Web<br>Design
    .projects-row.d-flex.projects-row-ltr
      a(href="./medic-bank.html").projects-row-item
        img.works_webdesign-image_landscape(src="./images/works/webdesign1.png")
        h3 Medic Bank
        p Hutcko Speed Sites
      a(href="./snapwire.html").projects-row-item
        img.works_webdesign-image_landscape(src="./images/works/webdesign2.png")
        h3 Snapwire
        p Hutcko Speed Sites
      a(href="./search-venue.html").projects-row-item
        img.works_webdesign-image_landscape(src="./images/works/webdesign3.png")
        h3 Search Venue
        p Hutcko Speed Sites

    .projects-row.d-flex.flex-md-row-reverse.projects-row-rtl
      a(href="./single.html").projects-row-item
        img.works_webdesign-image_portrait(src="./images/works/webdesign6.png")
        h3 XXL.UA
        p Website for Publisher
      a(href="./single.html").projects-row-item
        img.works_webdesign-image_landscape(src="./images/works/webdesign5.png")
        h3 Hutcko Speed Sites
        p Hutcko Speed Sites
      a(href="./annuities-compare.html").projects-row-item
        img.works_webdesign-image_landscape(src="./images/works/webdesign4.png")
        h3 Annuities Compare
        p Productivity Dashboard

    .projects-row.d-flex.projects-row-ltr
      a(href="./voogy.html").projects-row-item
        img.works_webdesign-image_landscape(src="./images/works/webdesign7.png")
        h3 Voogy
        p Platform for Sales team
      a(href="./easy-webinar.html").projects-row-item
        img.works_webdesign-image_landscape(src="./images/works/webdesign8.png")
        h3 Easy Webinar
        p Marketing Platform
      a(href="./single.html").projects-row-item
        img.works_webdesign-image_landscape(src="./images/works/webdesign9.png")
        h3 Hutcko Speed Sites
        p Hutcko Speed Sites

    .projects-row.d-flex.flex-md-row-reverse.projects-row-rtl
      a(href="./single.html").projects-row-item
        img.works_webdesign-image_portrait(src="./images/works/webdesign12.png")
        h3 Hutcko Speed Sites
        p Hutcko Speed Sites
      a(href="./single.html").projects-row-item
        img.works_webdesign-image_landscape(src="./images/works/webdesign11.png")
        h3 Hutcko Speed Sites
        p Hutcko Speed Sites
      a(href="./single.html").projects-row-item
        img.works_webdesign-image_landscape(src="./images/works/webdesign11.png")
        h3 Hutcko Speed Sites
        p Hutcko Speed Sites

    .projects-row.d-flex.projects-row-ltr
      a(href="./single.html").projects-row-item
        img.works_webdesign-image_landscape(src="./images/works/webdesign13.png")
        h3 Hutcko Speed Sites
        p Hutcko Speed Sites
      a(href="./golivedoc.html").projects-row-item
        img.works_webdesign-image_landscape(src="./images/works/webdesign14.png")
        h3 GoLiveDoc
        p Online Medical Consultation
      a(href="./single.html").projects-row-item
        img.works_webdesign-image_landscape(src="./images/works/webdesign15.png")
        h3 Hutcko Speed Sites
        p Hutcko Speed Sites

    hr