section.hero-banner.single_project-hero
  .container
    .row.align-items-center
      .col-12.col-md-6.order-2.order-md-1
        p.lead Web Application
        h1.headline
          | Name of the 
          br
          | Project
        a.btn.btn-hutcko(href="#")
          span VIEW LIVE VERSION
          svg(width="32" height="32" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M24.315 16l-.54-.62-5.76-6.72-1.45 1.24 4.41 5.14H7.685v1.92h13.29l-4.41 5.14 1.45 1.24 5.76-6.72.54-.62z" fill="#C9E9E1")
      .col-12.col-md-6.order-1.order-md-2
        img.img-fluid(src="./images/webdesign02.png")