section.single_project-lead
  .container
    .row.single_project-lead-main_row
      .col-12.col-md-4
        .row
          .col-12.col-md-6
            h5 Our contributions
            ul.list-unstyled
              li Product Strategy
              li UX/UI Design
              li Branding
          .col-12.col-md-6
            h5 Team composition
            ul.list-unstyled
              li Design Director
              li Product Manager
              li Graphic Designer
          .col-12.col-md-6
            h5 Duration
            p 3 months
      .col-12.col-md-8
        p.lead
          | By understanding and believing in your idea we strive to add meaning. The business drives design and we like it. By understanding and believing in your idea we strive to add meaning. The business drives design and we like it.
        ul.list-inline
          li.list-inline-item Web Design
          li.list-inline-item PROTOTYPING
          li.list-inline-item DEVELOPMENT