section.projects
  .projects-row
    h2.headline Similar<br/>projects
    .projects-hero(hidden="")
      .container-fluid
        a(href="#")
          img.img-fluid.d-block.d-md-none(src="./images/webdesign01.png")
          .d-none.d-md-block.webdesign-anim
            img(src="./images/webdesign-device.png")
        h2.headline.slideUpAnim
          a(href="#")
            span
              | Web
              br
              | Design
        p
          a.btn-hutcko(href="#")
            span View all designs
            svg(width="32" height="32" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M24.315 16l-.54-.62-5.76-6.72-1.45 1.24 4.41 5.14H7.685v1.92h13.29l-4.41 5.14 1.45 1.24 5.76-6.72.54-.62z" fill="#C9E9E1")
    .projects-item
      a.hoverZoomInAnim(href="#")
        img.img-fluid(src="./images/webdesign02.png")
      .project-copy.slideCopyAnim(data-delaydesktop="400")
        h3
          a(href="#")
            span Easy Webinar
        p
          a(href="#")
            span Design/Development
    .projects-item
      a.hoverZoomInAnim(href="#")
        img.img-fluid(src="./images/webdesign03.png")
      .project-copy.slideCopyAnim(data-delaydesktop="800")
        h3
          a(href="#")
            span Easy Webinar
        p
          a(href="#")
            span Design/Development
    .projects-item
      a.hoverZoomInAnim(href="#")
        img.img-fluid(src="./images/webdesign02.png")
      .project-copy.slideCopyAnim(data-delaydesktop="400")
        h3
          a(href="#")
            span Easy Webinar
        p
          a(href="#")
            span Design/Development