section.single_project-lead {
  h5 {
    font-size: 14px;
    font-family: 'Graphik LCG Semibold';
    margin: 0 auto 24px;
    text-transform: uppercase;
  }
  .col-md-6 ul, 
  .col-md-6 p
  {
    font-size: 14px;
    line-height: 32px;
  }
  p.lead {
    margin: 0 auto 32px;
  }
  .list-inline {
    font-family: 'Graphik LCG Medium';
    text-transform: uppercase;
    li {
      box-sizing: border-box;
      line-height: 1;
      padding: 16px 22px;
      border: 1px solid #E5E8F1;
      background: white;
      margin: auto;
      font-size: 14px;
    }
  }


  @media(max-width: $mobile_layout_breckpoint){
    .row {
      background: #F6F7FA;
    }
    .single_project-lead-main_row {
      padding: 64px 20px;
    }
    .col-md-6 ul, 
    .col-md-6 p {
      margin-bottom: 42px;
    }
    .list-inline {
      li {
        margin-right: 12px;
      }
      li + li {
        margin-top: 12px;
      }
    }
  }
  @media(min-width: $mobile_layout_breckpoint + 1){
    padding: 80px 0;
    background: #F6F7FA;
    .list-inline {
      li + li {
        margin-left: 12px;
      }
    }
  }
}




.single_project-lead2 {
  .container {
    background: #F6F7FA;
    z-index: 11;
    position: relative;
  }
  h5 {
    font-size: 14px;
    font-family: 'Graphik LCG Semibold';
    margin: 0 auto 24px;
    text-transform: uppercase;
  }
  ul, p {
    font-size: 14px;
    line-height: 32px;
    margin: 0;
  }

  @media(max-width: $mobile_layout_breckpoint){
    padding: 0 25px;
    .container {
      margin-top: -180px;
      padding: 48px 32px;
    }
    h5 {
      margin: 0 auto 24px;
    }
    ul {
      margin: 0 auto 32px;
    }
  }
  @media(min-width: $mobile_layout_breckpoint + 1){
    max-width: 770px;
    margin: auto;
    .container {
      margin-top: -100px;
      padding: 42px 48px;
    }
    h5 {
      margin: 0 auto 32px;
    }
  }
}