section.single_project-content {
  margin: 140px auto;
  p.lead {
    margin: 100px auto;
    max-width: 570px;
    font-size: 24px;
    line-height: 34px;
  }
}

section.single_project-content2 {
  margin: 140px auto;
  p.lead {
    margin: 0;
    color: #898EA1;
  }
  @media(max-width: $mobile_layout_breckpoint){
    h2.headline {
      margin: 0 auto 32px;
      font-size: 42px;
      line-height: 54px;
    }
  }
  @media(min-width: $mobile_layout_breckpoint + 1){
    h2.headline {
      margin: 0 auto 42px;
      font-size: 54px;
      line-height: 64px;
    }
    p.lead {
      max-width: 425px;
    }
  }
}

body.single_project-medic_bank {
  @media(max-width: $mobile_layout_breckpoint){
    section.single_project-content2 {
      &.medic_bank-feature {
        .lead {
          margin-bottom: 24px;
        }
      }
    }
  }
  @media(min-width: $mobile_layout_breckpoint + 1){
    section.single_project-content2 {
      &.medic_bank-manage,
      &.medic_bank-feature {
        .lead {
          max-width: 470px;
        }
      }
      &.medic_bank-feature {
        padding: 68px 0 132px;
        .lead {
          margin-bottom: 42px;
        }
      }
      &.medic_bank-account {
        .lead {
          max-width: 540px;
        }
      }
    }
  }
}

body.single_project-golivedoc {
  @media(max-width: $mobile_layout_breckpoint){
    section.single_project-content2 {
      &.golivedoc-feature {
        .lead {
          margin-bottom: 24px;
        }
      }
    }
  }
  @media(min-width: $mobile_layout_breckpoint + 1){
    section.single_project-content2 {
      .lead {
        max-width: 470px;
      }
      &.golivedoc-feature {
        padding: 68px 0 132px;
        .lead {
          margin-bottom: 42px;
        }
      }
    }
  }
}


body.single_project-easy_webinar {
  section.single_project-content {
    h2.headline {
      max-width: 570px;
      margin: auto;
    }
    p.lead {
      margin: 0;
      color: #898EA1;
      max-width: 570px;
      margin: auto;
    }
    @media(max-width: $mobile_layout_breckpoint){
      h2.headline {
        margin: 56px auto 32px;
        font-size: 42px;
        line-height: 54px;
      }
    }
    @media(min-width: $mobile_layout_breckpoint + 1){
      h2.headline {
        margin: 80px auto 42px;
        font-size: 54px;
        line-height: 64px;
      }
    }
  }
}

body.single_project-snapwire {
  section.single_project-content {
    h2.headline {
      max-width: 570px;
      margin: auto;
    }
    p.lead {
      margin: 0;
      color: #898EA1;
      max-width: 570px;
      margin: auto;
    }
    @media(max-width: $mobile_layout_breckpoint){
      h2.headline {
        margin: 56px auto 32px;
        font-size: 42px;
        line-height: 54px;
      }
    }
    @media(min-width: $mobile_layout_breckpoint + 1){
      h2.headline {
        margin: 80px auto 42px;
        font-size: 54px;
        line-height: 64px;
      }
    }
  }
}