section.single_project-hero {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    margin: 0;
  }
  .category {
    margin: 0 auto 24px;
    a {
      font-size: 16px;
      line-height: 1;
      text-decoration: none;
      text-transform: uppercase;
      padding: 8px 10px;
      display: inline-block;
      border: 1px solid $background_color--dark;
      color: $background_color--dark;
    }
  }
  .lead {
    color: $accent_color--green;
    font-size: 20px;
    line-height: 34px;
    color: $background_color--dark;
  }
  .btn-hutcko {
    border: 1px solid $background_color--dark;
    border-radius: 0;
    padding: 12px 12px 12px 18px;
  }

  @media(max-width: $mobile_layout_breckpoint){
    padding-top: 196px;
    padding-bottom: 240px;
    .lead {
      margin: 0 auto 36px;
    }
    h1 {
      margin: 0 auto 42px;
      font-size: 42px;
      line-height: 48px;
    }
    .hero-image {
      margin-bottom: 32px;
    }
  }
  @media(min-width: $mobile_layout_breckpoint + 1){
    padding-top: 60px;
    .lead {
      margin: 0 auto 42px;
    }
    h1 {
      margin: 0 auto 32px;
      font-size: 54px;
      line-height: 64px;
    }
  }


  &.bg-dark {
    .category a {
      border-color: $accent_color--green;
      color: $accent_color--green;
    }
    .lead {
      color: #fff;
    }
    .btn-hutcko {
      border-color: #898EA1;
      color: #fff;
      svg path {
        fill: $accent_color--yellow;
      }
    }
  }
}


/* Easy Wevinar Hero Section */

body.single_project-easy_webinar {  
  section.single_project-hero {

    @media(max-width: $mobile_layout_breckpoint){
      background: $accent_color--yellow !important;
      .hero-image {
        margin-bottom: 48px;
      }
    }
    @media(min-width: $mobile_layout_breckpoint + 1){
      background: $accent_color--yellow url('/images/single/easy_webinar-hero.png') no-repeat !important;
      background-size: 50% auto !important;
      background-position: right bottom !important;
      .lead {
        max-width: 425px;
        margin-left: 0;
        margin-right: auto;
      }
    }
    @media(min-width: 1600px){
      background-size: auto 80% !important;
    }
  }
}


/* GoLiveDoc Hero Section */

body.single_project-golivedoc {  
  section.single_project-hero {
    .lead {
      opacity: 0.7;
    }

    @media(max-width: $mobile_layout_breckpoint){
      background: $background_color--dark;
      .hero-image {
        margin-bottom: 48px;
      }
    }
    @media(min-width: $mobile_layout_breckpoint + 1){
      background: $background_color--dark url('/images/single/golivedoc-hero.png') no-repeat !important;
      background-size: 45% auto !important;
      background-position: right bottom !important;
      .lead {
        max-width: 454px;
        margin-left: 0;
        margin-right: auto;
      }
    }
    @media(min-width: 1600px){
      background-size: auto 80% !important;
    }
  }
}


/* Medic Bank Hero Section */

body.single_project-medic_bank {
  section.single_project-hero {
    .lead {
      opacity: 0.7;
    }
    @media(min-width: $mobile_layout_breckpoint + 1){
      .lead {
        max-width: 545px;
        margin-left: 0;
        margin-right: auto;
      }
    }
    @media(min-width: 1200px){
      .hero-image {
        margin-right: -48px;
        min-width: calc(100% + 48px);

      }
    }
  }
}


/* Snapwire Hero Section */

body.single_project-snapwire {
  section.single_project-hero {
    background: #B3DAC8 !important;
    .lead {
      opacity: 0.7;
    }
    @media(min-width: $mobile_layout_breckpoint + 1){
      .lead {
        max-width: 425px;
        margin-left: 0;
        margin-right: auto;
      }
    }
    @media(min-width: 1200px){
      .hero-image {
        margin: 0 -80px;
        min-width: calc(100% + 160px);
      }
    }
  }
}


/* Voogy Hero Section */

body.single_project-voogy {
  section.single_project-hero {
    background: #B3DAC8 !important;
    .lead {
      opacity: 0.7;
    }
  }
}


/* Search Venue Hero Section */

body.single_project-search_venue {
  section.single_project-hero {
    background: #DDE6E7 !important;
    .lead {
      opacity: 0.7;
    }
  }
}