section.single_project-infinite_carousel {

  @mixin white-gradient {
    background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
  }

  $animationSpeed: 40s;

  $mobileImageWidth: 337px;
  $mobileImageWidthNegative: -337px;
  $mobileImageHeight: 229px;


  $desktopImageWidth: 584px;
  $desktopImageWidthNegative: -584px;
  $desktopImageHeight: 397px;




  // Animation
  @keyframes infinite_carousel_scroll {
    0% { 
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 6));
    }
  }
  @keyframes infinite_carousel_scroll2 {
    0% {
      transform: translateX(calc(-250px * 6));
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes infinite_carousel_scroll_rtl_mobile {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX( $mobileImageWidthNegative * 6 );
    }
  }
  @keyframes infinite_carousel_scroll_ltr_mobile {
    0% {
      transform: translateX( $mobileImageWidthNegative * 6 );
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes infinite_carousel_scroll_rtl_desktop {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX( $desktopImageWidthNegative * 6 );
    }
  }
  @keyframes infinite_carousel_scroll_ltr_desktop {
    0% {
      transform: translateX( $desktopImageWidthNegative * 6 );
    }
    100% {
      transform: translateX(0);
    }
  }




  // Styling
  .slider {
    //background: white;
    //box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
    height: 100px;
    margin: 24px auto;
    overflow: hidden;
    position: relative;
    //width: 960px;
    width: 100%;
    
    img {
      //width: 250px;
      //height: 100px;
      width: 100%;
      height: auto;
    }

    &::before,
    &::after {
      @include white-gradient;
      content: "";
      height: 100px;
      position: absolute;
      width: 200px;
      z-index: 2;
    }
    
    &::after {
      right: 0;
      top: 0;
      transform: rotateZ(180deg);
    }

    &::before {
      left: 0;
      top: 0;
    }
    
    .slide-track {
      animation: infinite_carousel_scroll $animationSpeed linear infinite;
      display: flex;
      width: calc(250px * 12);
    }
    
    .slide {
      height: 100px;
      width: 250px;
      padding: 0 12px;
    }
  }


  @media(max-width: $mobile_layout_breckpoint){
    .slider {
      height: $mobileImageHeight;

      .slide-track {
        animation: infinite_carousel_scroll_rtl_mobile $animationSpeed linear infinite;
        display: flex;
        width: $mobileImageWidth * 12;
      }
      .slide {
        width: $mobileImageWidth;
        height: $mobileImageHeight;
      }

      img {
        //width: $mobileImageWidth;
        //height: $mobileImageHeight;
      }
    }
  }
  @media(min-width: $mobile_layout_breckpoint + 1){
    .slider {
      height: $desktopImageHeight;

      .slide-track {
        animation: infinite_carousel_scroll_rtl_desktop $animationSpeed linear infinite;
        display: flex;
        width: $desktopImageWidth * 12;
      }
      .slide {
        width: $desktopImageWidth;
        height: $desktopImageHeight;
      }

      img {
        //width: $desktopImageWidth;
        //height: $desktopImageHeight;
      }
    }
  }


  &.single_project-infinite_carousel--reversed {
    .slide-track {
      animation: infinite_carousel_scroll2 $animationSpeed linear infinite;
      transform: translateX(calc(-250px * 6));
      @media(max-width: $mobile_layout_breckpoint){
        animation: infinite_carousel_scroll_ltr_mobile $animationSpeed linear infinite;
      }
      @media(min-width: $mobile_layout_breckpoint + 1){
        animation: infinite_carousel_scroll_ltr_desktop $animationSpeed linear infinite;
      }
    }
  }






}
