footer.site-footer
  .container
    .prefooter-copy.prefooter-copy1 Let’s build something together
    .footer-widgets.row
      .col-6.col-md-3.widget.widget-links
        nav.nav.flex-column
          a.nav-link(href='./') Home
          a.nav-link(href='./about.html') About
          a.nav-link(href='./services.html') Services
          a.nav-link(href='./works.html') Works
          z
      .col-6.col-md-3.widget.widget-socials-links
        nav.nav.flex-column
          a.nav-link(href='https://dribbble.com/hutcko/shots' target='_blank')
            svg(width='16' height='16' fill='none' xmlns='http://www.w3.org/2000/svg')
              g(clip-path='url(#clip0)' fill='#343848')
                path(d='M4.8 11.2a4.526 4.526 0 106.4-6.4 4.526 4.526 0 00-6.4 6.4zM4 12a5.657 5.657 0 118-8 5.657 5.657 0 01-8 8z')
                path(d='M6 6a3.388 3.388 0 00.995-2.414c-.82.186-1.58.599-2.195 1.214a4.505 4.505 0 00-1.213 2.194A3.388 3.388 0 006 6zM4 4a5.639 5.639 0 013.948-1.657A4.524 4.524 0 016.8 6.8a4.524 4.524 0 01-4.457 1.148A5.639 5.639 0 014 4zM11.2 11.201a4.504 4.504 0 001.213-2.195 3.388 3.388 0 00-2.413.995 3.388 3.388 0 00-.995 2.413 4.505 4.505 0 002.195-1.213zm-2-2a4.524 4.524 0 014.456-1.148A5.64 5.64 0 0112 12a5.639 5.639 0 01-3.949 1.657A4.524 4.524 0 019.2 9.2z')
                path(d='M3.87 4.6c.477 1.263 1.539 2.705 3.182 4.348 1.643 1.643 3.085 2.704 4.348 3.181l.4-1.058c-1.086-.41-2.409-1.383-3.948-2.923-1.54-1.54-2.513-2.862-2.923-3.948l-1.059.4z')
                path(d='M11.394 3.857l-7.516 7.517.8.8 7.516-7.517-.8-.8z')
              defs
                clippath#clip0
                  path(fill='#fff' d='M0 0h16v16H0z')
            | Dribble
          a.nav-link(href='https://www.behance.net/hutcko' target='_blank')
            svg(width='16' height='16' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M7.348 7.673a1.95 1.95 0 00.614-.45c.248-.295.371-.685.371-1.168 0-.47-.123-.873-.368-1.21-.41-.55-1.103-.83-2.083-.845H2v7.925h3.62a5.66 5.66 0 001.135-.107c.35-.072.652-.204.908-.398.227-.168.417-.377.569-.623a2.29 2.29 0 00.358-1.263c0-.455-.105-.843-.313-1.162-.21-.318-.52-.551-.929-.7zM3.602 5.376H5.35c.385 0 .701.042.95.124.288.12.432.362.432.733 0 .332-.11.565-.327.695-.219.131-.502.197-.85.197H3.602V5.376zm2.765 5.034c-.194.094-.466.14-.814.14H3.602V8.437h1.977c.345.002.613.048.805.133.341.154.51.437.51.85 0 .488-.175.816-.527.99zM13.75 4.37h-3.442v.986h3.443v-.987zM14.946 8.263a2.827 2.827 0 00-.474-1.211 2.392 2.392 0 00-1.026-.867 3.395 3.395 0 00-1.397-.275c-.87 0-1.577.272-2.124.813-.546.542-.819 1.321-.819 2.337 0 1.083.302 1.865.908 2.345.604.482 1.301.721 2.092.721.959 0 1.704-.285 2.236-.854.34-.359.533-.712.575-1.06h-1.586a1.278 1.278 0 01-.32.404c-.221.178-.509.268-.861.268-.336 0-.62-.074-.858-.221-.391-.236-.596-.649-.622-1.236h4.328c.007-.506-.01-.896-.052-1.164zm-4.237.152c.057-.38.195-.683.414-.907.22-.222.53-.334.927-.335.367 0 .673.105.923.315.246.212.385.52.413.927H10.71z' fill='#343848')
            | Behance
          a.nav-link(href='https://www.instagram.com/hutcko/' target='_blank')
            svg(width='16' height='16' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M14 5.535v3.89a4.065 4.065 0 01-4.055 4.056h-3.89A4.066 4.066 0 012 9.426v-3.89A4.065 4.065 0 016.055 1.48h3.89A4.065 4.065 0 0114 5.535zm-1.155 2.523h-1.931a2.971 2.971 0 01-5.828 0h-1.93v1.368a2.91 2.91 0 002.899 2.9h3.89a2.91 2.91 0 002.9-2.9V8.058zm-1.93-1.155h1.93V5.535a2.91 2.91 0 00-2.9-2.9h-3.89a2.91 2.91 0 00-2.9 2.9v1.368h1.93a2.972 2.972 0 015.83 0zm.902-2.452a.791.791 0 11-.792-.791c.408 0 .792.37.792.791zm-2.002 3.03a1.815 1.815 0 10-3.63 0 1.815 1.815 0 003.63 0z' fill='#343848')
            | Instagram
          a.nav-link(href='https://www.linkedin.com/' target='_blank')
            svg(width='16' height='16' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M13.997 13H14V8.599c0-2.153-.464-3.812-2.98-3.812-1.21 0-2.023.664-2.354 1.294H8.63V4.988H6.244V13H8.73V9.033c0-1.045.198-2.055 1.492-2.055 1.274 0 1.293 1.192 1.293 2.122V13h2.483zM2.198 4.988h2.488V13H2.198V4.988zM3.441 1C2.646 1 2 1.645 2 2.441s.646 1.455 1.441 1.455c.796 0 1.441-.66 1.441-1.455S4.236 1 3.441 1z' fill='#343848')
            | LinkedIn
          a.nav-link(href='https://www.facebook.com/hutcko' target='_blank')
            svg(width='16' height='16' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M8.75 6.125v-1.5a.75.75 0 01.75-.75h.75V2h-1.5A2.25 2.25 0 006.5 4.25v1.875H5V8h1.5v6h2.25V8h1.5L11 6.125H8.75z' fill='#343848')
            | Facebook
      .col-6.col-md-3.widget.widget-contacts-address
        nav.nav.flex-column
          a.nav-link(href='https://goo.gl/maps/uC5xCBrRp2gmTpJN7' target='_blank') Ukraine
          a.nav-link(href='https://goo.gl/maps/uC5xCBrRp2gmTpJN7' target='_blank') Zaporizhzhya
          a.nav-link(href='https://goo.gl/maps/uC5xCBrRp2gmTpJN7' target='_blank') Nezalezhnoi Ukrainy St, 69
          a.nav-link(href='https://goo.gl/maps/uC5xCBrRp2gmTpJN7' target='_blank') 69096
      .col-6.col-md-3.widget.widget-contacts-link
        nav.nav.flex-column
          a.nav-link(href='tel:+380933430180') +38 093 34 30 180
          a.nav-link(href='mailto:hutcko@gmail.com') hutcko@gmail.com

    .site-info
      a(href="#") Privacy Policy
      p Copyright © 2020 Hutcko. All rights reserved.


//- button.btn.btn-primary(type="button" data-toggle="modal" data-target="#contactsModal")
//-   | Launch demo modal

#contactsModal.modal.fade(tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true")
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        .modal-logo
          //img(src="./images/logo-white-yellow.svg")
          svg(viewbox="0 0 92 56" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M62.133 6.429l1.041-.1c.28-.02.44.1.38.4-.28 1.582-1.1 2.823-3.022 3.023-1.782.18-2.943-.86-2.983-2.402-.02-.58.06-1.622.18-2.222.36-1.562 1.001-2.823 3.023-3.023 1.782-.18 3.063.88 3.003 2.402-.02.3-.18.46-.48.48l-1.002.1c-.28.02-.42-.1-.4-.4.02-.52-.3-.82-1.04-.74-.722.08-1.062.4-1.202.96-.16.601-.24 1.622-.22 2.223.02.5.3.82 1.02.74.741-.08 1.102-.48 1.222-.98.06-.28.2-.441.48-.461zM66.137 9.191l-1.321.12c-.14.02-.26-.1-.24-.24l.72-6.967c.02-.16.18-.3.34-.32l.761-.08c.12-.02.22.06.24.16.06.24.08.6.32.58.441-.04.521-.86 2.163-1.02l.5-.06c.16-.02.28.1.24.26l-.12 1.18c-.02.161-.16.301-.32.321l-.5.06c-1.322.14-1.942.781-2.082 1.982l-.4 3.764c-.04.12-.16.24-.301.26zM72.123 5.849c-.06.48.3.84.981.76.68-.08 1.121-.46 1.181-.92l.5-4.585c.02-.16.161-.3.321-.32l1.301-.14c.16-.02.28.1.26.26l-.72 6.786c-.02.16-.16.3-.32.32l-.721.08c-.18.02-.26-.08-.32-.16s-.14-.14-.3-.14c-.421.04-.721.581-1.582.681-1.522.16-2.623-.92-2.442-2.462l.48-4.504c.02-.16.16-.3.32-.32l1.302-.14c.16-.02.28.1.26.26l-.5 4.544zM83.353 4.767c.14-.02.26.06.22.26-.36 1.402-1.28 2.463-2.882 2.643-1.942.2-2.943-.881-2.983-2.402-.02-.581.1-1.622.22-2.223.36-1.561 1.321-2.862 3.003-3.022 1.742-.18 3.123.72 2.923 2.582l-.14 1.221c-.02.16-.16.3-.32.32l-3.704.38c-.12.02-.22.121-.24.241-.1.82.44 1.201 1.14 1.121.561-.06.981-.24 1.202-.74l1.561-.38zM79.69 2.785c-.02.08.04.12.12.12l2.202-.22c.08 0 .14-.06.16-.14.1-.62-.28-.88-1.141-.8-.8.08-1.241.5-1.341 1.04z" fill="#ACDCD0")
            path(d="M91.42 32.454c.481-.12.781.44.421.74L73.904 47.429c-.08.06-.12.14-.14.24l-1.402 5.726c-.08.32-.48.44-.74.22l-4.485-3.723a.431.431 0 00-.34-.1L1.855 55.876c-.32.04-.4-.44-.08-.52l89.646-22.902zM66.177 22.704c.26 2.062 2.122-2.702 2.522-3.663.04-.12.14-.2.26-.22l6.406-1.622c.36-.08.641.28.44.58-1.16 1.742-3.743 5.686-4.023 6.867-.02.1 0 .2.04.28.94 1.542 3.503 6.106 4.304 7.528.12.22 0 .48-.24.56l-6.126 1.622a.398.398 0 01-.5-.44c.12-.661.28-1.722.3-2.863.02-.821-.58-2.683-2.002-2.683-.6 0-1.401.2-1.401 1.401-.02 2.543 0 4.084 0 5.205 0 .18-.12.32-.3.36l-5.005 1.322c-.26.06-.5-.12-.5-.36V17.219c0-.18.12-.32.3-.36l4.904-1.302c.26-.06.5.12.5.36l.12 6.787zM19.352 22.043V7.25c0-.2.1-.38.24-.48l7.607-5.526c.4-.28.961 0 .961.48v42.922c0 .32-.22.6-.52.68l-7.788 2.042c-.26.06-.5-.12-.5-.38V31.472c0-.26-.24-.44-.5-.38l-5.266 1.261c-.04 0-.06.02-.1.04-.76.4-1.081.981-1.161 1.982v11.611c0 .26-.02.58.18.74l1.702 1.542c.22.2.12.56-.18.62L1.835 52.033c-.42.1-.7-.38-.36-.64.86-.681 1.781-1.522 1.821-2.043.2-2.062.2-23.262 0-24.763-.16-1.141-2.142-2.483-3.103-3.083a.403.403 0 01-.04-.661l11.471-8.708c.26-.2.66-.02.66.3l.02 11.21c0 .261.241.461.501.381l6.206-1.601c.2-.04.34-.2.34-.38z" fill="#fff")
            path(d="M54.584 17.759c3.944-1.081 26.205-6.807 36.275-9.349.44-.12.32-.76-.12-.72l-36.355 3.823c-.22.02-.4-.14-.4-.36l-.08-2.102c0-.26-.24-.44-.5-.38l-4.205 1c-.14.04-.26.14-.3.28-.52 1.742.5 3.123-13.053 6.447-1.3.32-4.163 1.06-5.485 1.32a.41.41 0 00-.32.401l-.02 5.225c0 .32.24.5.58.42l16.576-4.203c.34-.08.661.14.661.48v11.811s-.12 2.403.18 4.525c.22 1.641 1.481 2.602 3.563 2.602.26 0 3.003-.22 5.205-2.022.44-.36 1.001-.8 1.142-1.181.12-.34.06-.62-.3-.64-1.222-.04-3.164.9-3.444-.18-.46-1.843-.16-11.932-.16-14.995 0-.8-.2-2.002.56-2.202z" fill="#fff")
            path(d="M44.795 24.986c.36-.1.66.14.66.54l-.08 9.129c-.02 1.481-.34 2.803-.98 3.944a7.934 7.934 0 01-2.623 2.782c-1.121.7-2.382 1.141-3.803 1.341-1.422.18-2.703.1-3.804-.28-1.101-.36-1.962-.98-2.603-1.842-.62-.86-.94-1.941-.92-3.263l.08-8.268c0-.32.26-.62.58-.68l3.964-.961c.36-.08.66.14.66.5l-.04 7.127c0 1.041.16 1.762.481 2.202.32.42.88.58 1.642.44.76-.14 1.32-.48 1.661-1.02.34-.56.5-1.362.52-2.443l.1-7.467c0-.34.26-.66.581-.74l3.924-1.041zM84.173 14.457c.921-.1 1.822 0 2.683.28.86.3 1.641.76 2.342 1.381.7.621 1.241 1.402 1.642 2.323.4.92.6 1.962.6 3.123 0 1.16-.2 2.262-.6 3.283-.4 1.02-.941 1.941-1.622 2.762-.68.801-1.441 1.482-2.282 2.002-.841.52-1.722.841-2.623.981-.9.14-1.781.06-2.622-.22a6.237 6.237 0 01-2.322-1.361c-.701-.62-1.242-1.422-1.662-2.363-.42-.94-.64-2.021-.66-3.203-.02-1.2.16-2.322.54-3.363a9.11 9.11 0 011.602-2.783c.68-.8 1.44-1.46 2.302-1.961.88-.48 1.761-.781 2.682-.881zm.06 4.924c-.3.04-.66.16-1.04.36-.381.201-.721.561-.982 1.042-.26.48-.4 1.16-.38 2.042.02.86.16 1.501.44 1.922.28.42.621.68 1.001.8.38.1.741.14 1.041.1.32-.04.681-.18 1.041-.38.38-.2.701-.56.961-1.06.28-.501.4-1.162.4-2.023 0-.88-.14-1.521-.42-1.922-.28-.42-.6-.68-.98-.78-.401-.1-.761-.14-1.082-.1z" fill="#fff")
        a.btn-close(data-dismiss="modal" aria-label="Close" href="#")
          svg(width="22" height="27" viewBox="0 0 22 27" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M8.0404 12.9007C2.58344 8.50853 -1.94184 3.71706 3.24892 0.389648C2.58344 3.58396 6.97562 8.10924 10.303 10.9043C16.8248 5.58041 18.1557 2.253 21.8824 6.24589C18.2888 7.04447 16.0262 10.6381 12.8319 13.0338C16.9579 16.2281 22.8141 24.0808 18.8212 26.7427C18.6881 26.8758 18.555 24.7463 18.2888 24.8794C16.9579 21.9513 13.7635 18.2246 10.4361 15.2965C6.84253 18.4908 2.98273 22.2175 3.9144 26.0773C1.65176 24.8794 1.91796 23.1491 1.91796 21.2858C1.91796 18.757 4.84608 15.9619 7.9073 13.1669L8.0404 12.9007Z" fill="#343848")
      .modal-body
        h5#exampleModalLabel.modal-title.headline Have a new project?
        p.lead Ready to move forward? Fill out the form or drop us a message to 
          a(href='mailto:hutko@gmail.com') hutko@gmail.com
        include ../temp/contactform.pug


//script(src="./js/jquery-3.5.1.min.js")
//script(src="https://cdn.jsdelivr.net/npm/jquery-mousewheel@3.1.13/jquery.mousewheel.min.js")

//- script(src='./js/popper.min.js')
//- script(src='./js/bootstrap/bootstrap.min.js')
//- script(src='./js/main.js')
//- script(src='./js/animations.js')
