#preloader.preloader
  .loading
    .bounceball
    .text NOW LOADING


header.js-site-header
  nav.navbar.navbar-expand-md(class= (siteHeaderClasses != undefined) ? siteHeaderClasses : 'navbar-light bg-light')
    .container
      a.navbar-brand(href='./')
        img(src= (logo != undefined) ? logo : './images/logo.svg' width='auto' height='40' alt='' loading='lazy')
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
        svg.navbar-toggler-icon.navbar-toggler-icon-humb(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
          path(d="M2.3999 3.83984V6.71985H21.5999V3.83984H2.3999ZM2.3999 10.5598V13.4399H21.5999V10.5598H2.3999ZM2.3999 17.2799V20.1599H21.5999V17.2799H2.3999Z" fill="white")
        svg.navbar-toggler-icon.navbar-toggler-icon-close(width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg")
          path(d="M20.415 5.77051L14.0002 12.1825L7.5854 5.77051L5.771 7.58491L12.183 13.9997L5.771 20.4145L7.5854 22.2289L14.0002 15.8169L20.415 22.2289L22.2294 20.4145L15.8174 13.9997L22.2294 7.58491L20.415 5.77051Z" fill="white")


      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.mx-auto.mb-2.mb-lg-0
          li.nav-item
            a.nav-link(href='./index.html' class= slug == "home" ? "active" : "" ) Home
          li.nav-item
            a.nav-link(href='./about.html' class= slug == "about" ? "active" : "" ) About
          li.nav-item
            a.nav-link(href='./services.html' class= slug == "services" ? "active" : "" ) Services
          li.nav-item
            a.nav-link(href='./works.html' class= slug == "works" ? "active" : "" ) Works
        form
          a.btn.btn-primary(href='#' data-toggle="modal" data-target="#contactsModal") RECEIVE FREE AUDIT
          nav.socials.nav.justify-content-center.d-flex.d-md-none
            a.nav-link(href='#')
              svg( viewbox="0 0 16 16" width='35' height='35' fill='none' xmlns='http://www.w3.org/2000/svg')
                g(clip-path='url(#clip0)' fill='#898EA1')
                  path(d='M4.8 11.2a4.526 4.526 0 106.4-6.4 4.526 4.526 0 00-6.4 6.4zM4 12a5.657 5.657 0 118-8 5.657 5.657 0 01-8 8z')
                  path(d='M6 6a3.388 3.388 0 00.995-2.414c-.82.186-1.58.599-2.195 1.214a4.505 4.505 0 00-1.213 2.194A3.388 3.388 0 006 6zM4 4a5.639 5.639 0 013.948-1.657A4.524 4.524 0 016.8 6.8a4.524 4.524 0 01-4.457 1.148A5.639 5.639 0 014 4zM11.2 11.201a4.504 4.504 0 001.213-2.195 3.388 3.388 0 00-2.413.995 3.388 3.388 0 00-.995 2.413 4.505 4.505 0 002.195-1.213zm-2-2a4.524 4.524 0 014.456-1.148A5.64 5.64 0 0112 12a5.639 5.639 0 01-3.949 1.657A4.524 4.524 0 019.2 9.2z')
                  path(d='M3.87 4.6c.477 1.263 1.539 2.705 3.182 4.348 1.643 1.643 3.085 2.704 4.348 3.181l.4-1.058c-1.086-.41-2.409-1.383-3.948-2.923-1.54-1.54-2.513-2.862-2.923-3.948l-1.059.4z')
                  path(d='M11.394 3.857l-7.516 7.517.8.8 7.516-7.517-.8-.8z')
                defs
                  clippath#clip0
                    path(fill='#fff' d='M0 0h16v16H0z')
            a.nav-link(href='#')
              svg( viewbox="0 0 16 16" width='35' height='35' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M7.348 7.673a1.95 1.95 0 00.614-.45c.248-.295.371-.685.371-1.168 0-.47-.123-.873-.368-1.21-.41-.55-1.103-.83-2.083-.845H2v7.925h3.62a5.66 5.66 0 001.135-.107c.35-.072.652-.204.908-.398.227-.168.417-.377.569-.623a2.29 2.29 0 00.358-1.263c0-.455-.105-.843-.313-1.162-.21-.318-.52-.551-.929-.7zM3.602 5.376H5.35c.385 0 .701.042.95.124.288.12.432.362.432.733 0 .332-.11.565-.327.695-.219.131-.502.197-.85.197H3.602V5.376zm2.765 5.034c-.194.094-.466.14-.814.14H3.602V8.437h1.977c.345.002.613.048.805.133.341.154.51.437.51.85 0 .488-.175.816-.527.99zM13.75 4.37h-3.442v.986h3.443v-.987zM14.946 8.263a2.827 2.827 0 00-.474-1.211 2.392 2.392 0 00-1.026-.867 3.395 3.395 0 00-1.397-.275c-.87 0-1.577.272-2.124.813-.546.542-.819 1.321-.819 2.337 0 1.083.302 1.865.908 2.345.604.482 1.301.721 2.092.721.959 0 1.704-.285 2.236-.854.34-.359.533-.712.575-1.06h-1.586a1.278 1.278 0 01-.32.404c-.221.178-.509.268-.861.268-.336 0-.62-.074-.858-.221-.391-.236-.596-.649-.622-1.236h4.328c.007-.506-.01-.896-.052-1.164zm-4.237.152c.057-.38.195-.683.414-.907.22-.222.53-.334.927-.335.367 0 .673.105.923.315.246.212.385.52.413.927H10.71z' fill='#898EA1')
            a.nav-link(href='#')
              svg( viewbox="0 0 16 16" width='35' height='35' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M13.997 13H14V8.599c0-2.153-.464-3.812-2.98-3.812-1.21 0-2.023.664-2.354 1.294H8.63V4.988H6.244V13H8.73V9.033c0-1.045.198-2.055 1.492-2.055 1.274 0 1.293 1.192 1.293 2.122V13h2.483zM2.198 4.988h2.488V13H2.198V4.988zM3.441 1C2.646 1 2 1.645 2 2.441s.646 1.455 1.441 1.455c.796 0 1.441-.66 1.441-1.455S4.236 1 3.441 1z' fill='#898EA1')
            a.nav-link(href='#')
              svg( viewbox="0 0 16 16" width='35' height='35' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M14 5.535v3.89a4.065 4.065 0 01-4.055 4.056h-3.89A4.066 4.066 0 012 9.426v-3.89A4.065 4.065 0 016.055 1.48h3.89A4.065 4.065 0 0114 5.535zm-1.155 2.523h-1.931a2.971 2.971 0 01-5.828 0h-1.93v1.368a2.91 2.91 0 002.899 2.9h3.89a2.91 2.91 0 002.9-2.9V8.058zm-1.93-1.155h1.93V5.535a2.91 2.91 0 00-2.9-2.9h-3.89a2.91 2.91 0 00-2.9 2.9v1.368h1.93a2.972 2.972 0 015.83 0zm.902-2.452a.791.791 0 11-.792-.791c.408 0 .792.37.792.791zm-2.002 3.03a1.815 1.815 0 10-3.63 0 1.815 1.815 0 003.63 0z' fill='#898EA1')