html(lanng="en")
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png')
    link(rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png')
    link(rel='manifest' href='/site.webmanifest')
    link(rel='mask-icon' href='/safari-pinned-tab.svg' color='#343848')
    meta(name='msapplication-TileColor' content='#343848')
    meta(name='theme-color' content='#343848')
    link(rel='stylesheet' href='./css/styles.css')

    block variables

    block styles

    title Hutcko | #{title}

  body(class= bodyClass id= bodyId)

    //- if (title == "Home")
    //-   include ./header-home.pug
    //- else
    include ./header.pug

    block content

    include ./footer.pug

    block beforeScripts

    script(src='./js/popper.min.js')
    script(src='./js/bootstrap/bootstrap.min.js')
    script(src='./js/main.js')
    script(src='./js/animations.js')

    block afterScripts