section.cta
  .cta-links
    a.btn-hutcko(href="/works.html")
      span Projects
      svg(width="32" height="32" fill="none" xmlns="http://www.w3.org/2000/svg")
        path(d="M24.315 16l-.54-.62-5.76-6.72-1.45 1.24 4.41 5.14H7.685v1.92h13.29l-4.41 5.14 1.45 1.24 5.76-6.72.54-.62z" fill="#C9E9E1")
    a.btn-hutcko(href="#" data-toggle="modal" data-target="#contactsModal")
      span Get in Touch
      svg(width="32" height="32" fill="none" xmlns="http://www.w3.org/2000/svg")
        path(d="M24.315 16l-.54-.62-5.76-6.72-1.45 1.24 4.41 5.14H7.685v1.92h13.29l-4.41 5.14 1.45 1.24 5.76-6.72.54-.62z" fill="#FFDCDC")