extends layout/layout.pug

block variables
  - var slug = "about";
  - var title = "About";
  - var bodyClass= "about_us";
  - var bodyId= "aboutPage";

block content

  include temp/about_us-hero.pug
  include temp/about_us-clients.pug
  include temp/about_us-services.pug
  include temp/about_us-stats.pug
  include temp/about_us-copies.pug
  section
    .container
      hr
  include temp/team2.pug
  include temp/about_us-mission.pug

  include layout/prefooter.pug