extends layout/layout.pug

block beforeScripts
  script(src="./js/jquery-1.11.0.min.js")
  script(src="./js/slick.min.js")
    
block variables
  - var slug = "works";
  - var title = "Annuities Compare";
  - var bodyClass = "single_project single_project-annuities_compare";
  - var bodyId = "singleProject";
  - var logo = './images/logo-white-pink.svg';
  - var siteHeaderClasses = 'navbar-dark bg-dark';

block content

  section.hero-banner.single_project-hero.bg-dark
    .container
      .row.align-items-center
        .col-12.col-md-6.order-2.order-md-1
          p.category
            a(href="/works.html") Web Application Design
          h1.headline Annuities Compare
          p.lead Annuities Genius is your productivity dashboard, with automations at your fingertips to make the information come alive — with fewer clicks.
          p: a.btn.btn-hutcko(href= link)
            span VIEW LIVE VERSION
            svg(width="32" height="32" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M24.315 16l-.54-.62-5.76-6.72-1.45 1.24 4.41 5.14H7.685v1.92h13.29l-4.41 5.14 1.45 1.24 5.76-6.72.54-.62z" fill="#C9E9E1")
        .col-12.col-md-6.order-1.order-md-2
          img.hero-image.img-fluid.d-md-none(src="./images/single/annuities_compare-hero--mobile.png")
          img.hero-image.img-fluid.d-none.d-md-block(src="./images/single/annuities_compare-hero.png")

  section.single_project-lead2
    .container
      .row.single_project-lead-main_row
        .col-12.col-md-4
          h5 Our contributions
          ul.list-unstyled
            li Product Strategy
            li UX/UI Design
            li Branding
        .col-12.col-md-4
          h5 Team composition
          ul.list-unstyled
            li Design Director
            li Product Manager
            li Graphic Designer
        .col-12.col-md-4
          h5 Duration
          p 3 months


  section.single_project-content2.medic_bank-manage
    .container
      .row.align-items-center
        .col-12.col-md-5
          h2.headline.max-width-480px Upgrade Your Dashboard
          p.lead.max-width-480px Annuities Genius is your productivity dashboard, with automations at your fingertips to make the information come alive — with fewer clicks.
        .col-12.col-md-7
          img.img-fluid(src="./images/single/annuities_compare-content01.png")

  section.single_project-content2.bg-gray.pt-64px.pb-94px
    .container
      .row.align-items-center
        .col-12.col-md-6
          img.img-fluid(src="./images/single/annuities_compare-content02.png")
        .col-12.col-md-6
          h2.headline.max-width-480px.mx-0.ml-auto Build your best business
          p.lead.max-width-480px.ml-auto Annuities Genius is your partner in tech. Whether you’re an agent, FMO/IMO/BGA, or an insurance carrier, be more successful with quicker, better information

  section.single_project-content2
    .container
      .row.align-items-center
        .col-12.col-md-6
          h2.headline.max-width-480px.mx-0 Value-Added Industry Tools
          p.lead.max-width-480px Fill your shifts with our ROTA system. Keep track of what shifts need to be filled and find the most suitable employees for the tasks at hand with little to no effort.
        .col-12.col-md-6
          img.img-fluid(src="./images/single/annuities_compare-content03.png")



  section.single_project-infinite_carousel
    .slider
      .slide-track
        .slide
          img(src="./images/single/annuities_compare-slider1-01.png" height="100" width="250" alt="")
        .slide
          img(src="./images/single/annuities_compare-slider1-02.png" height="100" width="250" alt="")
        .slide
          img(src="./images/single/annuities_compare-slider1-03.png" height="100" width="250" alt="")
        .slide
          img(src="./images/single/annuities_compare-slider1-01.png" height="100" width="250" alt="")
        .slide
          img(src="./images/single/annuities_compare-slider1-02.png" height="100" width="250" alt="")
        .slide
          img(src="./images/single/annuities_compare-slider1-03.png" height="100" width="250" alt="")
        .slide
          img(src="./images/single/annuities_compare-slider1-01.png" height="100" width="250" alt="")
        .slide
          img(src="./images/single/annuities_compare-slider1-02.png" height="100" width="250" alt="")
        .slide
          img(src="./images/single/annuities_compare-slider1-03.png" height="100" width="250" alt="")
        .slide
          img(src="./images/single/annuities_compare-slider1-01.png" height="100" width="250" alt="")
        .slide
          img(src="./images/single/annuities_compare-slider1-02.png" height="100" width="250" alt="")
        .slide
          img(src="./images/single/annuities_compare-slider1-03.png" height="100" width="250" alt="")


  section.single_project-infinite_carousel.single_project-infinite_carousel--reversed
    .slider
      .slide-track
        .slide
          img(src="./images/single/annuities_compare-slider2-01.png" height="100" width="250" alt="")
        .slide
          img(src="./images/single/annuities_compare-slider2-02.png" height="100" width="250" alt="")
        .slide
          img(src="./images/single/annuities_compare-slider2-03.png" height="100" width="250" alt="")
        .slide
          img(src="./images/single/annuities_compare-slider2-01.png" height="100" width="250" alt="")
        .slide
          img(src="./images/single/annuities_compare-slider2-02.png" height="100" width="250" alt="")
        .slide
          img(src="./images/single/annuities_compare-slider2-03.png" height="100" width="250" alt="")
        .slide
          img(src="./images/single/annuities_compare-slider2-01.png" height="100" width="250" alt="")
        .slide
          img(src="./images/single/annuities_compare-slider2-02.png" height="100" width="250" alt="")
        .slide
          img(src="./images/single/annuities_compare-slider2-03.png" height="100" width="250" alt="")
        .slide
          img(src="./images/single/annuities_compare-slider2-01.png" height="100" width="250" alt="")
        .slide
          img(src="./images/single/annuities_compare-slider2-02.png" height="100" width="250" alt="")
        .slide
          img(src="./images/single/annuities_compare-slider2-03.png" height="100" width="250" alt="")

  section.bg-gray
    .container.text-center
      h2.headline Customizable online-presentation
      p.lead Our online presentation will help you position yourself with every prospect to give you the best possibility of closing more sales.
      img.img-fluid.d-none.d-md-block(src="./images/single/annuities_compare-content04.png")
      img.img-fluid.d-md-none(src="./images/single/annuities_compare-content04--mobile.png")

  section.single_project-carousel
    h2.headline.text-center Advertising on Facebook
    #projectCarousel.slick-carousel
      .slick-carousel-item
        .slick-carousel-item-image-wrap
          img.img-fluid(src="./images/single/annuities_compare-carousel01.png")
      .slick-carousel-item
        .slick-carousel-item-image-wrap
          img.img-fluid(src="./images/single/annuities_compare-carousel02.png")
      .slick-carousel-item
        .slick-carousel-item-image-wrap
          img.img-fluid(src="./images/single/annuities_compare-carousel03.png")
      .slick-carousel-item
        .slick-carousel-item-image-wrap
          img.img-fluid(src="./images/single/annuities_compare-carousel04.png")
      .slick-carousel-item
        .slick-carousel-item-image-wrap
          img.img-fluid(src="./images/single/annuities_compare-carousel05.png")

  section.single_project-mission
    .container
      h2
        svg(width="20" height="15" viewbox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg")
          path(d="M19.3361 1.91243L17.9921 0.544434L7.12006 11.4164L2.00806 6.30443L0.664062 7.67243L7.12006 14.1284L19.3361 1.91243Z" fill="#56CBAE")
        span Mission
      p.lead
        | By understanding and believing in your idea we strive to add meaning. The business drives design and we like it. By understanding and believing in your idea we strive to add meaning. The business drives design and we like it.
        
  include single/related.pug

  include layout/prefooter.pug