extends layout/layout.pug

block variables
  - var slug = "home";
  - var title = "Home";
  - var bodyClass= "home";
  - var bodyId= "homePage";
  - var logo = './images/logo-white-yellow.svg';
  - var siteHeaderClasses = 'navbar-dark bg-dark';

block content

  //- include layout/header-home.pug

  include temp/home-hero.pug

  include temp/home-projects.pug
  
  include temp/home-process.pug

  include temp/home-whyus.pug

  include temp/home-clients.pug
  
  section.cta
    .cta-links
      a.btn-hutcko(href='/works.html')
        span Projects
        svg(width='32' height='32' fill='none' xmlns='http://www.w3.org/2000/svg')
          path(d='M24.315 16l-.54-.62-5.76-6.72-1.45 1.24 4.41 5.14H7.685v1.92h13.29l-4.41 5.14 1.45 1.24 5.76-6.72.54-.62z' fill='#C9E9E1')
      a.btn-hutcko(href='#' data-toggle="modal" data-target="#contactsModal")
        span Get in Touch
        svg(width='32' height='32' fill='none' xmlns='http://www.w3.org/2000/svg')
          path(d='M24.315 16l-.54-.62-5.76-6.72-1.45 1.24 4.41 5.14H7.685v1.92h13.29l-4.41 5.14 1.45 1.24 5.76-6.72.54-.62z' fill='#FFDCDC')
    .cta-copy-wrap
      .container
        p.cta-copy.d-block.d-sm-none
          span.animWrap
            span.animItem The work is as
          br
          span.animWrap
            span.animItem important as the
          br
          span.animWrap
            span.animItem pleasure we get
          br
          span.animWrap
            span.animItem from doing it.
          br
          span.animWrap
            span.animItem Such an authentic
          br
          span.animWrap
            span.animItem corporate culture
          br
          span.animWrap
            span.animItem isn’t imposed, and
          br
          span.animWrap
            span.animItem can’t just be invented.
        p.cta-copy.d-none.d-sm-block
          | The work is as important as the pleasure we get from doing it. Such an authentic corporate culture isn’t imposed, and can’t just be invented.
  
  include temp/team.pug
  
  include temp/contacts.pug