extends layout/layout.pug

block beforeScripts
  script(src="./js/jquery-1.11.0.min.js")
  script(src="./js/slick.min.js")
    
block variables
  - var slug = "works";
  - var title = "Medic Bank";
  - var bodyClass= "single_project single_project-medic_bank";
  - var bodyId= "singleProject";
  - var logo = './images/logo-white-yellow.svg';
  - var siteHeaderClasses = 'navbar-dark bg-dark';

block content

  section.hero-banner.single_project-hero.bg-dark
    .container
      .row.align-items-center
        .col-12.col-md-6.order-2.order-md-1
          p.category
            a(href="/works.html") Web Application Design
          h1.headline Medic Bank
          p.lead Better healthcare is our primary goal. This is why we designed our tool to help and simplify the inner workings of hospitals and care institutions across the globe with key benefits.
          p: a.btn.btn-hutcko(href= link)
            span VIEW LIVE VERSION
            svg(width="32" height="32" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M24.315 16l-.54-.62-5.76-6.72-1.45 1.24 4.41 5.14H7.685v1.92h13.29l-4.41 5.14 1.45 1.24 5.76-6.72.54-.62z" fill="#C9E9E1")
        .col-12.col-md-6.order-1.order-md-2
          img.hero-image.img-fluid(src="./images/single/medic_bank-hero.png")


  section.single_project-lead2
    .container
      .row.single_project-lead-main_row
        .col-12.col-md-4
          h5 Our contributions
          ul.list-unstyled
            li Product Strategy
            li UX/UI Design
            li Branding
        .col-12.col-md-4
          h5 Team composition
          ul.list-unstyled
            li Design Director
            li Product Manager
            li Graphic Designer
        .col-12.col-md-4
          h5 Duration
          p 3 months

  section.single_project-content2.medic_bank-manage
    .container
      .row.align-items-center
        .col-12.col-md-5
          h2.headline Manage your staff effectively
          p.lead Fill your shifts with our ROTA system. Keep track of what shifts need to be filled and find the most suitable employees for the tasks at hand with little to no effort.
        .col-12.col-md-7
          img.img-fluid.d-none.d-md-block(src="./images/single/medic_bank-content1.png")
          img.img-fluid.d-md-none(src="./images/single/medic_bank-content1--mobile.png")

  section.single_project-content2.bg-gray.pt-64px.pb-94px.medic_bank-feature
    .container
      .row.align-items-center
        .col-12.col-md-6
          img.img-fluid.d-none.d-md-block(src="./images/single/medic_bank-content2.png")
          img.img-fluid.d-md-none(src="./images/single/medic_bank-content2--mobile.png")
        .col-12.col-md-6
          h2.headline Feature packed
          p.lead Our high performance ROTA System has many useful features for your workforce to ensure smooth day to day operations.  Some of these easy-to-use tools are:
          .row
            .col-6
              ul.list-checked_icon
                li Staff Sharing
                li Performance Overview
                li Ward Manager assignment
            .col-6
              ul.list-checked_icon
                li Easy Shift Posting
                li Staff Requests Management

  section.single_project-content2.medic_bank-account
    .container
      .row.align-items-center
        .col-12.col-md-6
          h2.headline Manager Account
          p.lead By understanding and believing in your idea we strive to add meaning. The business drives design and we like it. By understanding and believing in your idea we strive to add meaning. The business drives design and we like it.
        .col-12.col-md-6
          img.img-fluid.d-none.d-md-block(src="./images/single/medic_bank-content3.png")
          img.img-fluid.d-md-none(src="./images/single/medic_bank-content3--mobile.png")

  section.single_project-infinite_carousel
    .slider
      .slide-track
        .slide
          img(src="./images/single/medic_bank-carousel1-1.png" alt="")
        .slide
          img(src="./images/single/medic_bank-carousel1-2.png" alt="")
        .slide
          img(src="./images/single/medic_bank-carousel1-3.png" alt="")
        .slide
          img(src="./images/single/medic_bank-carousel1-1.png" alt="")
        .slide
          img(src="./images/single/medic_bank-carousel1-2.png" alt="")
        .slide
          img(src="./images/single/medic_bank-carousel1-3.png" alt="")
        .slide
          img(src="./images/single/medic_bank-carousel1-1.png" alt="")
        .slide
          img(src="./images/single/medic_bank-carousel1-2.png" alt="")
        .slide
          img(src="./images/single/medic_bank-carousel1-3.png" alt="")
        .slide
          img(src="./images/single/medic_bank-carousel1-1.png" alt="")
        .slide
          img(src="./images/single/medic_bank-carousel1-2.png" alt="")
        .slide
          img(src="./images/single/medic_bank-carousel1-3.png" alt="")


  section.single_project-infinite_carousel.single_project-infinite_carousel--reversed
    .slider
      .slide-track
        .slide
          img(src="./images/single/medic_bank-carousel1-1.png" alt="")
        .slide
          img(src="./images/single/medic_bank-carousel1-2.png" alt="")
        .slide
          img(src="./images/single/medic_bank-carousel1-3.png" alt="")
        .slide
          img(src="./images/single/medic_bank-carousel1-1.png" alt="")
        .slide
          img(src="./images/single/medic_bank-carousel1-2.png" alt="")
        .slide
          img(src="./images/single/medic_bank-carousel1-3.png" alt="")
        .slide
          img(src="./images/single/medic_bank-carousel1-1.png" alt="")
        .slide
          img(src="./images/single/medic_bank-carousel1-2.png" alt="")
        .slide
          img(src="./images/single/medic_bank-carousel1-3.png" alt="")
        .slide
          img(src="./images/single/medic_bank-carousel1-1.png" alt="")
        .slide
          img(src="./images/single/medic_bank-carousel1-2.png" alt="")
        .slide
          img(src="./images/single/medic_bank-carousel1-3.png" alt="")


  section.single_project-mission
    .container
      h2
        svg(width="20" height="15" viewbox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg")
          path(d="M19.3361 1.91243L17.9921 0.544434L7.12006 11.4164L2.00806 6.30443L0.664062 7.67243L7.12006 14.1284L19.3361 1.91243Z" fill="#56CBAE")
        span Mission
      p.lead
        | By understanding and believing in your idea we strive to add meaning. The business drives design and we like it. By understanding and believing in your idea we strive to add meaning. The business drives design and we like it.


  include single/related.pug

  include layout/prefooter.pug