extends layout/layout.pug
    
block variables
  - var slug = "works";
  - var title = "Search Venue";
  - var bodyClass= "single_project single_project-search_venue";
  - var bodyId= "singleProject";
  - var logo = './images/logo-dark-white.svg';

block content

  section.hero-banner.single_project-hero
    .container
      .row.align-items-center
        .col-12.col-md-6.order-2.order-md-1
          p.category
            a(href="/works.html") Mobile App Design
          h1.headline Search Venue
          p.lead Test how the user searches, saves, and rates venues.
          p: a.btn.btn-hutcko(href= link)
            span VIEW LIVE VERSION
            svg(width="32" height="32" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M24.315 16l-.54-.62-5.76-6.72-1.45 1.24 4.41 5.14H7.685v1.92h13.29l-4.41 5.14 1.45 1.24 5.76-6.72.54-.62z" fill="#C9E9E1")
        .col-12.col-md-6.order-1.order-md-2
          img.hero-image.img-fluid(src="./images/single/search_venue-hero.png")

  section.single_project-lead2
    .container
      .row.single_project-lead-main_row
        .col-12.col-md-4
          h5 Our contributions
          ul.list-unstyled
            li Product Strategy
            li UX/UI Design
            li Branding
        .col-12.col-md-4
          h5 Team composition
          ul.list-unstyled
            li Design Director
            li Product Manager
            li Graphic Designer
        .col-12.col-md-4
          h5 Duration
          p 3 months
