extends layout/layout.pug

block beforeScripts
  script(src="./js/jquery-3.5.1.min.js")

block variables
  - var slug = "services";
  - var title = "Services";
  - var bodyClass= "page-services";
  - var bodyId= "servicesPage";

block content
  //body.page-services#servicesPage

  //include layout/header.pug

  include temp/services-hero.pug
  include temp/services-services.pug
  include temp/services-process.pug
  include layout/prefooter.pug
  //include layout/footer.pug

  