extends layout/layout.pug

block beforeScripts
  script(src="./js/jquery-1.11.0.min.js")
  script(src="./js/slick.min.js")
    
block variables
  - var slug = "works";
  - var title = "Project";
  - var bodyClass= "single_project";
  - var bodyId= "singleProject";

block content

  include single/hero.pug
  include single/lead.pug

  section.single_project-content
    .container
      img.img-fluid(src="./images/single-project-lead.png")
      p.lead
        | By understanding and believing in your idea we strive to add meaning. The business drives design and we like it. By understanding and believing in your idea we strive to add meaning. The business drives design and we like it.
  section.single_project-carousel
    #projectCarousel.slick-carousel
      .slick-carousel-item
        .slick-carousel-item-image-wrap
          img.img-fluid(src="./images/single-project1.png")
      .slick-carousel-item
        .slick-carousel-item-image-wrap
          img.img-fluid(src="./images/single-project2.png")
      .slick-carousel-item
        .slick-carousel-item-image-wrap
          img.img-fluid(src="./images/single-project3.png")
      .slick-carousel-item
        .slick-carousel-item-image-wrap
          img.img-fluid(src="./images/single-project4.png")
  section.single_project-mission
    .container
      h2
        svg(width="20" height="15" viewbox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg")
          path(d="M19.3361 1.91243L17.9921 0.544434L7.12006 11.4164L2.00806 6.30443L0.664062 7.67243L7.12006 14.1284L19.3361 1.91243Z" fill="#56CBAE")
        span Mission
      p.lead
        | By understanding and believing in your idea we strive to add meaning. 
        br
        | The business drives design and we like it.
  section.projects
    .projects-row
      .projects-hero(hidden="")
        .container-fluid
          a(href="#")
            img.img-fluid.d-block.d-md-none(src="./images/webdesign01.png")
            .d-none.d-md-block.webdesign-anim
              img(src="./images/webdesign-device.png")
          h2.headline.slideUpAnim
            a(href="#")
              span
                | Web
                br
                | Design
          p
            a.btn-hutcko(href="#")
              span View all designs
              svg(width="32" height="32" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M24.315 16l-.54-.62-5.76-6.72-1.45 1.24 4.41 5.14H7.685v1.92h13.29l-4.41 5.14 1.45 1.24 5.76-6.72.54-.62z" fill="#C9E9E1")
      .projects-item
        a.hoverZoomInAnim(href="#")
          img.img-fluid(src="./images/webdesign02.png")
        .project-copy.slideCopyAnim(data-delaydesktop="400")
          h3
            a(href="#")
              span Easy Webinar
          p
            a(href="#")
              span Design/Development
      .projects-item
        a.hoverZoomInAnim(href="#")
          img.img-fluid(src="./images/webdesign03.png")
        .project-copy.slideCopyAnim(data-delaydesktop="800")
          h3
            a(href="#")
              span Easy Webinar
          p
            a(href="#")
              span Design/Development
      .projects-item
        a.hoverZoomInAnim(href="#")
          img.img-fluid(src="./images/webdesign02.png")
        .project-copy.slideCopyAnim(data-delaydesktop="400")
          h3
            a(href="#")
              span Easy Webinar
          p
            a(href="#")
              span Design/Development
      .projects-item
        a.hoverZoomInAnim(href="#")
          img.img-fluid(src="./images/webdesign03.png")
        .project-copy.slideCopyAnim(data-delaydesktop="800")
          h3
            a(href="#")
              span Easy Webinar
          p
            a(href="#")
              span Design/Development



  include layout/prefooter.pug