extends layout/layout.pug

block beforeScripts
  script(src="./js/jquery-1.11.0.min.js")
  script(src="./js/slick.min.js")
    
block variables
  - var slug = "works";
  - var title = "Snapwire";
  - var bodyClass= "single_project single_project-snapwire";
  - var bodyId= "singleProject";
  - var logo = './images/logo-dark-white.svg';

block content

  section.hero-banner.single_project-hero
    .container
      .row.align-items-center
        .col-12.col-md-6.order-2.order-md-1
          p.category
            a(href="/works.html") Web application
          h1.headline Snapwire
          p.lead Snapwire is a visual content platform that brings your creative brief from idea to reality using our production solutions and visual creator marketplace
          p: a.btn.btn-hutcko(href= link)
            span Dribbble Link
            svg(width="32" height="32" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M24.315 16l-.54-.62-5.76-6.72-1.45 1.24 4.41 5.14H7.685v1.92h13.29l-4.41 5.14 1.45 1.24 5.76-6.72.54-.62z" fill="#C9E9E1")
        .col-12.col-md-6.order-1.order-md-2
          img.hero-image.img-fluid(src="./images/single/snapwire-hero.png")

  section.single_project-lead2
    .container
      .row.single_project-lead-main_row
        .col-12.col-md-4
          h5 Our contributions
          ul.list-unstyled
            li Product Strategy
            li UX/UI Design
            li Branding
        .col-12.col-md-4
          h5 Team composition
          ul.list-unstyled
            li Design Director
            li Product Manager
            li Graphic Designer
        .col-12.col-md-4
          h5 Duration
          p 3 months

  section.single_project-content
    .container
      img.img-fluid.d-none.d-md-block(src="./images/single/snapwire-lead_image.png")
      img.img-fluid.d-md-none(src="./images/single/snapwire-lead_image--mobile.png")
      h2.headline Comparison page
      p.lead We have created a webinar comparison page for the main client site. Used unique vector illustrations, tried to stick to their style.

  section.single_project-carousel
    #projectCarousel.slick-carousel
      .slick-carousel-item
        .slick-carousel-item-image-wrap
          img.img-fluid(src="./images/single/snapwire-carousel01.png")
      .slick-carousel-item
        .slick-carousel-item-image-wrap
          img.img-fluid(src="./images/single/snapwire-carousel02.png")
      .slick-carousel-item
        .slick-carousel-item-image-wrap
          img.img-fluid(src="./images/single/snapwire-carousel03.png")
      .slick-carousel-item
        .slick-carousel-item-image-wrap
          img.img-fluid(src="./images/single/snapwire-carousel04.png")

  section.single_project-mission
    .container
      h2
        svg(width="20" height="15" viewbox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg")
          path(d="M19.3361 1.91243L17.9921 0.544434L7.12006 11.4164L2.00806 6.30443L0.664062 7.67243L7.12006 14.1284L19.3361 1.91243Z" fill="#56CBAE")
        span Mission
      p.lead
        | We have been collaborating with EW some time after working on the comparison page of their website. They then tasked us with making the design for several courses page narrative to engage better with their audience.


  include single/related.pug

  include layout/prefooter.pug