extends layout/layout.pug
    
block variables
  - var slug = "works";
  - var title = "Voogy";
  - var bodyClass= "single_project single_project-voogy";
  - var bodyId= "singleProject";
  - var logo = './images/logo-dark-white.svg';

block content

  section.hero-banner.single_project-hero
    .container
      .row.align-items-center
        .col-12.col-md-6.order-2.order-md-1
          p.category
            a(href="/works.html") Web Application Design
          h1.headline Voogy
          p.lead Voogy is the platform for offers an all-in-one growth demand stack for inbound and outbound sales team across the globe. Identify who is on your website right now.
          p: a.btn.btn-hutcko(href= link)
            span VIEW LIVE VERSION
            svg(width="32" height="32" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M24.315 16l-.54-.62-5.76-6.72-1.45 1.24 4.41 5.14H7.685v1.92h13.29l-4.41 5.14 1.45 1.24 5.76-6.72.54-.62z" fill="#C9E9E1")
        .col-12.col-md-6.order-1.order-md-2
          img.hero-image.img-fluid(src="./images/single/voogy-hero.png")

  section.single_project-lead2
    .container
      .row.single_project-lead-main_row
        .col-12.col-md-4
          h5 Our contributions
          ul.list-unstyled
            li Product Strategy
            li UX/UI Design
            li Branding
        .col-12.col-md-4
          h5 Team composition
          ul.list-unstyled
            li Design Director
            li Product Manager
            li Graphic Designer
        .col-12.col-md-4
          h5 Duration
          p 3 months

  section.single_project-content2.medic_bank-manage
    .container
      .row.align-items-center
        .col-12.col-md-5
          h2.headline Integrations that works for your business!
          p.lead Sync the insights and data that powers your sales team to your favorite integration in one click or with workflow automation!
        .col-12.col-md-7
          img.hero-image.img-fluid(src="./images/single/voogy-content01.png")

  section.single_project-content2.bg-gray.pt-64px.pb-94px.medic_bank-feature
    .container
      .row.align-items-center
        .col-12.col-md-6
          img.hero-image.img-fluid(src="./images/single/voogy-content02.png")
        .col-12.col-md-6
          h2.headline.mx-0.ml-auto.max-width-480px Identify and Auto Prospect Visitors
          p.lead.ml-auto.max-width-480px When a website visitor lands on your website, we will depend on your criteria auto prospect the right people to contact and start an automation 24/7. Email + LinkedIn Request + LinkedIn Message + Withdraw request in the end.
  section
    .container.text-center
      h2.headline Website Design
      p.lead We made it easy to connect your social outreach to your CRM, MarketingAutomation, and Slack.
      img.hero-image.img-fluid(src="./images/single/voogy-content03.png")

  section.single_project-mission
    .container
      h2
        svg(width="20" height="15" viewbox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg")
          path(d="M19.3361 1.91243L17.9921 0.544434L7.12006 11.4164L2.00806 6.30443L0.664062 7.67243L7.12006 14.1284L19.3361 1.91243Z" fill="#56CBAE")
        span Mission
      p.lead
        | By understanding and believing in your idea we strive to add meaning. The business drives design and we like it. By understanding and believing in your idea we strive to add meaning. The business drives design and we like it.
        
  include single/related.pug

  include layout/prefooter.pug