extends layout/layout.pug

block beforeScripts
  script(src="./js/jquery-3.5.1.min.js")

block variables
  - var slug = "works";
  - var title = "Works";
  - var bodyClass= "works";
  - var bodyId= "worksPage";

block content

  section.works-filter
    .container
      ul
        li: a(href="#").works-filter-all.js-filter-all.is-active All
        li: a(href="#").works-filter-web.js-filter-web Web Design
        li: a(href="#").works-filter-app.js-filter-app App Design
        li: a(href="#").works-filter-graphic.js-filter-graphic Graphic Design

  include temp/works-webdesign.pug
  include temp/works-appdesign.pug
  include temp/works-graphicdesign.pug

  include layout/prefooter.pug